{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% set _thisManualType = myData.manuals[myData.manual].type %}
{% set _thisManual = myData.manuals[myData.manual].content %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
    
    {% set _manualHeaderTitle = _thisManual.title|safe + " " + _thisManual.date|safe %}
    {% include "./includes/manual-header.html" %}
      
    <ol class="breadcrumb-trail">
        <li class="no-separator">Contents</li>
    </ol>
      
    <article aria-labelledby="manual-title" id="content">
        <div class="manual-body">

            <p class="summary">{{_thisManual.intro|safe}} {{_thisManual.interest|safe}}</p>
            
            <div class="call-to-action govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body"><a href="rules-list" class="govuk-link govuk-link--no-visited-state">View the rules in alternative formats (including PDF)</a> which you can download, print and view them offline.</p>
                </div>
            </div>

            <!-- <div class="download-manual govuk-inset-text">
                <p class="govuk-body">Apprenticeship funding rules 2018 to 2019</p>
                <p class="govuk-body"><a href="rules-list" class="govuk-link govuk-link--no-visited-state">View the manuals in another format</a>.</p>
            </div> -->

            <!-- <div class="download-manual govuk-inset-text">
                <p class="govuk-body">
                    You can download a copy of this manual as a:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        {% if _thisManualType == "employer" %}
                        <a href="/public/downloads/1819_Employer_Rules_v1.0.pdf" target="_blank" class="govuk-link govuk-link--no-visited-state">
                        {% else %}
                        <a href="/public/downloads/1819_Provider_Rules_v1.0.pdf" target="_blank" class="govuk-link govuk-link--no-visited-state">
                        {% endif %}
                        PDF, 1.4MB, 70 pages
                        </a>
                    </li>
                    <li>
                        {% if _thisManualType == "employer" %}
                        <a href="/public/downloads/1819_Employer_Rules_v1.0.pdf" target="_blank" class="govuk-link govuk-link--no-visited-state">
                        {% else %}
                        <a href="/public/downloads/1819_Provider_Rules_v1.0.pdf" target="_blank" class="govuk-link govuk-link--no-visited-state">
                        {% endif %}
                        RTF, 1.1MB, 72 pages
                        </a>
                    </li>
                </ul>
                <p class="govuk-body">If you need this document in a different format, email <a href="#">[email address here]</a>.</p>
            </div> -->

            <ol class="section-list">
                {% for section in _thisManual.sections %}
                <li>
                    <a class="" href="manual-page?manual={{myData.manual}}&manualpage={{section.id}}">
                        <span class="subsection-title-text">{{section.title|safe}}</span>
                    </a>
                </li>
                {% endfor %}
            </ol>
            
        </div>
    </article>

    <!-- <div class="download-manual">
        <p class="govuk-body"><a href="manual-pdf?manual={{myData.manual}}" target="_blank" class="govuk-link govuk-link--no-visited-state">Download this manual (PDF, 250KB)</a></p>
        <p class="govuk-body">If you would like this manual in another format please email <a href="#">email address here</a>.</p>
    </div> -->
            
    <div class="print-page">
        <a onclick="window.print();return false;" href="#">Print this page</a>
    </div>

</div>

{% endblock %}