{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% set _thisManual = myData.manuals[myData.manual].content %}
{% set section = {} %}
{% for _section in _thisManual.sections %}
    {% if myData.manualpage == _section.id %}
        {% set section = _section %}
    {% endif %}
{% endfor %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
    
    {% set _manualHeaderTitle = _thisManual.title|safe + " " + _thisManual.date|safe %}
    {% include "./includes/manual-header.html" %}
      
    <ol class="breadcrumb-trail">
        <li><a href="manual-home?manual={{myData.manual}}">Contents</a></li>
        <li class="last-child">{{section.title|safe}}</li>
    </ol>

    <!-- TODO add 'Employers and apprenticeships: things to check' section to 'employers-manual-original' -->
      
    <article aria-labelledby="manual-title" id="content">
        <div class="manual-body">
            <article aria-labelledby="section-title">
                <h1 id="section-title" class="section-title">
                    {{section.title|safe}}
                </h1>
                <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
                    <div class="collapsible-subsections">
                        <div class="gem-c-govspeak govuk-govspeak ">

                            <!-- TODO in json 
                            - see paragraph, see paragraphs, in paragraph, in paragraphs - links
                            -  -->

                            {% for subsection in section.subsections %}

                                <!-- Sub section heading -->
                                <h2 id="{{subsection.id}}">
                                    {% if subsection.type != "main" %}
                                        {{subsection.title|safe}}
                                    {% else %}
                                        {{section.title|safe}}
                                    {% endif %}
                                </h2>
            
                                <!-- Parts e.g. 19 -->
                                {% for part in subsection.parts %}

                                    {% if section.id == "glossary" %}
                                        <h3 class="govuk-heading-s">{{part.title|safe}}</h3>
                                        <p class="govuk-body">{{part.content|safe}}</p>
                                    {% else %}
                                        {% if part.type == "header" %}
                                        <h3 class="govuk-heading-s">{{part.content|safe}}</h3>
                                        {% elif part.type == "block" %}
                                        <h3 class="govuk-heading-s">{{part.title|safe}}</h3>
                                        <p class="govuk-body">
                                            {{part.content|safe}}
                                        </p>
                                        {% elif part.type == "table1" %}
                                        <!-- TODO render table from page 61 here -->
                                        {% else %}
                                        <p class="govuk-body">
                                            <span class="govuk-!-font-weight-bold">P{{part.id|safe}}.</span> {{part.content|safe}}
                                        </p>
                                        {% endif %}
                                    {% endif %}
                                    
                                    <!-- Sub Parts e.g. 19.1 -->
                                    {% for subpart in part.subparts %}
                                    
                                        {% if subpart.type == "list" %}
                                        <div style="margin-left: 20px">{{subpart.content|safe}}</div>
                                        {% else %}
                                        <p class="govuk-body" style="margin-left: 20px"><span class="govuk-!-font-weight-bold">P{{subpart.id|safe}}.</span> {{subpart.content|safe}}</p>
                                        {% endif %}

                                        <!-- Sub Sub Parts e.g. 19.1.1 -->
                                        {% for subsubpart in subpart.subsubparts %}
                                            {% if subsubpart.type == "list" %}
                                            <div style="margin-left: 40px">{{subsubpart.content|safe}}</div>
                                            {% else %}
                                            <p class="govuk-body" style="margin-left: 40px"><span class="govuk-!-font-weight-bold">P{{subsubpart.id|safe}}.</span> {{subsubpart.content|safe}}</p>
                                            {% endif %}
                                        {% endfor %}

                                    {% endfor %}
            
                                {% endfor %}
            
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <!-- Footnotes -->
                {% if section.footnotes|length > 0 %}
                <div class="govuk-!-margin-top-9">
                    <!-- <h3 class="govuk-heading-s">Footnotes: {{section.title|safe}}</h3> -->
                    <p class="govuk-body-s">Footnotes</p>
                    <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    {% for footnote in section.footnotes %}
                        <li><sup class="">{{footnote.id|safe}}</sup> {{footnote.content|safe}}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}


            </article>
        </div>
    </article>
            
            
    <div class="print-page">
        <a onclick="window.print();return false;" href="#">Print this page</a>
    </div>
</div>

{% endblock %}