{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% set _thisManualType = myData.manuals[myData.manual].type %}
{% set _thisManual = myData.manuals[myData.manual].content %}
{% set section = {} %}
{% for _section in _thisManual.sections %}
    {% if myData.manualpage == _section.id %}
        {% set section = _section %}
    {% endif %}
{% endfor %}

{% set _rulePrefix = "P" %}
{% if _thisManualType == "employer" %}
    {% set _rulePrefix = "E" %}
{% endif %}

{% block pageStyles %}
<style>
    .rule-prefix,
    .rule-content {
        display: block;
        /* vertical-align: top; */
    }
    .rule-prefix {
        /* width: 12%; */
    }
    .rule-content {
        /* width: 88%; */
    }
</style>
{% endblock %}


{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
    
    {% set _manualHeaderTitle = _thisManual.title|safe + " " + _thisManual.date|safe %}
    {% include "./includes/manual-header.html" %}
      
    <ol class="breadcrumb-trail">
        <li><a href="manual-home?manual={{myData.manual}}">Contents</a></li>
        <li class="last-child">{{section.title|safe}}</li>
    </ol>

    <!-- TODO 
        - add 'Employers and apprenticeships: things to check' section to 'employers-manual-original'
        - add links from sup to footnote
        -- add links to rules that are references e.g. (see paragraphs <a class='govuk-link' href='manual-page?manualpage=what-apprenticeship#apprenticeship-duration-employment-hours'>P45 to P61</a>)  
    -->

    <!-- 
        TODO ideas: 
            - add blurb to each section
            - add rules numbers after each section header e.g. Intro (rules 1-18)
            - add links to rules that are references e.g. "see paragraphs P45 to P61" could change to "see Ineligible costs (45 to 61)"
    -->
      
    <article aria-labelledby="manual-title" id="content">
        <div class="manual-body">
            <article aria-labelledby="section-title">
                <h1 id="section-title" class="section-title">
                    {{section.title|safe}}
                </h1>
                <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
                    <div class="collapsible-subsections">
                        <div class="gem-c-govspeak govuk-govspeak ">

                            <!-- TODO in json 
                            - see paragraph, see paragraphs, in paragraph, in paragraphs - links
                            -  -->

                            {% for subsection in section.subsections %}

                                <!-- Sub section heading -->
                                <h2 id="{{subsection.id}}">
                                    {% if subsection.type != "main" %}
                                        {{subsection.title|safe}}
                                    {% else %}
                                        {{section.title|safe}}
                                    {% endif %}
                                </h2>

                                <!-- Flow chart -->
                                {% if subsection.id == "support-english-maths-training" %}
                                {% include "./includes/english-maths-flow-fixed.svg" %}
                                {% endif %}
            
                                <!-- Parts e.g. 19 -->
                                {% for part in subsection.parts %}

                                    {% if section.id == "glossary" %}
                                        <h3 class="govuk-heading-s">{{part.title|safe}}</h3>
                                        <p class="govuk-body">{{part.content|safe|trim}}</p>
                                    {% else %}
                                        {% if part.type == "header" %}
                                        <h3 class="govuk-heading-s">{{part.content|safe|trim}}</h3>
                                        {% elif part.type == "block" %}
                                        <h3 class="govuk-heading-s">{{part.title|safe}}</h3>
                                        <p class="govuk-body">
                                            {{part.content|safe|trim}}
                                        </p>
                                        {% elif part.type == "table1" %}
                                        <!-- TODO render table from page 61 here -->
                                        {% else %}
                                        <p class="govuk-body">
                                            <span class="govuk-!-font-weight-bold rule-prefix">{{_rulePrefix}}{{part.id|safe}}</span><span class="rule-content">{{part.content|safe|trim}}</span>
                                        </p>
                                        {% endif %}
                                    {% endif %}
                                    
                                    <!-- Sub Parts e.g. 19.1 -->
                                    {% for subpart in part.subparts %}
                                    
                                        {% if subpart.type == "list" %}
                                        <div style="margin-left: 30px">{{subpart.content|safe|trim}}</div>
                                        {% else %}
                                        <p class="govuk-body" style="margin-left: 30px"><span class="govuk-!-font-weight-bold rule-prefix">{{_rulePrefix}}{{subpart.id|safe}}</span><span class="rule-content">{{subpart.content|safe|trim}}</span></p>
                                        {% endif %}

                                        <!-- Sub Sub Parts e.g. 19.1.1 -->
                                        {% for subsubpart in subpart.subsubparts %}
                                            {% if subsubpart.type == "list" %}
                                            <div style="margin-left: 60px">{{subsubpart.content|safe|trim}}</div>
                                            {% else %}
                                            <p class="govuk-body" style="margin-left: 60px"><span class="govuk-!-font-weight-bold rule-prefix">{{_rulePrefix}}{{subsubpart.id|safe}}</span><span class="rule-content">{{subsubpart.content|safe|trim}}</span></p>
                                            {% endif %}
                                        {% endfor %}

                                    {% endfor %}
            
                                {% endfor %}
            
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <!-- Footnotes -->
                {% if section.footnotes|length > 0 %}
                <div class="govuk-!-margin-top-9">
                    <!-- <h3 class="govuk-heading-s">Footnotes: {{section.title|safe}}</h3> -->
                    <p class="govuk-body-s">Footnotes</p>
                    <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    {% for footnote in section.footnotes %}
                        <li><sup class="">{{footnote.id|safe}}</sup> {{footnote.content|safe|trim}}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}


            </article>
        </div>
    </article>
            
    <!-- <div class="download-manual">
        <p class="govuk-body"><a href="manual-pdf?manual={{myData.manual}}" target="_blank" class="govuk-link govuk-link--no-visited-state">Download this manual (PDF, 250KB)</a></p>
        <p class="govuk-body">If you would like this manual in another format please email <a href="#">email address here</a>.</p>
    </div> -->
            
    <div class="print-page">
        <a onclick="window.print();return false;" href="#">Print this page</a>
    </div>
</div>

{% endblock %}