{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% set _thisManualType = myData.manuals[myData.manual].type %}
{% set _thisManual = myData.manuals[myData.manual].content %}

{% block pageStyles %}
<style>
    /* hiding parts */
    .hide-non-updated .section-contains-no-updates {
        display: none;
    }
    /* showing updates */
    .updates {
        display: none;
        /* margin-top:0.5em; */
    }
    .show-updates .updates {
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
    
    {% set _manualHeaderTitle = _thisManual.title|safe + " " + _thisManual.date|safe %}
    {% include "../includes/manual-header.html" %}
      
    <ol class="breadcrumb-trail">
        <li class="no-separator">Contents</li>
    </ol>
      
    <article aria-labelledby="manual-title" id="content">
        <div class="manual-body">

            <p class="summary">{{_thisManual.intro|safe}} {{_thisManual.interest|safe}}</p>
            
            <!-- <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds" > -->
                    <div class="govuk-inset-text">
                        <!-- <p class="govuk-body"> -->
                            <a href="rules-list" class="govuk-link govuk-link--no-visited-state">View the rules in alternative formats (including PDF)</a> which you can download, print and view offline.
                        <!-- </p> -->
                    </div>
                <!-- </div>
            </div> -->

            {% set _manualHasUpdates = false %}
            {% for section in _thisManual.sections %}
                {% for subsection in section.subsections %}
                    {% for part in subsection.parts %}
                        {% if part.updates %}
                            {% set _manualHasUpdates = true %}
                        {% endif %}
                        {% for subpart in part.subparts %}
                            {% if subpart.updates %}
                                {% set _manualHasUpdates = true %}
                            {% endif %}
                            {% for subsubpart in subpart.subsubparts %}
                                {% if subsubpart.updates %}
                                    {% set _manualHasUpdates = true %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            {% if _manualHasUpdates %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds" >
                    <!-- <div class="govuk-form-group"> -->
                        <fieldset class="govuk-fieldset" >
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item" >
                                    <input class="govuk-checkboxes__input" id="version-1" name="filter" type="checkbox" value="version1">
                                    <label class="govuk-label govuk-checkboxes__label" for="version-1">
                                    Show only sections with content updates in 2018
                                    </label>
                                </div>
                                <div class="filtered-message call-to-action" style="margin-bottom:0">
                                    <p class="govuk-body govuk-!-font-weight-bol">You are viewing only a selection of the contents.</p>
                                    <p class="govuk-body govuk-!-font-weight-bold"><a href="#" class="clear-filter govuk-link govuk-link--no-visited-state">Remove filter</a> to see all.</p>
                                </div>
                            </div>
                        </fieldset>
                    <!-- </div> -->
                </div>
            </div>
            {% endif %}

            <ol class="section-list">
                {% for section in _thisManual.sections %}

                    {% set _sectionClasses = "section-contains-no-updates" %}
                    {% set _sectionHasUpdates = false %}
                    {% for subsection in section.subsections %}
                        {% for part in subsection.parts %}
                            {% if part.updates %}
                                {% set _sectionClasses = "" %}
                                {% set _sectionHasUpdates = true %}
                            {% endif %}
                            {% for subpart in part.subparts %}
                                {% if subpart.updates %}
                                    {% set _sectionClasses = "" %}
                                    {% set _sectionHasUpdates = true %}
                                {% endif %}
                                {% for subsubpart in subpart.subsubparts %}
                                    {% if subsubpart.updates %}
                                        {% set _sectionClasses = "" %}
                                        {% set _sectionHasUpdates = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                <li class=" {{_sectionClasses}} ">
                    <a class="" href="manual-page?manual={{myData.manual}}&manualpage={{section.id}}">
                        <span class="subsection-title-text">{{section.title|safe}}</span>
                        <span class="subsection-summary">
                            Description goes here
                        </span>
                        {% if _sectionHasUpdates %}
                        <strong class="updates govuk-tag" style="margin-right: 5px; background: #005ea5">
                            Edited in 2018
                        </strong>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ol>
            
        </div>
    </article>

    <!-- <div class="download-manual">
        <p class="govuk-body"><a href="manual-pdf?manual={{myData.manual}}" target="_blank" class="govuk-link govuk-link--no-visited-state">Download this manual (PDF, 250KB)</a></p>
        <p class="govuk-body">If you would like this manual in another format please email <a href="#">email address here</a>.</p>
    </div> -->
            
    <div class="print-page">
        <a onclick="window.print();return false;" href="#">Print this page</a>
    </div>

</div>

{% endblock %}

{% block pageScripts %}
<script>
$(document).ready(function(){
    var _checkFilters = $("input[name='filter']")
    var _rulesContainer = $(".section-list")
    var _filteredMessage = $(".filtered-message").hide()
    var _clearFilter = $(".clear-filter")
    var _showUpdates = $(".show-updates")
    var _openAll = $(".js-collection-controls").children().first()
    var _sectionsWithNoUpdates = $(".section-contains-no-updates")

    _showUpdates.click(function (e){
        _checkFilters.each(function( index ) {
            $(this).prop('checked', true);
        })
        _checkFilters.trigger("change")
        e.preventDefault();
    })

    _clearFilter.click(function (e){
        _checkFilters.each(function( index ) {
            $(this).prop('checked', false);
        })
        _checkFilters.trigger("change")
        e.preventDefault();
    })



    _checkFilters.change(function(){
        var _addTheClass = false
        _rulesContainer.removeClass("show-updates")
        _rulesContainer.removeClass("hide-non-updated")
        _checkFilters.each(function( index ) {
            var _thisCheck = this,
                _checked = _thisCheck.checked,
                _thisID = _thisCheck.id
            _rulesContainer.removeClass("show-part-"+_thisID)
                
            if(_checked){
                _openAll.trigger("click")
                _rulesContainer.addClass("show-part-"+_thisID)
                _addTheClass = true
                _filteredMessage.show()
                _showUpdates.hide()
                // hide sections
                // _sectionsWithNoUpdates.parent().hide()
            } else {
                _showUpdates.show()
                _filteredMessage.hide()
                // show sections
                // _sectionsWithNoUpdates.parent().show()
            }

        });
        if(_addTheClass == true) {
            _rulesContainer.addClass("show-updates")
            _rulesContainer.addClass("hide-non-updated")
        }
    });



});
</script>
{% endblock %}