<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:description" content="The rules that will apply to all apprenticeship provision funded by the ESFA.">
  <meta property="og:title" content="Apprenticeship funding and performance management rules 2018 to 2019">
  <meta property="og:url" content="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="GOV.UK">
  <meta name="twitter:card" content="summary">
  <meta name="description" content="The rules that will apply to all apprenticeship provision funded by the ESFA.">
  <meta name="govuk:taxon-slugs" content="apprenticeships-funding,hiring-and-training-an-apprentice">
  <meta name="govuk:taxon-slug" content="apprenticeships-funding">
  <meta name="govuk:taxon-ids" content="2682bef9-0963-43e3-8610-30b31ec1c4d0,56b78356-c7bf-4460-8775-d04b590ec7ca">
  <meta name="govuk:taxon-id" content="2682bef9-0963-43e3-8610-30b31ec1c4d0">
  <meta name="govuk:themes" content="education">
  <meta name="govuk:publishing-government" content="2015-conservative-government">
  <meta name="govuk:political-status" content="non-political">
  <meta name="govuk:analytics:organisations" content="&lt;EO1216&gt;">
  <meta name="govuk:content-has-history" content="true">
  <meta name="govuk:content-id" content="f9fdce65-0d95-4e26-9eb5-123d950a77b6">
  <meta name="govuk:navigation-document-type" content="guidance">
  <meta name="govuk:user-journey-stage" content="thing">
  <meta name="govuk:schema-name" content="publication">
  <meta name="govuk:publishing-application" content="whitehall">
  <meta name="govuk:format" content="guidance">
  <meta name="csrf-token" content="KJZElNfHyeHh3+bd9ngxMbJ/JWmYlL9YxTLKVeK8W8SB2T8C5armuPyPeZWmwJYHoXWw+OaRcBQF+t8K3gaV2A==">
  <meta name="csrf-param" content="authenticity_token">
  <meta charset="utf-8">
  <title lang="en">
    Apprenticeship funding and performance management rules 2018 to 2019 - GOV.UK
  </title>

  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css"
    crossorigin="anonymous" integrity="sha256-wLi6ixZSqsrSmNdPJHUiYBh/U4tQxAwkhPfzM8vDzys=">
  <!--<![endif]-->
  <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-2c1bb089ee71d4d70a08ba94e4b363a99542c8feddf3aa979bc4f8962aed5e02.css" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-062e553ef49a9f884a3a1f885c8a18e829b6557046b075e1384f6092a60151d1.css" /><![endif]-->
  <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-11027733d1abeac34c7bf14e37fea30366ad3a87cfd7f7a084de3a3b4b838412.css" /><![endif]-->
  <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css"
    crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

  <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css"
    crossorigin="anonymous" integrity="sha256-6exaX4LlwqF5J841bloFTLKAJewVR+xdAPXJjS7F5IE=">

  <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico"
    type="image/x-icon">
  <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg"
    color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
  <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
  <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

  <meta name="theme-color" content="#0b0c0c">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-5c3d985d43c06c7c5efa157f99dcc22b3b62fcc9944669d4237fc2b78793baf2.css"
    crossorigin="anonymous" integrity="sha256-XD2YXUPAbHxe+hV/mdzCKzti/MmURmnUI3/Ct4eTuvI=">
 

  <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-9a2de3ce1590c8ca478a6f7edf5a2e4bad0c6291b1dd4a6e7ca85f653d9591b4.css"
    crossorigin="anonymous" integrity="sha256-mi3jzhWQyMpHim9+31ouS60MYpGx3UpufKhfZT2VkbQ=">



  <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-b6ad63f5aadc34d97304be8af907320307342bb63840a5e70b20e4c7ce2d3c18.css"
    crossorigin="anonymous" integrity="sha256-tq1j9arcNNlzBL6K+QcyAwc0K7Y4QKXnCyDkx84tPBg=">
  <!--<![endif]-->
  <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-a9af06f0e0ff57a3916f6700715b87afc2f8c596fc6b03aa7b8ef4cbb8bdbb58.css"
    crossorigin="anonymous" integrity="sha256-qa8G8OD/V6ORb2cAcVuHr8L4xZb8awOqe470y7i9u1g=">
  <link rel="canonical" href="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">
 
  <meta name="govuk:rendering-application" content="government-frontend">
  <style>
    .indexLinks .govuk-link:visited, 
    .indexLinks a:visited {
        color: #005ea5;
    }
    .indexLinks .govuk-link:hover, 
    .indexLinks a:hover {
        color: #2b8cc4;
    }
    </style>
</head>

<body class='indexLinks'>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink">Skip to main content</a>
    </div>
  </div>

  <!-- <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div> -->

  <header role="banner" id="global-header" class=" with-proposition">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content" data-module="track-click"
            data-track-category="homeLinkClicked" data-track-action="homeHeader">
            <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png"
              width="36" height="32" alt=""> GOV.UK
          </a>
        </div>
        <a href="#search" class="search-toggle js-header-toggle">Search</a>

        <form id="search" class="site-search" role="search">
          <div class="content">
            <label for="site-search-text">Search</label>
            <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
            <input class="submit" type="submit" value="Search">
          </div>
        </form>

      </div>

      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu" class="no-proposition-name gem-c-government-navigation">
            <ul id="proposition-links">
              <li>
                <a class="" href="#organisations">
                  Departments
                </a>
              </li>
              <li>
                <a class="" href="#world">
                  Worldwide
                </a>
              </li>
              <li>
                <a class="" href="#how-government-works">
                  How government works
                </a>
              </li>
              <li>
                <a class="" href="#get-involved">
                  Get involved
                </a>
              </li>
              <li class="clear-child">
                <a class="active" href="#publications">
                  Publications
                </a>
              </li>
              <li>
                <a class="" href="#publications">
                  Consultations
                </a>
              </li>
              <li>
                <a class="" href="#statistics">
                  Statistics
                </a>
              </li>
              <li>
                <a class="" href="#announcements">
                  Announcements
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div id="user-satisfaction-survey-container"></div>


  <div id="global-header-bar"></div>

  <div id="wrapper" class="direction-ltr">

    <div class="gem-c-contextual-breadcrumbs">
      <!-- Rendering taxonomy breadcrumbs because the page is tagged to live taxons -->
      <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="homeLinkClicked" class="govuk-breadcrumbs__link" aria-current="false" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education"
              data-track-options='{"dimension28":"5","dimension29":"Education, training and skills"}' class="govuk-breadcrumbs__link"
              aria-current="false" href="#">Education, training and skills</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="breadcrumbClicked" class="govuk-breadcrumbs__link" aria-current="false" href="#">Further
              and higher education, skills and vocational training</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="breadcrumbClicked" class="govuk-breadcrumbs__link" aria-current="false" href="#">Further
              education funding</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="breadcrumbClicked" class="govuk-breadcrumbs__link" aria-current="false" href="#">Apprenticeships
              funding</a>
          </li>
        </ol>
      </div>
    </div>

    <main role="main" id="content" class="publication" lang="en">

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="gem-c-title
  
  gem-c-title--margin-bottom-5">
            <p class="gem-c-title__context">
              Guidance
            </p>
            <h1 class="gem-c-title__text gem-c-title__text--long">
              Apprenticeship funding and performance management rules 2018 to 2019
            </h1>
          </div>

        </div>


        <div class="column-two-thirds">

          <p class="gem-c-lead-paragraph ">
            The rules that will apply to all apprenticeship provision funded by the ESFA.
          </p>

        </div>
      </div>

      <div class="grid-row">
        <div class="metadata-logo-wrapper">
          <div class="column-two-thirds metadata-column">
            <div class="app-c-publisher-metadata">
              <div class="app-c-published-dates ">
                Published 19 June 2018
                <br>Last updated 9 August 2018
                — <a href="#history">see all updates</a>
              </div>

              <div class="app-c-publisher-metadata__other">
                <dl data-module="track-click">
                  <dt class="app-c-publisher-metadata__term">
                    From:
                  </dt>
                  <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                    <span class="app-c-publisher-metadata__definition-sentence">
                      <a href="#">Education and Skills Funding Agency</a>
                    </span>
                  </dd>
                </dl>
              </div>
            </div>

          </div>
          <div class="column-one-third">
          </div>
        </div>
      </div>




      <div class="grid-row">
        <div class="column-two-thirds responsive-bottom-margin">
          <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
            <dl data-module="track-click">
              <dt class="app-c-important-metadata__term">Applies to: </dt>
              <dd class="app-c-important-metadata__definition">England</dd>
            </dl>
          </div>

          <div class="responsive-bottom-margin">
            <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin  " id="documents-title">Documents</h2>


            <div aria-labelledby="documents-title">

              <div class="gem-c-govspeak govuk-govspeak direction-ltr">

                <!-- EMPLLOYERS -->
                <section class="attachment embedded" id="attachment_2875831">
                  <div class="attachment-thumb">
                    <a aria-hidden="true" class="thumbnail" href="manual-home?manual=employers-manual-original"><img
                        alt="" src="/public/images/thumbnail_1819_Employer_Rules_v1.0.png"></a>
                  </div>
                  <div class="attachment-details">
                    <h2 class="title"><a href="manual-home?manual=employers-manual-original">Apprenticeship funding:
                        rules and guidance for employers</a></h2>
                    <p class="metadata">
                      <span class="type">HTML</span>
                    </p>
                  </div>
                </section>
                <section class="attachment embedded" id="attachment_2875834">
                    <div class="attachment-thumb">
                      <a aria-hidden="true" class="thumbnail" href="#"><img alt="" src="/public/images/thumbnail_1819_Employer_Rules_v1.0.png"></a>
                    </div>
                    <div class="attachment-details">
                      <h2 class="title"><a aria-describedby="attachment-2875834-accessibility-help" href="/public/downloads/1819_Employer_Rules_v1.0.pdf">Apprenticeship funding:
                        rules and guidance for employers</a></h2>
                      <p class="metadata">
                        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">2.3MB</span>,
                        <span class="page-length">59 pages</span>
                      </p>
                      <div data-module="toggle" class="accessibility-warning" id="attachment-2875834-accessibility-help">
                        <h2>This file may not be suitable for users of assistive technology.
                          <a class="toggler" href="#attachment-2875834-accessibility-request" data-controls="attachment-2875834-accessibility-request"
                            data-expanded="false">Request an accessible format.</a>
                        </h2>
                        <p id="attachment-2875834-accessibility-request" class="js-hidden">
                          If you use assistive technology (such as a screen reader) and need a
                          version of this document in a more accessible format, please email <a href="#">sde.servicedesk@education.gov.uk</a>.
                          Please tell us what format you need. It will help us if you say what assistive technology you
                          use.
  
                        </p>
                      </div>
                    </div>
                  </section>

                  <!-- PROVIDERS -->
                  <section class="attachment embedded" id="attachment_2875833">
                    <div class="attachment-thumb">
                      <a aria-hidden="true" class="thumbnail" href="manual-home?manual=providers-manual-original"><img
                          alt="" src="/public/images/thumbnail_1819_Employer_Rules_v1.0.png"></a>
                    </div>
                    <div class="attachment-details">
                      <h2 class="title"><a href="manual-home?manual=providers-manual-original">Apprenticeship funding:
                          rules and guidance for training providers</a></h2>
                      <p class="metadata">
                        <span class="type">HTML</span>
                      </p>
                    </div>
                  </section>
                  <section class="attachment embedded" id="attachment_2875834">
                      <div class="attachment-thumb">
                        <a aria-hidden="true" class="thumbnail" href="#"><img alt="" src="/public/images/thumbnail_1819_Employer_Rules_v1.0.png"></a>
                      </div>
                      <div class="attachment-details">
                        <h2 class="title"><a aria-describedby="attachment-2875834-accessibility-help" href="/public/downloads/1819_Provider_Rules_v1.0.pdf">Apprenticeship funding:
                          rules and guidance for training providers</a></h2>
                        <p class="metadata">
                          <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">2.3MB</span>,
                          <span class="page-length">72 pages</span>
                        </p>
    
                        <div data-module="toggle" class="accessibility-warning" id="attachment-2875834-accessibility-help">
                          <h2>This file may not be suitable for users of assistive technology.
                            <a class="toggler" href="#attachment-2875834-accessibility-request" data-controls="attachment-2875834-accessibility-request"
                              data-expanded="false">Request an accessible format.</a>
                          </h2>
                          <p id="attachment-2875834-accessibility-request" class="js-hidden">
                            If you use assistive technology (such as a screen reader) and need a
                            version of this document in a more accessible format, please email <a href="#">sde.servicedesk@education.gov.uk</a>.
                            Please tell us what format you need. It will help us if you say what assistive technology you
                            use.
    
                          </p>
                        </div>
                      </div>
                  </section>

                  <!-- EMPLOYER PROVIDERS -->
                <section class="attachment embedded" id="attachment_2875832">
                  <div class="attachment-thumb">
                    <a aria-hidden="true" class="thumbnail" href="#"><img alt="" src="/public/images/thumbnail_1819_Employer_Rules_v1.0.png"></a>
                  </div>
                  <div class="attachment-details">
                    <h2 class="title"><a href="#">Apprenticeship funding: rules and guidance for employer-providers</a></h2>
                    <p class="metadata">
                      <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">1.33MB</span>,
                      <span class="page-length">67 pages</span>
                    </p>
                    <div data-module="toggle" class="accessibility-warning" id="attachment-2875834-accessibility-help">
                        <h2>This file may not be suitable for users of assistive technology.
                          <a class="toggler" href="#attachment-2875834-accessibility-request" data-controls="attachment-2875834-accessibility-request"
                            data-expanded="false">Request an accessible format.</a>
                        </h2>
                        <p id="attachment-2875834-accessibility-request" class="js-hidden">
                          If you use assistive technology (such as a screen reader) and need a
                          version of this document in a more accessible format, please email <a href="#">sde.servicedesk@education.gov.uk</a>.
                          Please tell us what format you need. It will help us if you say what assistive technology you
                          use.
  
                        </p>
                      </div>
                  </div>
                </section>

                <!-- Performace mgmt rules -->
                <section class="attachment embedded" id="attachment_2875835">
                  <div class="attachment-thumb">
                    <a aria-hidden="true" class="thumbnail" href="#"><img alt="" src="/public/images/thumbnail_1819_Employer_Rules_v1.0.png"></a>
                  </div>
                  <div class="attachment-details">
                    <h2 class="title"><a href="#">Apprenticeship performance-management rules for training providers
                      </a></h2>
                    <p class="metadata">
                      <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">633KB</span>,
                      <span class="page-length">16 pages</span>
                    </p>
                    <div data-module="toggle" class="accessibility-warning" id="attachment-2875834-accessibility-help">
                        <h2>This file may not be suitable for users of assistive technology.
                          <a class="toggler" href="#attachment-2875834-accessibility-request" data-controls="attachment-2875834-accessibility-request"
                            data-expanded="false">Request an accessible format.</a>
                        </h2>
                        <p id="attachment-2875834-accessibility-request" class="js-hidden">
                          If you use assistive technology (such as a screen reader) and need a
                          version of this document in a more accessible format, please email <a href="#">sde.servicedesk@education.gov.uk</a>.
                          Please tell us what format you need. It will help us if you say what assistive technology you
                          use.
  
                        </p>
                      </div>

                  </div>
                </section>

              </div>
            </div>
            <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin  " id="details-title">Details</h2>
            <div aria-labelledby="details-title">

              <div class="gem-c-govspeak govuk-govspeak direction-ltr">
                <div class="govspeak">
                  <p>These documents set out the funding rules for employers, employer-providers and training
                    providers.
                    The funding rules cover the period August 2018 to July 2019 and apply to all apprenticeship
                    programmes starting on or after 1 August 2018. This includes both apprenticeship frameworks and
                    standards.</p>

                  <h2 id="help-and-support">Help and support</h2>

                  <p>Training providers can contact us through our business operations service desk at <a href="#">SDE.servicedesk@education.gov.uk</a>
                    or telephone 0370 267 0001. You can also contact your provider management manager/adviser.</p>

                  <p>Employers requiring further support can contact us through our apprenticeship business support
                    team on 0800 015 0600.</p>
                </div>
              </div>

            </div>

          </div>

          <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="toggle">
            Published 19 June 2018
            <br>Last updated 9 August 2018
            <a href="#full-history" class="app-c-published-dates__toggle" data-controls="full-history" data-expanded="false"
              data-toggled-text="- hide all updates">+ show all updates</a>
            <div class="app-c-published-dates__change-history js-hidden" id="full-history">
              <ol>
                <li class="app-c-published-dates__change-item">
                  <time class="app-c-published-dates__change-date timestamp" datetime="2018-08-09T13:58:07.000+01:00">9
                    August 2018</time>
                  We have published the apprenticeships performance-management rules for August 2018 to March 2019.
                </li>
                <li class="app-c-published-dates__change-item">
                  <time class="app-c-published-dates__change-date timestamp" datetime="2018-07-31T18:34:40.000+01:00">31
                    July 2018</time>
                  We have published updated 2018 to 2019 apprenticeship funding rules.
                </li>
                <li class="app-c-published-dates__change-item">
                  <time class="app-c-published-dates__change-date timestamp" datetime="2018-06-19T16:37:00.000+01:00">19
                    June 2018</time>
                  First published.
                </li>
              </ol>
            </div>
          </div>

        </div>

        <div class="column-one-third">

          <div class="gem-c-contextual-sidebar">

            <!-- Rendering taxonomy sidebar because the page is tagged to live taxons -->
            <aside class="gem-c-taxonomy-navigation" data-module="track-click" role="complementary">
              <h2 class="gem-c-taxonomy-navigation__heading">Related content</h2>
              <div data-track-count="sidebarTaxonSection">
                <h3 class="gem-c-taxonomy-navigation__heading">
                  <a class="gem-c-taxonomy-navigation__link" href="#">Apprenticeships funding</a>
                </h3>

                <p class="gem-c-taxonomy-navigation__taxon-description">
                  Register of training providers, how funding works for employers, legal agreement, grants, check
                  employers' eligibility.
                </p>

              </div>
              <div data-track-count="sidebarTaxonSection">
                <h3 class="gem-c-taxonomy-navigation__heading">
                  <a class="gem-c-taxonomy-navigation__link" href="#">Hiring and training an apprentice</a>
                </h3>

                <p class="gem-c-taxonomy-navigation__taxon-description">
                  Become a training provider, recruitment and funding guidance, standards and assessment plans, how to
                  register.
                </p>

              </div>

              <div>
                <h3 class="gem-c-taxonomy-navigation__section-heading">
                  Collection
                </h3>
                <nav class="gem-c-taxonomy-navigation__navigation" data-module="gem-toggle" role="navigation">
                  <ul class="gem-c-taxonomy-navigation__list">
                    <li><a class="gem-c-taxonomy-navigation__section-link" href="#">ESFA: funding rates and formula</a></li>
                  </ul>
                </nav>
              </div>
            </aside>


          </div>

        </div>

      </div>

    </main>

    <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
      <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
        <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
          <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

          <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick"
            aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="#">
            Maybe
          </a>
          <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful"
            data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button"
            href="#">
            Yes <span class="visually-hidden">this page is useful</span>
          </a>
          <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm"
            data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="#">
            No <span class="visually-hidden">this page is not useful</span>
          </a>
          <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong"
            data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong"
            aria-expanded="false" role="button" href="#">
            Is there anything wrong with this page?
          </a>
        </div>

        <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
          Thank you for your feedback
        </div>
      </div>

      <form action="#" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden"
        data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post">
        <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback"
          data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row">
          <div class="gem-c-feedback__column-two-thirds">
            <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

            <input type="hidden" name="url" value="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">
            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial
              information like your National Insurance number or credit card details.</p>


            <div class="govuk-form-group">

              <label for="input-432c3fc9" class="gem-c-label govuk-label ">
                What were you doing?
              </label>
              <input name="what_doing" class="gem-c-input govuk-input" id="input-432c3fc9" type="text" aria-describedby="feedback_explanation">
            </div>
            <div class="govuk-form-group">

              <label for="input-690476f6" class="gem-c-label govuk-label ">
                What went wrong?
              </label>
              <input name="what_wrong" class="gem-c-input govuk-input" id="input-690476f6" type="text">
            </div>
            <button class="gem-c-button govuk-button" type="submit">Send</button>
          </div>
        </div>
      </form>

      <form action="#" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden"
        data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm"
          data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row">
          <div class="gem-c-feedback__column-two-thirds">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input type="hidden" name="url" value="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">
            <input type="hidden" name="user_agent" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36">

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">
            <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to
              know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes
              to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-f8bd4155" class="gem-c-label govuk-label ">
                Email address
              </label>
              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-f8bd4155" type="email"
                aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


            <a href="#" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t
              have an email address?</a>
          </div>
        </div>
      </form>

    </div>

  </div>


  <footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">
      <div class="footer-categories">
        <div class="footer-explore">
          <h2>Services and information</h2>

          <ul>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#births-deaths-marriages">Births, deaths, marriages and care</a></li>
            <li><a href="#business">Business and self-employed</a></li>
            <li><a href="#childcare-parenting">Childcare and parenting</a></li>
            <li><a href="#citizenship">Citizenship and living in the UK</a></li>
            <li><a href="#justice">Crime, justice and the law</a></li>
            <li><a href="#disabilities">Disabled people</a></li>
            <li><a href="#driving">Driving and transport</a></li>
          </ul>
          <ul>
            <li><a href="#education">Education and learning</a></li>
            <li><a href="#employing-people">Employing people</a></li>
            <li><a href="#environment-countryside">Environment and countryside</a></li>
            <li><a href="#housing-local-services">Housing and local services</a></li>
            <li><a href="#tax">Money and tax</a></li>
            <li><a href="#abroad">Passports, travel and living abroad</a></li>
            <li><a href="#visas-immigration">Visas and immigration</a></li>
            <li><a href="#working">Working, jobs and pensions</a></li>
          </ul>
        </div>

        <div class="footer-inside-government">
          <h2>Departments and policy</h2>

          <ul>
            <li><a href="#how-government-works">How government works</a></li>
            <li><a href="#organisations">Departments</a></li>
            <li><a href="#world">Worldwide</a></li>
            <li><a href="#publications">Publications</a></li>
            <li><a href="#">Announcements</a></li>
          </ul>
        </div>
        <hr>
      </div>


      <div class="footer-meta">
        <div class="footer-meta-inner">
          <h2 class="visuallyhidden">Support links</h2>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
            <li>Built by the <a href="#">Government Digital Service</a>
            </li>
          </ul>



          <div class="open-government-licence">
            <p class="logo"><a href="#" rel="license">Open Government Licence</a></p>
            <p>All content is available under the <a href="#" rel="license">Open Government Licence v3.0</a>, except
              where otherwise stated</p>
          </div>
        </div>

        <div class="copyright">
          <a href="#">© Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>

  <div id="global-app-error" class="app-error hidden"></div>

  <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
</body>

</html>