<div class="call-to-action">
        <h3 class="govuk-heading-s">A decision tree to find out what English and maths training an apprentice should undertake</h3>
        <ol class="govuk-list govuk-list--number govuk-!-font-size-24">
            <li style="margin-bottom:20px"><span class="">Do they have at least level 2 English and maths?</span>
                <ul class="govuk-list govuk-list--bullet">
                    <li class="yes">
                        Yes: They do not require English and maths training.
                    </li>
                    <li class="no">
                        No: <span class="govuk-!-font-weight-bold">Continue</span>
                    </li>
                </ul>
            </li>
            <li style="margin-bottom:20px">Does their English and maths qualifications satisfy the standard or framework?
                <ul class="govuk-list govuk-list--bullet">
                    <li class="yes">
                        Yes: They need to gain level 2 English and maths.
                    </li>
                    <li class="no">No: <span class="govuk-!-font-weight-bold">Continue</span>
                    </li>
                </ul>
            </li>
            <li style="margin-bottom:20px">Do they have a special educational need, learning difficulty or disability?
                <ul class="govuk-list govuk-list--bullet">
                    <li class="yes">
                        Yes: <span class="govuk-!-font-weight-bold">Continue to 4</span>
                    </li>
                    <li class="no">
                        No: <span class="govuk-!-font-weight-bold">Continue to 5</span>
                    </li>
                </ul>
            </li>
            <li style="margin-bottom:20px">Will they not be able to achieve English and/or maths to the minimum level?
                <ul class="govuk-list govuk-list--bullet">
                    <li class="yes">Yes: We will fund functional level English and maths below level 2 if it is required. They need to gain entry level 3 functional English and maths.
                    </li>
                    <li class="no">No: They need to gain minimum required standards in English and maths.
                    </li>
                </ul>
            </li>
            <li style="margin-bottom:20px">Are they operating below level 1 AND they do not have level 1 or 2 English and maths?
                <ul class="govuk-list govuk-list--bullet">
                    <li class="yes">Yes: They must achieve level 1 English and maths which we may fund. Then, study toward level 2 which we may also fund. They must gain minimum required standards in English and maths.
                    </li>
                    <li class="no">No: <span class="govuk-!-font-weight-bold">Continue</span>
                    </li>
                </ul>
            </li>
            <li style="margin-bottom:20px">Are they operating below level 1 AND have approved qualifications?
                
                <ul class="govuk-list govuk-list--bullet">
                    <li class="yes">Yes: They must gain minimum required standards in English and maths
                    </li>
                    <li class="no">No: They must study for level 2 English and maths. If not achieved, must achieve level 1 English and maths which we will not fund. They must gain minimum required standards in English and maths
                    </li>
                </ul>
            </li>
        </ol>
    </div>