{% set _endPointOne = "They must get the minimum required standards in English and maths." %}

<div class="call-to-action">

    <!-- Heading -->
    <h3 class="govuk-heading-m">Find out what English and maths training your apprentice should do</h3>

    <!-- Questions List -->
    <ol class="govuk-list govuk-list--number govuk-!-font-size-24">
        <!-- 1 -->
        <li style="margin-bottom:20px" id="textflow-question-1">
            <span class="visuallyhidden">Question 1: </span>Does the apprentice have at least Level 2 English and maths?<br>
            This is the same as at least grade E or 2 at GCSE.
            <ul class="govuk-list govuk-list--bullet">
                <li class="yes">
                    Yes: They do not need to do any more English or maths training.
                </li>
                <li class="no">
                    No: <span class="govuk-!-font-weight-bold">Continue to question 2</span>. <a href="#textflow-question-2" class="govuk-skip-link">Skip to question 2.</a>
                </li>
            </ul>
        </li>
        <!-- 2 -->
        <li style="margin-bottom:20px" id="textflow-question-2">
            <span class="visuallyhidden">Question 2: </span>If you answered ‘no’ to question 1, do the apprentice’s English and maths
            qualifications meet the standard or framework of their apprenticeship?
            <ul class="govuk-list govuk-list--bullet">
                <li class="yes">
                    Yes: They must also do Level 2 English and maths.
                </li>
                <li class="no">No: <span class="govuk-!-font-weight-bold">Continue to question 3</span>. <a href="#textflow-question-3" class="govuk-skip-link">Skip to question 3.</a>
                </li>
            </ul>
        </li>
        <!-- 3 -->
        <li style="margin-bottom:20px"  id="textflow-question-3">
            <span class="visuallyhidden">Question 3: </span>If you answered ‘no’ to question 2, does the apprentice have a special
            educational need, learning difficulty or disability?
            <ul class="govuk-list govuk-list--bullet">
                <li class="yes">
                    Yes: <span class="govuk-!-font-weight-bold">Continue to question 4</span>. <a href="#textflow-question-4" class="govuk-skip-link">Skip to question 4.</a>
                </li>
                <li class="no">
                    No: <span class="govuk-!-font-weight-bold">Continue to question 5</span>. <a href="#textflow-question-5" class="govuk-skip-link">Skip to question 5.</a>
                </li>
            </ul>
        </li>
        <!-- 4 -->
        <li style="margin-bottom:20px"  id="textflow-question-4">
            <span class="visuallyhidden">Question 4: </span>If you answered ‘yes’ to question 3, will the apprentice be able to get the
            minimum requirement in English and maths?
            <ul class="govuk-list govuk-list--bullet">
                <li class="yes">Yes: {{_endPointOne}}
                </li>
                <li class="no">No: We’ll fund functional English and maths Level 2 for the apprentice. They must get at
                    least entry Level 3 functional English and maths.
                </li>
            </ul>
        </li>
        <!-- 5 -->
        <li style="margin-bottom:20px" id="textflow-question-5">
            <span class="visuallyhidden">Question 5: </span>If you answered ‘no’ to question 3, does the apprentice have at least approved
            Level 1 English and maths?
            <ul class="govuk-list govuk-list--bullet">
                <li class="yes">Yes: {{_endPointOne}}
                </li>
                <li class="no">No: <span class="govuk-!-font-weight-bold">Continue to question 6</span>. <a href="#textflow-question-6" class="govuk-skip-link">Skip to question 6.</a>
                </li>
            </ul>
        </li>
        <!-- 6 -->
        <li style="margin-bottom:20px" id="textflow-question-6">
            <span class="visuallyhidden">Question 6: </span>If you answered ‘no’ to question 5, is the apprentice working below Level 1?
            <ul class="govuk-list govuk-list--bullet">
                <li class="yes">Yes: They must get Level 1 and 2 in English and maths. We may fund these
                    qualifications, based on an assessment of the apprentice. {{_endPointOne}}
                </li>
                <li class="no">No: They must do Level 2 English and maths (which we’ll fund). If they cannot achieve
                    this, they must get Level 1 English and maths (which we will not fund). They must get the minimum
                    required standards in English and maths.
                </li>
            </ul>
        </li>
    </ol>
</div>