{% set _manualHeaderTitle = _manualHeaderTitle or "Manual title" %}
<div class="gem-c-contextual-breadcrumbs" style="margin-top:-20px">
    <div class="gem-c-breadcrumbs govuk-breadcrumbs" >
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education">Education, training and skills</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education/further-and-higher-education-skills-and-vocational-training">Further and higher education, skills and vocational training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education/further-education-funding">Further education funding</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education/apprenticeships-funding">Apprenticeships funding</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="rules-list">Apprenticeship funding and performance management rules, August 2018 to July 2019</a>
            </li>
        </ol>
    </div>
</div>
<header aria-labelledby="manual-title" class="">
    <div class="primary">
        <h1 id="manual-title">{{_manualHeaderTitle}}</h1>
        <div class="gem-c-metadata" data-module="gem-toggle">
            <dl>
                <dt class="gem-c-metadata__term">From:</dt>
                <dd class="gem-c-metadata__definition">
                    <a href="#">Education and Skills Funding Agency</a>
                </dd>
                <dt class="gem-c-metadata__term">Published:</dt>
                <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 August 2018</time></dd>
                <dt class="gem-c-metadata__term">Updated:</dt>
                <dd class="gem-c-metadata__definition">
                    <time datetime="2018-10-01">1 August 2018</time>, <a href="manual-updates?manual={{myData.manual}}">see all updates</a>
                </dd>
            </dl>
        </div>
        <div class="in-manual-search">
            <form method="POST">
                <label for="search-box">Search this manual</label>
                <input id="search-box" class="in-manual-search-box" type="text" name="q">
                <button type="submit">search</button>
            </form>
        </div>
    </div>
    <div class="secondary">
        <div class="secondary-inner">
            <p><a class="feedback" href="#">Give feedback about this page</a></p>
        </div>
    </div>
</header>