<h2 class="govuk-heading-m">Manual main content</h2>
<ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
    <li>
        <span class="govuk-!-font-weight-bold">Employers - 2</span>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
            <li>section snippets added</li>
            <li>chapter names updated</li>
        </ul>
    </li>
    <li>
        <span class="govuk-!-font-weight-bold">Employers - original</span>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
            <li>missing chapter headings added (without their rules contents)</li>
        </ul>
    </li>
    <li>
        <span class="govuk-!-font-weight-bold">Providers - 3</span>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
            <li>section snippets updated</li>
        </ul>
    </li>
    <li><span class="govuk-!-font-weight-bold">Providers - 2 - Updated English and Maths</span>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
            <li>section snippets added</li>
        </ul>
    </li>
</ul>