{% set _manualHeaderTitle = _manualHeaderTitle or "Manual title" %}
<!-- <div class="full-page-width-wrapper" style="margin-top:-30px">     
    <div class="gem-c-phase-banner govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
            <span class="govuk-phase-banner__text">Complete our quick 5-question survey to <a target="_blank" href="#">help us improve our content</a>.
            </span>
        </p>
    </div>
</div> -->
<div class="gem-c-contextual-breadcrumbs" >
    <div class="gem-c-breadcrumbs govuk-breadcrumbs" >
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education">Education, training and skills</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education/further-and-higher-education-skills-and-vocational-training">Further and higher education, skills and vocational training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education/further-education-funding">Further education funding</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/education/apprenticeships-funding">Apprenticeships funding</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="rules-years">Apprenticeship funding rules</a>
            </li>
        </ol>
    </div>
</div>
<header aria-labelledby="manual-title" class="">
    <div class="primary">
        <h1 id="manual-title">{{_manualHeaderTitle}}</h1>
        <div class="gem-c-metadata" data-module="gem-toggle">
            <dl>
                <dt class="gem-c-metadata__term">From:</dt>
                <dd class="gem-c-metadata__definition">
                    <a href="#">Education and Skills Funding Agency</a>
                </dd>
                <dt class="gem-c-metadata__term">Published:</dt>
                <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 August 2018</time></dd>
                <dt class="gem-c-metadata__term">Updated:</dt>
                <dd class="gem-c-metadata__definition">
                    <time datetime="2018-10-01">1 August 2018</time>, <a href="manual-updates?manual={{myData.manual}}">see all updates</a>
                </dd>
            </dl>
        </div>
        <div class="in-manual-search">
            <form method="POST">
                <label for="search-box">Search this manual</label>
                <input id="search-box" class="in-manual-search-box" type="text" name="q">
                <button type="submit">search</button>
            </form>
        </div>
    </div>
    <div class="secondary">
        <div class="secondary-inner">
            <p><a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a></p>
        </div>
    </div>
</header>