{% extends "layout.html" %}

{% block pageTitle %}
Agreement with the Education and Skills Funding Agency (ESFA)
{% endblock %}

{% block beforeContent %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<script>
    function whereNow() {

        var providerStartedJourney = JSON.parse(localStorage.getItem('registration.providerStartedJourney'));
        var taxDoneorNot = JSON.parse(localStorage.getItem('registration.completeTax'));

        var status = $('input[name=agreementSign]:checked').val();
        switch (true) {
            case (status == 'yes'):
                localStorage.setItem("registration.completeAgreement", JSON.stringify("yes"));
                if (providerStartedJourney == 'yes') {
                    localStorage.setItem("registration.providerStartedJourney", JSON.stringify("no"));
                    window.location.href = './providerStarted/changePermissions';
                }

                else if (taxDoneorNot == 'no') {
                    localStorage.setItem("registration.completeAgreement", JSON.stringify("yes"));
                    window.location.href = 'doneWithoutTaxorAgree';
                }

                else {
                    localStorage.setItem("registration.completeAgreement", JSON.stringify("yes"));
                    // window.location.href='../../../home';
                    window.location.href = 'https://marvelapp.com/b5f29ba/screen/54498417';
                }
                break;

            case (status == 'notYet'):
                localStorage.setItem("registration.completeAgreement", JSON.stringify("no"));

                if (providerStartedJourney == 'yes') {
                    localStorage.setItem("registration.providerStartedJourney", JSON.stringify("no"));
                    window.location.href = './providerStarted/changePermissions';
                }
                else {
                    localStorage.setItem("registration.completeAgreement", JSON.stringify("no"));
                    window.location.href = 'doneWithoutTaxorAgree';
                }
                break
            default:
                console.log('gyahhhhhhhh, bork bork bork')

                break;
        }
    }
    localStorage.setItem("registration.firstTimeReg", JSON.stringify("yes"));
</script>

<style>
    .agreement ol a {
        color: #005ea5;
        text-decoration: underline
    }

    .agreement header {
        color: #000;
    }

    .agreement .agreement-contents h2 .number {
        padding-left: 0;
        font-size: 36px;
        left: -8%;
        font-weight: 700;
        background-color: #fff;
        width: 8%;
        z-index: 9999;
    }

</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Agreement between {{data['orgName'] or "Assurance Aerospace Ltd" }} and the Education and Skills Funding Agency (ESFA)</h1>
        
        <p class="govuk-body">We updated the agreement on 1 May 2018.</p>
      
        <h2 class="govuk-heading-m">Key features of the agreement</h2>
        <p class="govuk-body">The employer must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>only use the funding in their apprenticeship service account to train and assess apprentices</li>
            <li>have a ‘contract for services’ with their training providers</li>
            <li>follow the apprenticeship funding rules</li>
        </ul>
        <p class="govuk-body">The ESFA can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>suspend payments, recover funds or close the employer’s account if the employer breaks the agreement</li>
            <li>change the terms of the agreement and any part of the apprenticeship service</li>
        </ul>

        <h2 class="govuk-heading-m">The full agreement</h2>
        <p class="govuk-body">View the full agreement, share or print it with the following link (opens in a new window or tab): <a href="agreement-govuk" target="_blank" class="govuk-link govuk-link--no-visited-state">https://www.gov.uk/government/publications/agreement-between-an-employer-and-the-education-and-skills-funding-agency-esfa</a></p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-font-weight-bold">
                <span class="govuk-warning-text__assistive">Warning</span>
                The agreement is legally binding. If the employer breaks it, we could close their account and stop them running apprenticeships.
            </strong>
        </div>

        <form>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                            Do you accept the agreement?
                    </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="app-1" name="agreementSign" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="app-1" style="padding-bottom:0">
                                    Yes, I have read the agreement and accept it
                            </label>
                        </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-4" name="agreementSign" type="radio" value="notYet" data-aria-controls="conditional-app-4">
                        <label class="govuk-label govuk-radios__label" for="app-4">
                                I’ll review it later
                        </label> </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-app-4">
                        <p class="govuk-body">You can continue registering and accept the agreement later. {{data['orgName'] or "Assurance Aerospace Ltd" }} will not be able to get or reserve funding until you accept.</p>
                    </div>
                    </div>
                </fieldset>
            </div>
        </form>

        <!-- Call to action button -->
        <button class="govuk-button" onclick="whereNow()">Continue</button>

    </div>
</div>

{% endblock %}