// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import 'node_modules/govuk-frontend/all';

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/related-items';

// Components that aren't in Frontend
@import 'components/cookie-banner';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// TODO import generic gov styles here
@import 'manual-frontend/manual-application';
@import 'manual-frontend/manual-application-print';

/* SVG */
// Note: we are using Option 4 from these guidelines; https://css-tricks.com/scale-svg/#article-header-id-10
.svg-1-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%; 
    /* override this inline for aspect ratio other than square */
}
.svg-1,
.svg-2,
.svg-3 {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
}
.svg-1 text,
.svg-2 text,
.svg-3 text {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    margin-top: 0;
    margin-bottom: 0;
}
.svg-1 .larger-text-2,
.svg-2 .larger-text-2,
.svg-3 .larger-text-2 {
    font-size: 21px;
}
.svg-1 .secondary-colour,
.svg-2 .secondary-colour,
.svg-3 .secondary-colour {
    fill: $govuk-secondary-text-colour;
}
.svg-1-container a {
    text-decoration: none !important;
}

// Hovers
/////////////////////////////////////////////   1   ////////////////////////////////////////////
.svg-1 g g:hover path,
.svg-1 g g:hover rect {
    stroke-width: 4px;
    cursor: pointer;
}
/////////////////////////////////////////////   2   ////////////////////////////////////////////
.svg-2 a:hover path,
.svg-2 a:hover rect {
    stroke-width: 5px;
    stroke-dasharray: 0;
}
.svg-2 a:hover path.arrowline {
    stroke-width: 7px;
}
.svg-2 a:hover rect {
    stroke-width: 6px;
}
.svg-2 .end a:hover rect {
    stroke: #005ea5;
}
// .svg-2 g.end:hover rect {
//     stroke: #005ea5;
// }
// .svg-2 g.end-2:hover rect {
//     stroke: black;
// }
/////////////////////////////////////////////   3   ////////////////////////////////////////////


.svg-3 a:hover rect,
.svg-3 a:hover + g.line path {
    stroke-width: 5px;
    stroke-dasharray: 0;
    // stroke: #2b8cc4; light blue
}
.svg-3 a:hover + g.line path.arrowline {
    stroke-width: 7px;
}
.svg-3 a:hover + g.line path.arrowhead {
    // fill: #2b8cc4;
}
.svg-3 a:hover rect {
    stroke-width: 6px;
    // outline: 6px solid #005ea5;
}
.svg-3 a.end:hover rect {
    stroke: #005ea5;
    // stroke: #2b8cc4;
}


// call to action
@include govuk-media-query($from: tablet) {
    .call-to-action p {
    margin: 0;
    }
}
.call-to-action {
    margin: 2em 0;
    background-color: #dee0e2;
    padding: 2em
}

.call-to-action:first-child {
    margin-top: 0
}

.call-to-action p:last-child, 
.call-to-action ul:last-child,
.call-to-action ol:last-child {
    margin-bottom: 0
}
