<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title lang="en">
        Apprenticeship funding rules - GOV.UK
    </title>

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css"
        crossorigin="anonymous" integrity="sha256-wLi6ixZSqsrSmNdPJHUiYBh/U4tQxAwkhPfzM8vDzys=">
    <!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-2c1bb089ee71d4d70a08ba94e4b363a99542c8feddf3aa979bc4f8962aed5e02.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-062e553ef49a9f884a3a1f885c8a18e829b6557046b075e1384f6092a60151d1.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-11027733d1abeac34c7bf14e37fea30366ad3a87cfd7f7a084de3a3b4b838412.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css"
        crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css"
        crossorigin="anonymous" integrity="sha256-6exaX4LlwqF5J841bloFTLKAJewVR+xdAPXJjS7F5IE=">

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico"
        type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg"
        color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">
    <meta name="theme-color" content="#0b0c0c">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--[if gt IE 8]><!-->
    <!-- <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-5c3d985d43c06c7c5efa157f99dcc22b3b62fcc9944669d4237fc2b78793baf2.css" crossorigin="anonymous" integrity="sha256-XD2YXUPAbHxe+hV/mdzCKzti/MmURmnUI3/Ct4eTuvI="> -->
    <link rel="stylesheet" media="screen" href="/public/css/core-layout.css" crossorigin="anonymous" >
   


<!--         
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-9a2de3ce1590c8ca478a6f7edf5a2e4bad0c6291b1dd4a6e7ca85f653d9591b4.css" crossorigin="anonymous" integrity="sha256-mi3jzhWQyMpHim9+31ouS60MYpGx3UpufKhfZT2VkbQ="> -->



    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-b6ad63f5aadc34d97304be8af907320307342bb63840a5e70b20e4c7ce2d3c18.css"
        crossorigin="anonymous" integrity="sha256-tq1j9arcNNlzBL6K+QcyAwc0K7Y4QKXnCyDkx84tPBg=">
    <!--<![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-a9af06f0e0ff57a3916f6700715b87afc2f8c596fc6b03aa7b8ef4cbb8bdbb58.css"
        crossorigin="anonymous" integrity="sha256-qa8G8OD/V6ORb2cAcVuHr8L4xZb8awOqe470y7i9u1g=">
    <link rel="canonical" href="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">

    <meta name="govuk:rendering-application" content="government-frontend">
    <style>
        .indexLinks .govuk-link:visited, 
    .indexLinks a:visited {
        color: #005ea5;
    }
    .indexLinks .govuk-link:hover, 
    .indexLinks a:hover {
        color: #2b8cc4;
    }
    </style>
</head>

<body class='indexLinks'>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header role="banner" id="global-header" class=" with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content" data-module="track-click"
                        data-track-category="homeLinkClicked" data-track-action="homeHeader">
                        <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png"
                            width="36" height="32" alt=""> GOV.UK
                    </a>
                </div>
                <a href="#search" class="search-toggle js-header-toggle">Search</a>

                <form id="search" class="site-search" role="search">
                    <div class="content">
                        <label for="site-search-text">Search</label>
                        <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
                        <input class="submit" type="submit" value="Search">
                    </div>
                </form>

            </div>

           
            <div class="header-proposition">
                <div class="content">
                    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                    <nav id="proposition-menu" class="no-proposition-name gem-c-government-navigation">
                        <ul id="proposition-links">
                            <li>
                                <a class="" href="#organisations">
                                    Departments
                                </a>
                            </li>
                            <li>
                                <a class="" href="#world">
                                    Worldwide
                                </a>
                            </li>
                            <li>
                                <a class="" href="#how-government-works">
                                    How government works
                                </a>
                            </li>
                            <li>
                                <a class="" href="#get-involved">
                                    Get involved
                                </a>
                            </li>
                            <li class="clear-child">
                                <a class="active" href="#publications">
                                    Publications
                                </a>
                            </li>
                            <li>
                                <a class="" href="#publications">
                                    Consultations
                                </a>
                            </li>
                            <li>
                                <a class="" href="#statistics">
                                    Statistics
                                </a>
                            </li>
                            <li>
                                <a class="" href="#announcements">
                                    Announcements
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div id="user-satisfaction-survey-container"></div>
    <div id="global-header-bar"></div>

    <div id="wrapper" class="direction-ltr">

        <!-- <div class="full-page-width-wrapper">     
            <div class="gem-c-phase-banner govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag" style="margin-right: 10px">beta</strong>
                    <span class="govuk-phase-banner__text">Complete our quick 5-question survey to <a target="_blank" href="#">help us improve our content</a>.</span>
                </p>
            </div>
        </div> -->

        <div class="gem-c-contextual-breadcrumbs">
            <!-- Rendering taxonomy breadcrumbs because the page is tagged to live taxons -->
            <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item" aria-current="false">
                        <a data-track-category="homeLinkClicked" class="govuk-breadcrumbs__link" aria-current="false"
                            href="#">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="false">
                        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education"
                            data-track-options='{"dimension28":"5","dimension29":"Education, training and skills"}'
                            class="govuk-breadcrumbs__link" aria-current="false" href="#">Education, training and
                            skills</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="false">
                        <a data-track-category="breadcrumbClicked" class="govuk-breadcrumbs__link" aria-current="false"
                            href="#">Further and higher education, skills and vocational training</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="false">
                        <a data-track-category="breadcrumbClicked" class="govuk-breadcrumbs__link" aria-current="false"
                            href="#">Further education funding</a>
                    </li>
                </ol>
            </div>
        </div>

        <main role="main" id="content" class="publication" lang="en">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="gem-c-title gem-c-title--margin-bottom-5">
                        <p class="gem-c-title__context">
                            Guidance
                        </p>
                        <h1 class="gem-c-title__text gem-c-title__text--long">
                            Apprenticeship funding rules
                        </h1>
                    </div>
                </div>
                <div class="column-two-thirds">
                    <p class="gem-c-lead-paragraph ">
                        Information about funding for training and assessing apprentices in England.
                    </p>
                </div>
            </div>

            <div class="grid-row">
                <div class="metadata-logo-wrapper">
                    <div class="column-two-thirds metadata-column">
                        <div class="app-c-publisher-metadata">
                            <div class="app-c-published-dates ">
                                Published 19 June 2018
                                <br>Last updated 9 August 2018
                                — <a href="#history">see all updates</a>
                            </div>

                            <div class="app-c-publisher-metadata__other">
                                <dl data-module="track-click">
                                    <dt class="app-c-publisher-metadata__term">
                                        From:
                                    </dt>
                                    <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                                        <span class="app-c-publisher-metadata__definition-sentence">
                                            <a href="#">Education and Skills Funding Agency</a>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                    <div class="column-one-third">
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-two-thirds responsive-bottom-margin">
                    <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
                        <dl data-module="track-click">
                            <dt class="app-c-important-metadata__term">Applies to: </dt>
                            <dd class="app-c-important-metadata__definition">England</dd>
                        </dl>
                    </div>
                    <div class="responsive-bottom-margin">
                        <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline "
                            data-module="track-click">
                            <h2 class="gem-c-contents-list__title">Contents</h2>
                            <ol class="gem-c-contents-list__list">
                                    <!-- <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                                            <a class="gem-c-contents-list__link " href="#feedback">Feedback</a>
                                        </li> -->
                                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                                    <a class="gem-c-contents-list__link " href="#latest">The latest rules (2018 to 2019)</a>
                                </li>
                                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                                    <a class="gem-c-contents-list__link " href="#2017">2017 to 2018 rules</a>
                                </li>
                                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                                    <a class="gem-c-contents-list__link " href="#2016">2016 to 2017 rules</a>
                                </li>
                                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                                    <a class="gem-c-contents-list__link " href="#previous">Previous rules</a>
                                </li>
                            </ol>
                        </nav>

                    </div>
                    <div class="responsive-bottom-margin">
                        <div aria-labelledby="documents-title">
                            <div class="gem-c-govspeak govuk-govspeak direction-ltr">

                                <!-- <div class="call-to-action">
                                    <p class="govuk-body">There are different funding rules for different apprenticeship start dates. You must follow the funding rules that apply to each apprentice.</p>
                                </div> -->
                                <!-- <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin  " id="feedback">
                                    Feedback
                                </h2> -->
                               

                                <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin  " id="latest">
                                    The latest rules (2018 to 2019)
                                </h2>
                                <div class="call-to-action">
                                    <p class="govuk-body">There are different funding rules for different apprenticeship start dates. You must follow the funding rules that apply to each apprentice.</p>
                                </div>

                                <!-- Employer manual ID -->
                                {% set _employerManual = myData.latestEmployerManual %}
                                {% if myData.useLatestManual == "false" and myData.manuals[myData.manual].type == "employer" %}
                                    {% set _employerManual = myData.manuals[myData.manual].id %}
                                {% endif %}
                                <!-- Provider manual ID -->
                                {% set _providerManual = myData.latestProviderManual %}
                                {% if myData.useLatestManual == "false" and myData.manuals[myData.manual].type == "provider" %}
                                    {% set _providerManual = myData.manuals[myData.manual].id %}
                                {% endif %}
                                <!-- Employer-provider manual ID -->
                                {% set _employerproviderManual = myData.latestEmployerproviderManual %}
                                {% if myData.useLatestManual == "false" and myData.manuals[myData.manual].type == "employerprovider" %}
                                    {% set _employerproviderManual = myData.manuals[myData.manual].id %}
                                {% endif %}

                                <p class="govuk-body">The 2018 to 2019 rules apply to apprenticeships starting on or after 1 August 2018. View the apprenticeship funding rules for:</p>

                                <ul class="govuk-list  govuk-list--bullet" >
                                    <li><a href="manual-home?manual={{_employerManual}}">employers</a></li>
                                    <li><a href="manual-home?manual={{_employerproviderManual}}">employer-providers</a></li>
                                    <li><a href="manual-home?manual={{_providerManual}}">training providers</a></li>
                                </ul>

                                <p class="govuk-body">View the funding rules in PDF format for:</p>
                                <ul class="govuk-list  govuk-list--bullet" >
                                    <li><a href="#">employers</a> (PDF, 500KB, 50 pages)</li>
                                    <li><a href="#">employer-providers</a> (PDF, 500KB, 50 pages)</li>
                                    <li><a href="#">training providers</a> (PDF, 500KB, 50 pages)</li>
                                </ul>

                                <h3 class="gem-c-heading  gem-c-heading--mobile-top-margin" id="other">
                                    Other documents
                                </h3>

                                <p>You can also view:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/733039/1819_Funding_Rules_Summary_of_Changes_1.0.pdf">
                                            apprenticeship funding rules 2018 to 2019: summary of changes
                                        </a> (PDF, 500KB, 50 pages)
                                    </li>
                                    <li>
                                        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/733046/Apps_1819_PM_rules_.pdf">
                                            apprenticeship performance-management rules for training providers
                                        </a> (PDF, 500KB, 50 pages)
                                    </li>
                                </ul>

                                <!-- <hr> -->
                                <div class="call-to-action">
                                        <p><a href="https://www.smartsurvey.co.uk/s/fundingrules/">Complete our survey</a> to help us make the funding rules clearer.</p>
                                    </div>

                                <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin" id="2017">
                                    2017 to 2018 rules
                                </h2>
                                
                                <p class="govuk-body">The 2017 to 2018 rules apply to apprenticeships that started between 1 August 2017 and 31 July 2018. You can view the apprenticeship funding rules for:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/706505/Employer_rules_v3.pdf">
                                            employers
                                        </a> (PDF, 500KB, 50 pages)
                                    </li>
                                    <li>
                                        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/706506/Employer_provider_v3.pdf">
                                            employer-providers
                                        </a> (PDF, 500KB, 50 pages)
                                    </li>
                                    <li>
                                        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/706507/Provider_v6.pdf">
                                            training providers - includes performance-management rules 
                                        </a> (PDF, 500KB, 50 pages)
                                    </li>
                                </ul>

                                <h3 class="gem-c-heading  gem-c-heading--mobile-top-margin" id="other">
                                    Other documents
                                </h3>

                                <p>You can also view:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                            <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/697128/Summary_of_changes.pdf">apprenticeship funding and performance-management rules 2017 to 2018: summary of changes</a> (PDF, 500KB, 50 pages)
                                        </li>
                                        <li>
                                            <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/611724/Subcontracting_addendum__003_.pdf">apprenticeship funding and performance-management rules - addendum 1</a> (PDF, 500KB, 50 pages)
                                        </li>
                                    </ul>

                                    <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin" id="2016">
                                            2016 to 2017 rules
                                        </h2>
                                        <p class="govuk-body"><a href="https://www.gov.uk/government/collections/sfa-funding-rules-2016-to-2017">View the 2016 to 2017 funding rules</a> for apprenticeships that started between 1 August 2016 and 31 July 2017.
                                        </p>
                                
                                <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin" id="previous">Previous rules</h2>
                                <p class="govuk-body"><a href="https://www.gov.uk/guidance/sfa-funding-rules">View previous funding rules</a> for apprenticeships that started before 1 August 2016.</p>

                                <h2 class="gem-d-heading  gem-c-heading--mobile-top-margin  " id="documents-title">
                                        Help and support
                                    </h2>
                                    <h3 class="gem-d-heading  gem-c-heading--mobile-top-margin  " >
                                        Training providers
                                    </h3>
                                    
                                    <p>For help and support you can:</p>
                                    <ul>
                                      <li>email us at <a href="mailto:SDE.servicedesk@education.gov.uk">SDE.servicedesk@education.gov.uk</a></li>
                                      <li>phone us on 0370 267 000</li>
                                      <li>contact your provider management advisor </li>
                                    </ul>
                    
                                    <h3 class="gem-d-heading  gem-c-heading--mobile-top-margin  " >
                                        Employers
                                    </h3>
                                    <p>For help and support, phone us on 0800 015 0600. </p>

                            </div>
                        </div>

                    </div>

                    <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="toggle">
                        Published 19 June 2018
                        <br>Last updated 9 August 2018
                        <a href="#full-history" class="app-c-published-dates__toggle" data-controls="full-history"
                            data-expanded="false" data-toggled-text="- hide all updates">+ show all updates</a>
                        <div class="app-c-published-dates__change-history js-hidden" id="full-history">
                            <ol>
                                <li class="app-c-published-dates__change-item">
                                    <time class="app-c-published-dates__change-date timestamp" datetime="2018-08-09T13:58:07.000+01:00">9 August 2018</time> We have published the apprenticeships performance-management rules for August 2018
                                    to March 2019.
                                </li>
                                <li class="app-c-published-dates__change-item">
                                    <time class="app-c-published-dates__change-date timestamp" datetime="2018-07-31T18:34:40.000+01:00">31 July 2018</time> We have published updated 2018 to 2019 apprenticeship funding rules.
                                </li>
                                <li class="app-c-published-dates__change-item">
                                    <time class="app-c-published-dates__change-date timestamp" datetime="2018-06-19T16:37:00.000+01:00">19 June 2018</time> First published.
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

                <div class="column-one-third">
                </div>

            </div>

        </main>

        <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
        </div>

    </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

        <div class="footer-wrapper">
            <div class="footer-categories">
                <div class="footer-explore">
                    <h2>Services and information</h2>

                    <ul>
                        <li><a href="#benefits">Benefits</a></li>
                        <li><a href="#births-deaths-marriages">Births, deaths, marriages and care</a></li>
                        <li><a href="#business">Business and self-employed</a></li>
                        <li><a href="#childcare-parenting">Childcare and parenting</a></li>
                        <li><a href="#citizenship">Citizenship and living in the UK</a></li>
                        <li><a href="#justice">Crime, justice and the law</a></li>
                        <li><a href="#disabilities">Disabled people</a></li>
                        <li><a href="#driving">Driving and transport</a></li>
                    </ul>
                    <ul>
                        <li><a href="#education">Education and learning</a></li>
                        <li><a href="#employing-people">Employing people</a></li>
                        <li><a href="#environment-countryside">Environment and countryside</a></li>
                        <li><a href="#housing-local-services">Housing and local services</a></li>
                        <li><a href="#tax">Money and tax</a></li>
                        <li><a href="#abroad">Passports, travel and living abroad</a></li>
                        <li><a href="#visas-immigration">Visas and immigration</a></li>
                        <li><a href="#working">Working, jobs and pensions</a></li>
                    </ul>
                </div>

                <div class="footer-inside-government">
                    <h2>Departments and policy</h2>

                    <ul>
                        <li><a href="#how-government-works">How government works</a></li>
                        <li><a href="#organisations">Departments</a></li>
                        <li><a href="#world">Worldwide</a></li>
                        <li><a href="#publications">Publications</a></li>
                        <li><a href="#">Announcements</a></li>
                    </ul>
                </div>
                <hr>
            </div>


            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <h2 class="visuallyhidden">Support links</h2>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
                        <li>Built by the <a href="#">Government Digital Service</a>
                        </li>
                    </ul>

                    <div class="open-government-licence">
                        <p class="logo"><a href="#" rel="license">Open Government Licence</a></p>
                        <p>All content is available under the <a href="#" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                    </div>
                </div>

                <div class="copyright">
                    <a href="#">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
</body>

</html>