{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="/">Contents</a></li>

    <li class="last-child">Eligibility criteria (who we fund)</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Eligibility criteria (who we fund)</h1>
      <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dignissimos earum pariatur
        sint delectus necessitatibus ad quo, possimus maxime quae deserunt? Nostrum voluptate libero totam illo iste
        mollitia expedita et?</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Eligibility criteria (who we fund)</h2>
            <p>E234. To use funds in the employer’s apprenticeship service account or government- employer
              co-investment, the individual must have a valid and eligible residency status.</p>
            <h2>Residency eligibility</h2>
            <p>E235. Any individual, or relevant family member, who has applied for an extension or variation of their
              current immigration permission in the UK is still treated as if they have that leave.</p>
            <p>Keeping this permission applies as long as the application was made before their current permission
              expired.</p>
            <p>Their leave continues until the Home Office make a decision on their immigration application.</p>
            <p>E236. An individual, or relevant family member, is considered to still have the immigration permission
              that they held when they made their application for an extension.</p>
            <p>Their eligibility would be based upon this status.</p>
            <h3>Right of abode in the UK</h3>
            <p>E237. The right of abode is a status under United Kingdom immigration law that gives an unrestricted
              right to live in the United Kingdom.</p>
            <p>It was introduced by the Immigration Act 1971.</p>
            <p>Individuals with the right of abode are eligible for funding if they have been ordinarily resident in
              the UK for at least the previous three years before the start of the apprenticeship and have the right to
              work in the UK.</p>
            <h2>European Economic Area (EEA) citizens</h2>
            <p>E238. An EEA citizen is eligible for funding if they:</p>
            <ul>
              <li>are a citizen of a country within the EEA (including other countries determined to be within the EEA
                or those with
                bilateral agreements)</li>
              <li>have been ordinarily resident in the EEA (including other countries determined to be within the EEA
                or those with bilateral agreements) for at least the previous three years on the first day of the
                apprenticeship</li>
            </ul>
            <p>E239. The European Economic Area (EEA) includes all the countries and territories listed below (from
              paragraph E264).</p>
            <p>E240. Nationals of any EU (or EEA) countries who have been ordinarily resident in the EEA (including
              other countries determined to be within the EEA or those with bilateral agreements) for at least the
              previous three years before the first day of the apprenticeship must be treated equally to UK residents
              while the UK remains part of the
              EU.</p>
            <p>The ESFA expects that this will remain the case for the full funding year 1 August 2018 to 31 July 2019.</p>
            <p>E241. The eligibility of individuals who do not meet the requirements in paragraph E238 is stated below.</p>
            <h2>Non-EEA citizens</h2>
            <p>E242. A non-EEA citizen is eligible for funding if they have permission from the UK government to live
              in the UK (not for educational purposes), and have been ordinarily resident in the UK for at least the
              previous three years before the start of the apprenticeship.</p>
            <h2>Individuals with certain types of immigration status and their family members</h2>
            <p>E243. Any individual with any of the statuses listed below, is eligible to receive funding and is exempt
              from the three-year residency requirement rule.</p>
            <p>You must have seen the individual’s immigration permission in these circumstances:</p>
            <ul>
              <li>refugee status</li>
              <li>discretionary leave to enter or remain</li>
              <li>exceptional leave to enter or remain</li>
              <li>indefinite leave to enter or remain</li>
              <li>humanitarian protection</li>
              <li>leave outside the rules</li>
              <li>section 67 of the Immigration Act 2016</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>the husband, wife, civil partner and child of any of the above</li>
            </ul>
            <p>E244. The individual’s immigration permission in the UK may have a ‘No recourse to public funds’
              condition.</p>
            <p>This does not include education or education funding, so this does not affect an individual’s
              eligibility, which must be decided under the normal eligibility conditions.</p>
            <h2>Asylum seekers</h2>
            <p>E245. Asylum seekers are eligible to receive funding if they:</p>
            <ul>
              <li>have lived in the UK for six months or longer while their claim is being considered by the Home
                Office, and no decision on their claim has been made</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>are in the care of the local authority and are receiving local authority support under section 23C or
                section 23CA of the Children Act 1989 or section 21 of the National Assistance Act 1948</li>
            </ul>
            <p>E246. An individual who has been refused asylum will be eligible if they:</p>
            <ul>
              <li>have appealed against a decision made by the UK government against granting refugee status and no
                decision has been made within six months of lodging the appeal</li>
              <li>are granted support for themselves under section 4 of the Immigration and
                Asylum Act 1999</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>they are in the care of a local authority and are receiving local authority support for themselves
                under section 23C or section 23CA of the Children Act 1989</li>
            </ul>
            <h2>Family members of EU and EEA nationals</h2>
            <p>E247. In the explanations below, the ‘principal’ is the European Union (EU) or EEA national.</p>
            <p>The ‘family’ or ‘family member’ is the apprentice, and must be the husband, wife, civil partner, child,
              grandchild, dependent parent or grandparent of the ‘principal’.</p>
            <p>E248. If the individual, who is a family member of an EEA national, has been ordinarily resident in the
              EEA for the three years prior to the start of their course, they are eligible for funding.</p>
            <p>E249. Eligibility for family members:</p>
            <p>| Eligible | Not eligible |
              | - - - - - - | - - - - - - - - |
              | Family members of EU and EEA citizens who have lived mostly in the EEA for 3 years | Non-EU family
              members of non-EU citizens |</p>
            <h2>Children of Turkish workers</h2>
            <p>E250. A child of a Turkish worker is eligible if:</p>
            <ul>
              <li>the Turkish worker is ordinarily resident in the UK;</li>
              <li>the Turkish worker is, or has been, lawfully employed in the UK</li>
              <li>the child has been ordinarily resident in the EEA and/or Turkey for the full 3-year period before the
                start of their programme</li>
            </ul>
            <h2>Persons granted stateless leave</h2>
            <p>E251. A person granted stateless leave is a person who has:</p>
            <ul>
              <li>extant leave to remain as a stateless person under the immigration rules (within the meaning given in
                section 33 of the Immigration Act 1971)</li>
              <li>been ordinarily resident in the UK and Islands throughout the period since the person was granted
                such leave. The UK and Islands are; England, Scotland, Wales, Northern Ireland, the Channel Islands and
                the Isle of Man</li>
            </ul>
            <p>E252. A stateless person must:</p>
            <ul>
              <li>be ordinarily resident in the UK on the first day of the apprenticeship</li>
              <li>have been ordinarily resident in the UK and Islands throughout the 3-year period preceding the first
                day of the apprenticeship</li>
            </ul>
            <p>E253. Certain family members are also eligible under this category:</p>
            <ul>
              <li>the spouse or civil partner of a person granted stateless leave (and who was the spouse or civil
                partner of that person on the leave application date), who is ordinarily resident in the UK on the
                first day of the apprenticeship, and who has been ordinarily resident in the UK and Islands throughout
                the three-year period preceding the first day of the apprenticeship</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>the child of a stateless person or of the stateless person’s spouse or civil partner (and who was the
                child of that stateless person or the child of the stateless person’s spouse or civil partner on the
                leave application date), was under 18 on the leave application date, is ordinarily resident in the UK
                on the first day of the apprenticeship, and has been ordinarily resident in the UK and Islands
                throughout the three-year period preceding the first day of the apprenticeship.</li>
            </ul>
            <p>E254. ‘Leave application date’ means the date on which a persons granted stateless leave made an
              application to remain in the UK as a stateless person under the immigration rules (within the meaning
              given in section 33(1) of the Immigration Act 1971).</p>
            <h2>Those in the armed forces or outside of England</h2>
            <p>E255. As an exception, we will also allow the following individuals to be funded from an employer’s
              apprenticeship service account or using government-employer co-investment:</p>
            <ul>
              <li>armed forces and Royal Fleet Auxiliary personnel to undertake a statutory English apprenticeship
                wherever they are based in the United Kingdom</li>
              <li>members of other nations’ armed forces stationed in England and their family members, where the
                family member has a right to work in the United Kingdom, if the armed forces’ individual has been
                ordinarily resident in England for three years. We will not fund family members that stay outside of
                England</li>
              <li>apprentices whose occupation involves significant travel outside of the UK as part of their job (such
                as in travel or tourism) or work offshore (such as on an oil platform) and they have an identified
                registered work location in England. You must not claim for the additional expense of delivering
                learning outside of England</li>
            </ul>
            <h2>Further information for 16 to 18 year-olds</h2>
            <p>E256. 16 to 18-year-olds are eligible to be funded for an apprenticeship if any of the following clauses
              apply:</p>
            <ul>
              <li>they are accompanying or joining parents who have the right of abode, leave to enter or leave to
                remain in the UK (or accompanying or joining parents who are EEA nationals)</li>
              <li>they are the children of diplomats</li>
              <li>they are the children of teachers coming to the UK on a teacher exchange scheme</li>
              <li>they are entering the UK (where not accompanied by their parents) and are British (or EEA) citizens</li>
              <li>they have a passport that has been endorsed to either show they have the right of abode in the United
                Kingdom or to show that they have no restrictions on working in the UK</li>
              <li>they are an asylum seeker</li>
              <li>they are placed in the care of the local authority</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>they meet the requirements for any other eligible category in this document</li>
            </ul>
            <p>E257. You can find further information on eligibility from the UK Council for International
              Student Affairs (UKCISA).</p>
            <h2>Countries or areas where residency establishes eligibility for our funding</h2>
            <p>E258. Member states of the European Union. You can access a list of European Union (EU) member states on
              the EU website.</p>
            <p>E259. Other territories are categorised as being within the European Union for the purposes of the fees
              regulations; these are as follows:</p>
            <ul>
              <li>Cyprus: any Cypriot national living on any part of the island qualifies for EU residency and is
                considered an EU national</li>
              <li>Finland: includes the Aland Islands</li>
              <li>France: the French Overseas Department (DOMS) (Guadeloupe, Martinique, French Guiana (Guyana),
                Reunion and Saint-Pierre et Miquelon) as part of metropolitan France</li>
              <li>Germany: includes the former German Democratic Republic and the tax-free port of Heligoland</li>
              <li>Portugal: includes Madeira and the Azores but not Macau</li>
              <li>Spain: includes the Balearic Islands, the Canary Islands, Ceuta and Melilla</li>
              <li>United Kingdom: includes Gibraltar</li>
            </ul>
            <p>E260. The Channel Islands and Isle of Man are part of the United Kingdom and Islands but not part of the
              EU. The Channel Islands and Isle of Man are not classed as part of England for apprenticeship funding
              purposes. The UK, Channel Islands and Isle of Man are collectively referred to as the UK and Islands.</p>
            <p>E261. Andorra, Monaco, San Marino and the Vatican are not part of the EU.</p>
            <p>E262. For funding eligibility purposes, EEA and eligible overseas dependent territories are defined as
              all member states of the EU and Iceland, Liechtenstein, Switzerland, Norway and all the eligible British
              Overseas Territories and EU overseas territories (listed in paragraph E264 below).</p>
            <p>E263. Although Switzerland is not part of the formally recognised EEA, its nationals are eligible under
              various international treaties signed by the UK and Swiss governments.</p>
            <p>E264. Individuals who are nationals of certain British Overseas Territories and of certain European
              overseas territories are eligible for funding, ensuring they comply with the three-year rule on residence
              in the EEA. These are as follows:</p>
            <ul>
              <li>Anguilla</li>
              <li>Bermuda</li>
              <li>British Antarctic Territory</li>
              <li>British Indian Ocean Territory</li>
              <li>British Virgin Islands</li>
              <li>Cayman Islands</li>
              <li>Falkland Islands</li>
              <li>Henderson Island</li>
              <li>Montserrat</li>
              <li>Pitcairn, Ducie and Oeno Islands</li>
              <li>South Georgia and the South Sandwich Isles</li>
              <li>St Helena and its dependencies</li>
              <li>Turks and Caicos Islands</li>
              <li>Greenland and Faroe Isles</li>
              <li>Antilles (Bonaire, Curacao, Saba, St Eustatius and St Maarten)</li>
              <li>Aruba</li>
              <li>New Caledonia and its dependencies</li>
              <li>French Polynesia</li>
              <li>Saint Barthélemy</li>
              <li>The Territory of Wallis and Futuna Islands</li>
              <li>Mayotte</li>
              <li>French Southern and Antarctic Territories</li>
            </ul>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}