{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="/">Contents</a></li>

    <li class="last-child">Ineligible costs</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Ineligible costs</h1>
      <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dignissimos earum pariatur
        sint delectus necessitatibus ad quo, possimus maxime quae deserunt? Nostrum voluptate libero totam illo iste
        mollitia expedita et?</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Ineligible costs</h2>
            <p>E81. For main providers and the delivery of training and on-programme assessment, ineligible costs
              include the following:</p>
            <ul>
              <li>
                <p>enrolment, main provider (or subcontractor) induction, prior assessment, initial diagnostic testing,
                  or similar
                  activity</p>
              </li>
              <li>
                <p>travel costs for apprentices under any circumstances</p>
              </li>
              <li>
                <p>apprentice wages</p>
              </li>
              <li>
                <p>personal protective clothing and safety equipment required by the apprentice to carry out their
                  day-to-day work</p>
              </li>
              <li>
                <p>development of original teaching materials related to the delivery of a new apprenticeship offer</p>
              </li>
              <li>
                <p>off-the-job training delivered only by self-directed distance learning</p>
              </li>
              <li>
                <p>any training, optional modules, educational trips or trips to professional events in excess of those
                  required to achieve the apprenticeship framework or meet the knowledge, skills and behaviours of the
                  apprenticeship standard. This includes training solely and specifically required for a licence to
                  practise</p>
              </li>
              <li>
                <p>any fees to third parties associated with a licence to practise. This includes registration,
                  examination and certification costs. This applies even where a licence to practise is specified in
                  the apprenticeship standard and assessment plan</p>
              </li>
              <li>
                <p>any fees to awarding bodies for non-mandatory qualifications (qualifications that are not
                  specifically listed in the standard). This includes registration, examination and certification costs</p>
              </li>
              <li>
                <p>student membership fees that are required by professional bodies, even where linked to mandatory
                  qualifications</p>
              </li>
              <li>
                <p>end-point assessment costs incurred by the main provider but not included in the price negotiated
                  between you and the end-point assessment organisation</p>
              </li>
              <li>
                <p>English and maths up to level 2 (this is funded separately)</p>
              </li>
              <li>
                <p>repeating the same regulated qualification where the apprentice has previously achieved it, unless
                  it is a requirement of the apprenticeship or for any GCSE where the apprentice has not achieved grade
                  C, or 4, or higher</p>
              </li>
              <li>
                <p>accommodation costs where the apprentice is resident away from their home base, because of the
                  requirements of their day-to-day work or because this is convenient for you or the main provider
                  (including subcontractor). Residential costs associated with non-mandatory learning, including
                  qualifications, are also excluded</p>
              </li>
              <li>
                <p>capital purchases including lease agreements. Capital purchases are long-term assets that would have
                  a lifespan beyond the apprenticeship being funded, such as land, buildings, machinery and ICT
                  equipment (for example, tablets and similar electronic devices)</p>
              </li>
              <li>
                <p>maintenance of capital purchases. This includes vehicle parts and labour, insurance and MOT</p>
              </li>
              <li>
                <p>time spent by employees/managers supporting or mentoring apprentices, where this is not directly
                  linked to the apprenticeship training and assessment, including end-point assessment</p>
              </li>
              <li>
                <p>specific services not related to the delivery and administration of the apprenticeship. This
                  includes the recruitment and continuing professional development of staff involved in
                  apprenticeships, company inductions, managing agents, brokerage services (to an employer or main
                  provider) and the costs of memberships or other costs paid to employers, or their representatives,
                  associated with procurement registers or opportunities to secure business</p>
              </li>
            </ul>
            <p>E82. You must not seek or accept inducements or any other payment not authorised by us from a training
              provider or an end-point assessment organisation in relation to any part of the apprenticeship programme.</p>
            <h2>Additional payments</h2>
            <p>E83. You and the main provider will receive a payment towards the additional cost
              associated with training if, at the start of the apprenticeship, the apprentice is:</p>
            <ul>
              <li>aged between 16 and 18 years old (or 15 years of age if the apprentice’s 16th birthday is between the
                last Friday of June and 31 August)</li>
            </ul>
            <p>or</p>
            <ul>
              <li>aged between 19 and 24 years old and has either an Education, Health and Care (EHC) plan provided by
                their local authority or has been in the care of their local authority as defined in paragraph E84</li>
            </ul>
            <p>E84. A child in care is defined as:</p>
            <ul>
              <li>
                <p>an eligible child - a young person who is 16 or 17 and who has been looked after by the local
                  authority/health and social care trust for at least a period of 13 weeks since the age of 14, and who
                  is still looked after</p>
              </li>
              <li>
                <p>a relevant child - a young person who is 16 or 17 who has left care after their 16th birthday and
                  before leaving care was an eligible child</p>
              </li>
            </ul>
            <p>or</p>
            <ul>
              <li>a former relevant child - a young person who is aged between 18 and 21 (up to their 25th birthday if
                they are in education or training) who, before turning 18, was either an eligible or a relevant child</li>
            </ul>
            <p>E85. To be eligible for these payments you must have evidence in respect of each apprentice before the
              apprenticeship starts. You must check this and either you or the apprentice must give the main provider
              evidence to keep in the evidence pack.</p>
            <p>E86. Where these payments are for apprentices aged between 19 and 24 years old at the start of their
              apprenticeship (see paragraph E83.2), the main provider must include consent from the apprentice to
              inform you that they have an EHC plan or that they have been in the care of their local authority and
              either:</p>
            <ul>
              <li>a signed email or letter from a local authority appointed Personal Advisor to confirm they are a care
                leaver</li>
            </ul>
            <p>or</p>
            <ul>
              <li>evidence of an EHC plan</li>
            </ul>
            <p>E87. Your payments will be paid to the main provider as follows:</p>
            <ul>
              <li>90 days after the apprentice starts, 50% will be paid if the apprentice is still undertaking their
                apprenticeship</li>
            </ul>
            <p>and</p>
            <ul>
              <li>365 days after the apprentice starts, the remaining 50% will be paid if the apprentice is still
                undertaking their apprenticeship</li>
            </ul>
            <p>E88. The main provider must pass these on in full to you within 30 working days of receiving this
              funding from us. Where an apprentice is employed by an ATA, any applicable additional payments will be
              paid to the ATA.</p>
            <p>E89. For frameworks, the main provider will also receive an additional payment of 20% of the funding
              band maximum if the apprentice is aged between 16 and 18 or is an eligible 19 to 24 year old.</p>
            <p>This must only be used to fund the eligible costs described in paragraph E77.</p>
            <p>The Apprenticeship Technical Funding Guide gives more information on how uplifts are paid. Employers do
              not have to contribute to this additional funding.</p>
            <p>E90. We will monitor take-up of additional payments to identify any potential fraud or gaming.</p>
            <h2>Care leavers bursary</h2>
            <p>E91. Eligible apprentices will receive a £1,000 payment if they have been in the care of the local
              authority as defined in paragraph E84.</p>
            <p>E92. The bursary payment, due to the apprentice, will be generated to the main provider 60 days after
              they start. The main provider must pass this on in full to the apprentice within 30 days of receiving
              this funding from the ESFA.</p>
            <p>E93. This is a one-off payment. An eligible apprentice must only receive this payment once. Therefore an
              individual must not receive this funding again if they progress to another apprenticeship or leave before
              the end of their apprenticeship to commence another apprenticeship.</p>
            <p>It is the main provider’s responsibility to ensure that the apprentice has not received this payment
              previously.</p>
            <p>We will also monitor this to ensure that the apprentice only receives this payment once.</p>
            <h2>Extra support for small employers</h2>
            <p>E94. The government will fund all of the apprenticeship training costs, up to the maximum value of the
              funding band for the apprenticeship, for employers employing fewer than 50 people if, on the first day of
              their apprenticeship, the apprentice is:</p>
            <ul>
              <li>aged between 16 and 18 years old (or 15 years old if the apprentice’s 16th birthday is between the
                last Friday of June and 31 August)</li>
            </ul>
            <p>or</p>
            <ul>
              <li>aged between 19 and 24 years old and has either an EHC plan provided by their local authority or has
                been in the care of their local authority as defined in paragraph E84</li>
            </ul>
            <p>E95. Before any apprenticeship starts, you must have evidence that the apprentice and you are eligible
              for the waiving of the employer contribution.</p>
            <p>You must provide evidence that you employed an average of 49 or fewer employees in the 365 days before
              the apprentice was recruited (using the calculation set out in paragraph E96) and you must give this to
              the main provider to keep in the evidence pack.</p>
            <p>E96. We define the number of employees as the number of people with a contract of service.</p>
            <p>This must be calculated using the average number of employees with a contract of service in the 365 days
              before the apprentice is recruited.</p>
            <p>If the average number of employees is 49 and the recruitment of apprentices takes this number to 50, you
              will still be eligible to receive this extra support.</p>
            <p>However, if the average number of employees is 50 and the recruitment of apprentices takes this number
              to 51, you will not be eligible to receive this extra support.</p>
            <p>E97. If the price negotiated by you and the main provider is above the maximum value of the funding band
              for the apprenticeship, you must pay in full the difference between the band maximum and the negotiated
              agreed price. This cannot be funded from your apprenticeship service account.</p>
            <h2>Support for English and maths training</h2>
            <p>E98. English and maths are essential to supporting longer-term career prospects.
              This is why all apprentices must be supported to gain these essential skills and
              secure recognised qualifications.</p>
            <h2>Achievement levels</h2>
            <p>E99. As part of our ambition for a world-class technical education system and in line with
              recommendations from independent experts, progression towards and attainment of approved level 2 English
              and maths qualifications is an important part of the apprenticeship programme.</p>
            <p>For those undertaking a level 3 or higher apprenticeship, it is a requirement that they should hold or
              achieve an approved level 2 in both subjects before they can successfully complete the apprenticeship.</p>
            <p>E100. For apprentices undertaking a level 2 apprenticeship:</p>
            <ul>
              <li>
                <p>we want as many apprentices as possible to achieve level 2 English and maths and we expect all
                  apprentices to work towards level 2 in these subjects and to take the assessment for achievement of
                  the level 2. We
                  recognise that for some a level 2 may be difficult to achieve. In these circumstances, we will accept
                  achievement of level 1 English and maths as sufficient for the successful completion of their
                  apprenticeship, except where the framework or standard specifies a higher level of English and/or
                  maths must be achieved</p>
              </li>
              <li>
                <p>for individuals with special educational needs, learning difficulties or disabilities who struggle
                  to achieve the regular English and/or maths minimum requirement due to the nature of their difficulty
                  or disability we will accept achievement at entry level 3 functional skills in English and/or maths
                  (see paragraphs E112 to E118 below)</p>
              </li>
              <li>
                <p>every effort should be made to enable apprentices with special educational needs, learning
                  difficulties or disabilities achieve the minimum English and maths requirements of the specific
                  apprenticeship as set out in paragraphs E99 to E111. This includes the appropriate use of access
                  arrangements, reasonable adjustments and other approved qualifications that are detailed in the 2018
                  to 2019 list of qualifications in the English and maths legal entitlement offer</p>
              </li>
            </ul>
            <h2>What we will fund</h2>
            <p>E101. We will fund an apprentice to achieve up to an approved level 2 qualification in English and maths
              where they do not already hold a suitable equivalent qualification. Acceptable equivalents are set out in
              a published list on <a href="http://GOV.UK">GOV.UK</a> called ‘‘Acceptable Current and Prior Equivalent
              Qualifications for English and Maths Minimum Requirements in Apprenticeship Standards at Level 2 and
              Above’.</p>
            <p>E102. The ESFA will pay the main provider for this at the single rate set by us for each eligible
              qualification undertaken. It will not be deducted from your apprenticeship service account or require
              co-investment.</p>
            <p>E103. Main providers can claim funding for apprentices who have not previously attained a GCSE grade A*
              to C (or 9 to 4) in English or maths (or both) on the day they start the following qualifications:</p>
            <ul>
              <li>GCSE English language or maths (or both)</li>
            </ul>
            <p>or</p>
            <ul>
              <li>functional skills English or maths at level 2 (or both)</li>
            </ul>
            <p>E104. For level 2 apprenticeships, where a level 2 qualification in English or maths is not required for
              the apprenticeship and the apprentice does not already hold the acceptable qualifications for their
              framework or standard, then main providers should adopt the following approach and can claim funding for
              an apprentice in the following scenarios:</p>
            <ul>
              <li>where the apprentice holds neither level 1 nor level 2 approved
                qualifications and is judged by the main provider to be working
                below level 1 standard in English/maths:</li>
            </ul>
            <ol>
              <li>
                <p>apprentices must study towards and achieve English and maths qualifications of at least level 1
                  (functional skills level 1 or GCSE grade E or 2), and start, study towards and take the assessments
                  for level 2 qualifications in these subjects. The apprentice is not required to achieve level 2
                  qualifications in order to successfully complete their apprenticeship. These requirements must be
                  fulfilled before the apprentice takes the end-point assessment or achieves an apprenticeship
                  framework</p>
              </li>
              <li>
                <p>main providers must also ensure that any level 1 training and assessments are taken at an early
                  enough stage in the apprenticeship to allow sufficient time for an apprentice to study towards and
                  take the assessments for the level 2 qualification, after a level 1 has been achieved. Where the
                  apprentice does not achieve the level 2, main providers can claim only for the training given</p>
              </li>
            </ol>
            <ul>
              <li>where the apprentice does not already hold approved level 1 qualifications, but is judged by the main
                provider to be working at level 1 standard in English/maths:</li>
            </ul>
            <ol>
              <li>
                <p>apprentices must start, continue to study and take the assessment for level 2 English and maths
                  (functional skills level 2 or GCSE). If they do not achieve a level 2, you must then ensure they take
                  the assessment for level 1 maths and/or English – this is because they must secure the level 1
                  qualification in order to complete their apprenticeship</p>
              </li>
              <li>
                <p>you must ensure that any level 2 training and assessments are taken at an early enough stage in the
                  apprenticeship to allow time for the apprentice to take the level 1 assessment if they first do not
                  achieve the level 2. In this scenario, we will not fund costs for level 1 training and assessment.
                  These requirements must be fulfilled before the apprentice takes the end-point assessment or achieves
                  an apprenticeship framework</p>
              </li>
            </ol>
            <ul>
              <li>where the apprentice already holds approved level 1 qualifications:</li>
            </ul>
            <ol>
              <li>apprentices must start, continue to study and take the assessments for a level 2 English and/or maths
                (functional skills level 2 or GCSE). This requirement must be fulfilled before the apprentice takes the
                end-point assessment or achieves an apprenticeship framework</li>
            </ol>
            <p>E105. We will fund functional skills English and/or maths at level 1 or below where main providers (or a
              subcontractor) has conducted an initial assessment that shows the apprentice needs to study at a lower
              level before being able to achieve their level 2. The apprentice must be assessed at below level 1 to be
              funded for a level 1 qualification.</p>
            <p>E106. In exceptional circumstances, we will fund:</p>
            <ul>
              <li>
                <p>re-takes of English and/or maths qualifications where apprentices receive further teaching to
                  achieve the required English and/or maths functional skills qualification</p>
              </li>
              <li>
                <p>other approved qualifications (including components, where applicable) where an apprentice will need
                  significant, additional numeracy and literacy support that is not met through immediate entry onto a
                  GCSE or functional skills course</p>
              </li>
            </ul>
            <p>E107. If the apprentice is made redundant, they are allowed to continue with their English and/or maths
              up to and including level 2. Main providers can continue to claim funds at the published apprenticeship
              English and maths rates.</p>
            <p>E108. Main providers must not claim funding from the adult education budget for English or maths
              undertaken by an apprentice.</p>
            <p>E109. Any English and/or maths requirements for the achievement of an apprenticeship standard or
              framework not set out above must be funded from your apprenticeship service account or through
              government-employer co-investment.</p>
            <p>E110. Main providers must provide evidence of prior attainment of English and maths. Guidance for
              obtaining acceptable evidence is provided in the evidence pack.</p>
            <h2>Judgement of an apprentice’s current level</h2>
            <p>E111. If an apprentice does not have acceptable evidence of previous attainment of English and/or maths,
              main providers should carry out a judgement of their current level. The assessment must use current
              assessment tools based on the national literacy and numeracy standards and core curriculum.</p>
            <h2>Exceptions to the regular English and maths minimum requirements, for people with special educational
              needs, learning difficulties or disabilities</h2>
            <p>E112. Individuals should be considered on a case-by-case basis and should satisfy all
              of the following conditions:</p>
            <ul>
              <li>
                <p>you and the main provider expect the apprentice to achieve all other aspects of the apprenticeship
                  requirements, become occupationally competent and achieve entry level 3 functional skills in the
                  adjusted subject(s) before the end of their apprenticeship</p>
              </li>
              <li>
                <p>the apprentice has either an existing or previously issued education, health and care (EHC) plan, a
                  statement of special educational need (SEN) or a learning difficulty assessment (LDA)</p>
              </li>
              <li>
                <p>the main provider holds or has conducted an evidenced judgement demonstrating that even with
                  support, reasonable adjustments and stepping stone qualifications, the apprentice will not be able to
                  achieve English and/or maths to the minimum level within the timeframe projected for them to complete
                  all the occupational elements. This would apply to both frameworks and standards</p>
              </li>
            </ul>
            <p>E113. Depending on the apprentice’s individual circumstances and outcome of the main provider’s
              judgement, this exception may apply to either English and maths (or both). If the exception applies to
              only one subject, the regular requirements for the non-adjusted subject will apply.</p>
            <p>E114. Although the apprentice will be exempt from the regular English and/or maths minimum requirements,
              main providers must plan and evidence how the apprentice will access further literacy and numeracy
              development, including level 1 and level 2 courses, as part of their overall training provision, if
              appropriate.</p>
            <p>E115. The judgement must be formal and structured and conducted by an appropriate professional
              associated with the main provider (or subcontractor), such as the head of SEN or student support. It must
              be conducted within eight weeks of an apprentice beginning their apprenticeship and must include:</p>
            <ul>
              <li>
                <p>judgement of the apprentice’s current English and maths ability</p>
              </li>
              <li>
                <p>information on how the learning difficulty or disability affects the apprentice’s English and maths
                  abilities and a clear indication of whether one or both English and maths are affected</p>
              </li>
              <li>
                <p>judgement of the apprentice’s ability to meet the regular English and maths requirements even with
                  appropriate support in place</p>
              </li>
              <li>
                <p>creation of a recommended learning plan to enable the apprentice to achieve entry-level 3 functional
                  skills in the adjusted subject(s) and, where appropriate, to continue to build on their literacy and
                  numeracy skills by accessing further courses</p>
              </li>
              <li>
                <p>copies of an education, health and care (EHC) plan, a statement of special educational need (SEN) or
                  a learning difficulty assessment (LDA)</p>
              </li>
            </ul>
            <p>E116. The main provider must retain all elements of the judgement in the evidence pack.</p>
            <p>E117. If the apprentice disagrees with the judgement outcome, the main provider must provide a facility
              for the apprentice to request a second opinion. The main provider must ensure that a second SEN
              professional independently reviews the outcome. The main provider may determine the format of the review
              process.</p>
            <p>E118. Where the apprentice needs to change to entry level 3 for English and/or maths due to their
              disability or learning difficulty the main provider should record this in the ILR as a change in the
              usual way.</p>
            <h2>End-point assessments</h2>
            <p>E119. End-point assessment is a holistic and independent assessment of the knowledge, skills and
              behaviours which have been learnt throughout an apprenticeship standard. The requirements for end-point
              assessment are set out in the assessment plan for each specific standard. Frameworks have different
              assessment arrangements and do not require end-point assessment.</p>
            <p>E120. Apprentices will not be able to achieve an apprenticeship standard without satisfying all the
              requirements of the assessment plan, including the end-point assessment.</p>
            <p>E121. An apprentice can only take the end-point assessment once they have:</p>
            <ul>
              <li>
                <p>met the minimum duration of an apprenticeship</p>
              </li>
              <li>
                <p>satisfied the gateway requirements set out in the assessment plan</p>
              </li>
              <li>
                <p>you (in consultation with the main provider) are content they have attained sufficient skills,
                  knowledge and behaviours to successfully complete the apprenticeship</p>
              </li>
            </ul>
            <p>E122. You must ensure the apprentice is employed until the end-point assessment (where applicable) is
              completed. The only exception is where the apprentice has been made redundant and we are funding the
              apprenticeship to completion.</p>
            <p>E123. Before the apprentice reaches the gateway before moving onto end-point assessment, you must:</p>
            <ul>
              <li>
                <p>select an organisation from the Register of End-Point Assessment Organisations (RoEPAO) to deliver
                  the end- point assessment</p>
              </li>
              <li>
                <p>negotiate a price with this organisation for the end-point assessment. Only those organisations
                  listed on the RoEPAO will be eligible to be funded</p>
              </li>
            </ul>
            <p>E124. Although the main provider (and possibly you) will be involved in arrangements for end-point
              assessment, the assessment itself must be independent (subject to paragraph E125 below). Some assessment
              plans give the employer and the training provider specific roles but, with the exception of integrated
              standards, training providers who have delivered the training cannot make an end-point assessment
              judgement for that same group of apprentices.</p>
            <p>E125. The end-point assessment organisation for an integrated degree standard may also be the training
              provider, although the assessment must be conducted by someone who has not been involved in the delivery
              of the apprenticeship.</p>
            <p>E126. The main provider must contract with the end-point assessment organisation that has been selected
              by you and lead the relationship with them including where the delivery of apprenticeship training is
              subcontracted.</p>
            <p>This allows the main provider, on your behalf, to make payment to the end-point assessment organisation
              for conducting the end-point assessment.</p>
            <p>The written agreement must set out the arrangements for sharing relevant information about the
              apprentice so end-point assessment and certification can take place, including arrangements for any
              re-takes and payments.</p>
            <p>This should also include arrangements for a change of circumstances, which may delay, or lead to the
              cancellation of, the end-point assessment.</p>
            <p>E127. You must ensure that the price you agree with the main provider for the apprenticeship includes
              the amount that you have negotiated with the end-point assessment organisation.</p>
            <p>This includes the cost of external quality assurance, which involves an external body (either the
              Institute for
              Apprenticeships or a body approved by it) to ensuring the consistency of quality and approach to
              end-point assessment against a particular standard, regardless of which end-point assessment organisation
              has
              carried it out.</p>
            <p>Costs for external quality assurance will depend on the body undertaking it. You must ensure that you
              engage actively with any request for information from the external body, where applicable.</p>
            <p>E128. Eligible costs for end-point assessment organisations are set out in the Conditions of Acceptance
              document for organisations on the RoEPAO.</p>
            <p>E129. We expect that the cost of end-point assessment should not usually exceed 20% of the funding band
              maximum.</p>
            <p>This does not mean that end-point assessment must cost 20%; the cost that individual employers will pay
              for assessment varies between standards and we expect you to negotiate with assessment organisations to
              secure value for money.</p>
            <p>Where the total negotiated price is higher than the funding band maximum the difference must be paid by
              you.</p>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}