{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="/">Contents</a></li>

    <li class="last-child">What is an apprenticeship?</li>
  </ol>

  <div class="manual-body" id="content">
    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">What is an apprenticeship?</h1>
      <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quae earum inventore eum
        tempora nulla quidem quibusdam eaque magni distinctio facere asperiores dolorum unde atque incidunt, molestias
        neque! Tempore, eaque.</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2 id="what-is-1">A job with training</h2>
            <p>E9. An apprenticeship is a job with an accompanying skills development programme. The job must have a
              productive purpose and should provide the apprentice with the opportunity to gain the knowledge, skills
              and behaviours needed to achieve the apprenticeship.</p>
            <p>E10. Through their apprenticeship, apprentices will gain the technical knowledge, practical experience
              and wider skills they need for their immediate job and future career. The apprentice gains this through a
              wide mix of learning in the workplace, formal off-the-job training and the opportunity to practise these
              new skills in a real work environment.</p>
            <p>E11. You and the main provider must be satisfied that the apprenticeship is the most appropriate
              learning programme for the individual and have evidence (to be kept by the main provider) that it is
              either:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a new job that requires new knowledge and skills</li>
            </ul>
            <p>or</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>an existing job role, where the individual needs significant new knowledge, skills and behaviours to
                be occupationally competent</li>
            </ul>
            <p>E12. You must provide the apprentice with appropriate support and supervision to carry out their job
              role.</p>
            <p>E13. Recruit an apprentice is a free tool to help you to recruit new apprentices into your business. It
              is not mandatory to use this service.</p>
            <p>E14. Where a main provider advertises on your behalf, on recruit an apprentice, it should be clear in
              the advert how many hours the apprentice will be expected to work per week for the role and how long the
              apprenticeship will last. This must meet the minimum duration requirement (see paragraphs E37 to E53).</p>
            <h2 id="what-is-2">Employment contract</h2>
            <p>E15. The apprentice must have a contract of service with you, or an apprenticeship training agency
              (ATA), which is long enough for them to complete the apprenticeship successfully (including, for
              standards the end-point assessment). The only exceptions to this are:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>apprentices who have been made redundant less than six months before the final day of their
                  apprenticeship (see paragraph E31)</p>
              </li>
              <li>
                <p>apprentices who have been made redundant, with more than six months but less than 12 months of their
                  apprenticeship remaining; these apprentices may seek a further contract of service with a duration of
                  less than 12 months, and we will fund them for up to 12 weeks while they do so (see paragraph E61)</p>
              </li>
              <li>
                <p>particular office holders who are alternative apprentices, namely constables of English police
                  forces and ministers or trainee ministers of a religious denomination, who are not engaged under a
                  contract of service.
                  Except for the requirement to have an apprenticeship agreement and a contract of service in relation
                  to these alternative apprentices, you must comply with all the other rules set out in this document.</p>
              </li>
            </ul>
            <h2 id="what-is-3">Apprentice wages</h2>
            <p>E16. Every apprentice must be paid a lawful wage for the time they are in work and in off-the-job
              training.</p>
            <p>E17. You must meet the cost of the apprentice’s wages. You can only pay the apprenticeship minimum wage
              from the start of the apprenticeship programme and not before. You can find information on the national
              minimum wage, the apprenticeship rate, and the definition of an employee on <a href="http://GOV.UK">GOV.UK</a>.</p>
            <h2 id="what-is-4">Off-the-job-training</h2>
            <p>E18. Off-the-job training is training received by the apprentice, during the apprentice’s paid hours,
              for the purpose of achieving their apprenticeship. It is not training delivered for the sole purpose of
              enabling the apprentice to perform the work for which they have been employed.</p>
            <p>E19. Off-the-job training is a statutory requirement for an English apprenticeship.</p>
            <p>E20. Off-the-job training must be directly relevant to the apprenticeship framework or standard,
              teaching new knowledge, skills and behaviours required to reach competence in the particular occupation.
              It can include training that is delivered at the apprentice’s normal place of work and can include the
              following:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>the teaching of theory (for example, lectures, role playing, simulation exercises, online learning,
                  and manufacturer training)</p>
              </li>
              <li>
                <p>practical training, shadowing, mentoring, industry visits, and attendance at competitions</p>
              </li>
              <li>
                <p>learning support and time spent writing assessments/assignments</p>
              </li>
            </ul>
            <p>E21. Off-the-job training does not include:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>training to acquire knowledge, skills and behaviours that are not required in the standard or
                  framework</p>
              </li>
              <li>
                <p>progress reviews or on-programme assessment required for an apprenticeship framework or standard</p>
              </li>
              <li>
                <p>training which takes place outside the apprentice’s paid hours</p>
              </li>
            </ul>
            <p>E22. It is up to you and the main provider to decide how you will deliver the off-thejob training is
              delivered. This may include regular day release, block release and special training days/workshops.</p>
            <p>E23. To attract government funding at least 20% of the apprentice’s paid hours, over the planned
              duration of the training period within the apprenticeship (for standards this is called the practical
              period, which ends at the gateway for endpoint assessment), must be spent on off-the-job training.</p>
            <p>E24. When calculating the required amount of off-the-job training, the apprentice’s statutory leave
              entitlement should be deducted.</p>
            <p>Employees who work a 5-day week receive at least 28 days paid annual holiday (this is the statutory
              leave entitlement referred to in this paragraph and is the equivalent of 5.6 weeks of holiday) (pro-rata
              for part time workers).</p>
            <p>It should be clear to all parties how the amount of off-the-job training required has been calculated to
              comply with paragraph E23 and this should be recorded in the evidence pack by the main provider.</p>
            <p>E25. The content/components of all planned off-the-job training must be set out in the apprentice’s
              commitment statement (see paragraphs E34 to E36) and evidence must be available to support the delivery
              of the commitment statement.</p>
            <p>It should be clear which elements of the commitment statement have been used towards the calculation of
              the 20% requirement and which have not (see paragraphs E20, E21 and E27).</p>
            <p>E26. Apprentices may need more than 20% off-the-job training.</p>
            <p>E27. English and maths, up to and including level 2, does not count towards the minimum 20% off-the-job
              training requirement; where required this must be delivered in addition to the minimum requirement.</p>
            <p>E28. If planned off-the-job training is unable to take place as scheduled, you and the main provider
              must ensure this is re-arranged so that the full complement of training set out in the commitment
              statement can still be delivered.</p>
            <p>All off-the-job training must take place during paid hours. Apprentices may choose to spend additional
              time on training outside their paid hours, but this must not be required to complete the apprenticeship
              and must not be included in the 20% calculation.</p>
            <p>E29. When the apprentice takes a period of leave from their work, for reasons such as medical treatment,
              maternity or paternity leave, this will be a break in the training they are to receive (a break in
              learning).</p>
            <p>You and the apprentice should revise the date in the apprenticeship agreement on which the
              apprenticeship was expected to have been completed to account for the duration of the break.</p>
            <p>The duration of the apprenticeship and the amount of off-the-job training needed to meet the 20%
              requirement would therefore remain the same as though there had been no break in training (break in
              learning).</p>
            <h2 id="what-is-5">Apprenticeship agreement between the employer and the apprentice</h2>
            <p>E30. There must be evidence that the apprentice has an apprenticeship agreement with you at the start
              of, and throughout, their apprenticeship. For standards, this is defined in section A1 (3) of the
              Apprenticeships, Skills, Children and Learning Act 2009 (as amended by the Enterprise Act 2016); for
              frameworks, this is defined in section 32 of the same Act.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>in relation to standards, the approved English apprenticeship agreement must also set out (i) the
                  amount of time the apprentice will spend in offthe-job training, and (ii) the planned end date of the
                  apprenticeship’s practical period, called the final day. These requirements are provided for in the
                  Apprenticeships (Miscellaneous Provisions) Regulations 2017</p>
              </li>
              <li>
                <p>in relation to frameworks, there must be an apprenticeship agreement in place which (i) meets your
                  duty under section 1 of the Employment Rights Act 1996 and (ii) includes a statement of the skill,
                  trade or occupation for which the apprentice is being trained under the apprenticeship framework.
                  These requirements are provided for in the Apprenticeships (Form of Apprenticeship Agreement)
                  Regulations 2012</p>
              </li>
              <li>
                <p>a template apprenticeship agreement is available on <a href="http://GOV.UK">GOV.UK</a>. This
                  template does not have to be used but the requirements of the legislation as described above must be
                  met when forming an apprenticeship agreement</p>
              </li>
            </ul>
            <p>E31. Apprentices who are made redundant up to six months before the final day of their apprenticeship do
              not need to be employed under an apprenticeship agreement (see paragraph E15.1).</p>
            <p>E32. The signed apprenticeship agreement must be distributed to both signatories (you and the
              apprentice) and you must give a copy to the main provider to keep in the evidence pack, along with any
              revisions.</p>
            <p>E33. The start date set out in the apprenticeship agreement must match the date in the commitment
              statement. Details in the commitment statement must be completed before the apprenticeship agreement can
              be signed.</p>
            <h2 id="what-is-6">The commitment statement between the employer, apprentice and main provider</h2>
            <p>E34. Before the apprenticeship starts and before the apprenticeship agreement is signed, you, the
              apprentice and the main provider should have contributed to and signed a copy of the commitment statement
              (often known as the individual learning plan). This should set out how all three parties (apprentice,
              employer, and main provider) will support the achievement of the apprenticeship.</p>
            <p>E35. All three parties must keep a current signed and dated version. The main provider’s copy (and any
              previous versions) must be retained with the apprenticeship agreement and the written agreement they have
              with you. Where the apprenticeship is funded from your apprenticeship service account this is the
              contract for services between you and the main provider.</p>
            <p>E36. The commitment statement must set out:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>the name of the apprentice, their job role and their contracted hours</p>
              </li>
              <li>
                <p>your details and those of the main provider (and any subcontractors involved in the delivery of
                  off-the-job training)</p>
              </li>
              <li>
                <p>details of the apprenticeship, including the name of the apprenticeship framework or standard, the
                  level, the start and end-dates for the apprenticeship and (for standards) the dates relating to the
                  end-point assessment period. The start date set out in the commitment statement must align with the
                  start date in the apprenticeship agreement and the ILR</p>
              </li>
              <li>
                <p>the amount of off-the-job training that will be delivered to meet the minimum 20% requirement (see
                  paragraphs E20, E21 and E27 for what can and cannot be included in this calculation)</p>
              </li>
              <li>
                <p>the planned content/components and schedule of eligible training (and for standards the end-point
                  assessment). This should include key milestones for mandatory or other qualification achievements. It
                  should also be clear if the component has been used towards the calculation of the minimum 20%
                  off-the-job training requirement</p>
              </li>
              <li>
                <p>confirmation of funding sources for the planned content/components:</p>
                <ol>
                  <li>those eligible for funding from the employer’s apprenticeship service account or
                    government-employer co-investment</li>
                  <li>those to be fully funded by the ESFA (e.g. English and maths to level 2)</li>
                  <li>those to be fully funded by you (the employer) (e.g. additional components which may not be
                    required to complete the apprenticeship)</li>
                </ol>
              </li>
              <li>
                <p>a list of all organisations delivering the training content/components, including English and maths,
                  and the end-point assessment organisation (for standards). We recognise that while new standards
                  continue to be developed, not all end-point assessment organisations will be known at the start of
                  the apprenticeship. The commitment statement must be updated to include these details as soon as they
                  have been confirmed</p>
              </li>
              <li>
                <p>an agreement of what is expected from, and offered by you, the apprentice, and the main provider
                  (and any delivery subcontractors) to achieve the apprenticeship and details of how all parties will
                  work together. This must include contact details and the expected commitment from each party, for
                  example:</p>
                <ol>
                  <li>the apprentice: attendance and commitment to their offthe-job training</li>
                  <li>the employer: commitment to wages and time off to train during working hours</li>
                  <li>the main provider (and any delivery subcontractors): delivery of training, support and guidance</li>
                </ol>
              </li>
              <li>
                <p>the process for resolving any queries or complaints regarding the apprenticeship, including quality.
                  This must include details of the escalation route within the main provider’s own organisation and the
                  escalation process to the ESFA through the apprenticeship helpdesk (on 08000 150400 or email <a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a>)</p>
              </li>
            </ul>
            <h2 id="what-is-7">Apprenticeship duration and employment hours</h2>
            <p>E37. An apprenticeship must provide for training that lasts for a minimum duration of 12 months. For
              example, to satisfy this requirement, an apprentice who starts their training on 1 August 2018 must still
              be receiving training on 31 July 2019 and an apprentice who starts on 1 August 2019 must still be
              receiving training on 31 July 2020.</p>
            <p>E38. The framework or standard specification or assessment plan may require this to be longer to support
              the delivery of the full apprenticeship content. For apprenticeship standards, the end-point assessment
              can only be taken after the minimum duration has been met (see paragraph E121).</p>
            <p>E39. The apprenticeship must meet the minimum apprenticeship duration rules. This includes where the
              content, negotiated price and/or duration of the apprenticeship has been adjusted to recognise prior
              learning (see paragraphs E145 to E147).</p>
            <p>E40. For standards, the apprentice must be employed until the end-point assessment is completed.</p>
            <p>E41. An apprenticeship framework completion certificate on behalf of the apprentice cannot be claimed
              from Apprenticeship Certificates England if the minimum duration has not been met. For standards, the
              minimum duration is checked as part of confirming the end-point assessment gateway requirements.</p>
            <p>E42. The apprentice must be involved in active learning throughout an apprenticeship. The apprentice
              can, after achieving all the mandatory requirements of the apprenticeship, stay in learning to embed the
              skills they have gained through off-the-job training. The main provider must keep evidence of this taking
              place.</p>
            <p>E43. The minimum duration of each apprenticeship is based on the apprentice working at least 30 hours a
              week, including any off-the-job training they undertake.</p>
            <p>E44. The apprentice must work enough hours each week so that they can undertake sufficient regular
              training and on-the-job activity. This is to ensure the apprentice is likely to successfully complete
              their apprenticeship. There must be evidence of the agreed average weekly hours, including time spent on
              off-the-job training, in the evidence pack.</p>
            <p>E45. You must allow the apprentice to complete the apprenticeship within their working hours. This
              includes English and maths if required. You must provide the main provider with evidence of this for them
              to keep in the evidence pack.</p>
            <p>E46. If the apprentice works fewer than 30 hours a week, your main provider must extend the expected
              duration of the apprenticeship on the ILR (pro rata) to take account of this. This will also apply to any
              temporary period of part-time working. You must also extend the apprenticeship agreement accordingly.</p>
            <p>E47. Where a part-time working pattern is needed, you must jointly agree with the main provider and the
              apprentice the extended apprenticeship duration (see paragraph E48).</p>
            <p>E48. Where part-time working is agreed, you must:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>record the agreed average number of hours each week</li>
              <li>evidence why this working pattern is in place</li>
              <li>extend the minimum duration using the following formula: 12 x 30/average weekly hours = new minimum
                duration in months</li>
            </ul>
            <p>E49. Zero-hours contracts are acceptable only where they meet all of the other rules in this document.
              For an apprentice with a zero-hour contract you must extend the duration of the apprenticeship in
              proportion to the hours they work.</p>
            <p>E50. An apprentice with a zero-hours contract must be allowed to complete their
              apprenticeship in their working hours, including the off-the-job training. Where
              this is not possible, a break in learning in the apprenticeship must be recorded.</p>
            <p>E51. Working fewer than 30 hours a week or being on a zero-hours contract must not
              be a barrier to successfully completing an apprenticeship. We will monitor
              working hours data and patterns of behaviour to ensure that sufficient off-the-job
              activity is done to ensure successful completion of the apprenticeship,
              regardless of the number of hours worked. We reserve the right to take action
              where alternative working patterns are not managed appropriately leading to a
              reduction in the quality of the apprenticeship.</p>
            <p>E52. If an apprentice starts a new apprenticeship, time on any previous apprenticeship does not apply in
              meeting the minimum duration requirements.</p>
            <p>The only exceptions to this are where an apprentice:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>is made redundant with more than six, but less than 12 months remaining before their final day. In
                  these cases, they may seek a further apprenticeship agreement which takes their prior apprenticeship
                  experience into account. This further agreement may provide for a duration of less than 12 months.</p>
              </li>
              <li>
                <p>changes their framework pathway</p>
              </li>
              <li>
                <p>transfers between main providers, but remains on the same framework or standard</p>
              </li>
              <li>
                <p>returns to the same apprenticeship after a break in learning</p>
              </li>
            </ul>
            <p>E53. For the exceptions in paragraph E52 you must have evidence that the total amount of time spent on
              their apprenticeship, which may include more than one episode of learning, meets the minimum duration
              requirement.</p>
          </div>

        </div>
      </div>
    </article>
  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}