{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">Individuals who are not eligible for funding</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Individuals who are not eligible for funding</h1>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Individuals who are not eligible for funding</h2>
            <p>E62. You must not use funds in your apprenticeship service account for individuals who do not meet the
              eligibility criteria set out in this document unless they are eligible under the Education (Fees and
              Awards) (England) Regulations 2007 (as amended).</p>
            <p>Individuals who do not meet the eligibility criteria include:</p>
            <ul>
              <li>
                <p>are here illegally</p>
              </li>
              <li>
                <p>are resident in the United Kingdom on a tier 4 (general) student visa unless they are eligible
                  through meeting any other of the categories described in Annex A</p>
              </li>
              <li>
                <p>are non-EEA citizens in the United Kingdom on holiday, with or without a visa</p>
              </li>
              <li>
                <p>have overstayed their immigration or visitor visa</p>
              </li>
              <li>
                <p>are non-EEA citizens and are a family member of a person granted a tier 4 visa, have been given
                  immigration permission to stay in the UK and have not been ordinarily resident in the UK for the
                  previous three years on the
                  first day of learning</p>
              </li>
              <li>
                <p>are ordinarily resident in the Channel Islands or Isle of Man, unless they are also ordinarily
                  resident within England</p>
              </li>
            </ul>
            <p>or</p>
            <ul>
              <li>have a biometric residence permit or residence permit imposing a study prohibition or restriction on
                the individual</li>
            </ul>
            <h2>Apprentices who need access to learning support</h2>
            <p>E63. We will provide learning support for apprentices to help with learning that affects their ability
              to continue and complete their apprenticeship. This can be claimed by your main provider for the period
              it is required. This will not be deducted from your apprenticeship service account or require employer
              co-investment.</p>
            <p>E64. Learning support must not be used to deal with everyday difficulties that are not directly
              associated with an apprenticeship. If an apprentice needs help at work, they may be able to get help from
              Access to Work.</p>
            <h2>Apprenticeship training agency (ATA)</h2>
            <p>E65. An ATA is an organisation whose main business is employing apprentices who are made available to
              employers for a fee.</p>
            <p>E66. An ATA must be set up as a distinct legal entity so that apprentices can have contracts of service
              with the ATA.</p>
            <p>E67. The main provider must report in the ILR that the apprentice is employed by an ATA.</p>
            <p>E68. An ATA must follow our ATA framework. You can find information on ATAs on <a href="http://GOV.UK">GOV.UK</a>.</p>
            <p>E69. Apprenticeship positions offered by an ATA must comply with the apprenticeship requirements set out
              in paragraphs E9 to E15. If the job is with a third party, the cost of wages may be met by that third
              party, but the wages must be paid by the ATA.</p>
            <p>E70. Where the apprentice is employed by a levy-paying ATA, they must follow the rules set out in this
              document.</p>
            <p>E71. Where you host an apprentice that is employed by an ATA you must not use the funds in your
              apprenticeship service account to pay the training and assessment costs.</p>
            <p>E72. Where they are a levy paying ATA these costs must be met from the ATA’s own apprenticeship service
              account. Where the apprentice is employed by a non- levy-paying ATA, the ATA will be able to access
              support for training and assessment through government-employer co-investment.</p>
            <p>E73. Group training associations that offer an ATA service to employers must follow ATA-specific rules.</p>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}