{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">Paying for an apprenticeship</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Paying for an apprenticeship</h1>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Paying for an apprenticeship</h2>
            <p>E141. The funding method for an apprenticeship is determined at the start of each apprentice’s
              programme.</p>
            <p>Where the employer does not have an apprenticeship service account at the start of the apprenticeship,
              it will be funded through government-employer co-investment for its duration unless the apprentice
              changes employer.</p>
            <p>Even if the employer subsequently becomes a levy-payer, the apprenticeship will not be funded from the
              employer’s apprenticeship service account.</p>
            <h2>The price of an apprenticeship</h2>
            <p>E142. You and your main provider must negotiate a price for the total cost of each apprenticeship,
              including the training costs and any subcontracted training.</p>
            <p>The price for apprenticeship standards must include the cost of the end-point assessment which you must
              negotiate with the end-point assessment organisation.</p>
            <p>The negotiated price of apprenticeship frameworks will include on-programme assessment.</p>
            <ul>
              <li>
                <p>when negotiating a price with the main provider you must ensure that the main provider has reduced
                  the content, duration and price of the apprenticeship to account for prior learning necessary to
                  achieve the apprenticeship. The main provider must conduct a thorough assessment of the apprentice’s
                  prior learning. Funds must not be used to pay for knowledge, skills and behaviours already attained
                  by the apprentice</p>
              </li>
              <li>
                <p>if you negotiate a price that is more than the maximum allowed by the funding band for the chosen
                  apprenticeship, then you must pay, in full, the difference between the band maximum and the
                  negotiated price. This must not be funded from your apprenticeship service account or co- investment.
                  Main providers may charge VAT on the difference. The funding bands, and standards and frameworks
                  placed within them, may be subject to change</p>
              </li>
            </ul>
            <p>E143. The main provider must not offset the negotiated price with the costs of any service provided by
              you.</p>
            <p>If you are legitimately delivering relevant training or an eligible cost supported by these rules then
              this must be included in the overall price.</p>
            <p>The cost of the apprenticeship must be transparent.</p>
            <p>E144. Once the price has been negotiated, we do not expect the total price of the apprenticeship to
              change.</p>
            <p>The only exceptions to this are when there is a change of circumstances or when the end-point assessment
              cost is not known at the start of the apprenticeship.</p>
            <p>We will monitor changes of price and patterns of behaviour to identify fraudulent activity.</p>
            <p>The ‘changes to the apprenticeship, main provider or employer’ section (see paragraphs E212
              to E233) has further details on changes of circumstances.</p>
            <h2>Accounting for prior learning</h2>
            <p>E145. Funds must not be used to pay for training for skills, knowledge and behaviours already attained
              by the apprentice.</p>
            <p>We may take action to recover apprenticeship funding where this happens.</p>
            <p>E146. Your main provider must account for prior learning when negotiating the price with you.</p>
            <p>They must reduce the content, duration and price, where the individual has prior learning necessary to
              achieve occupational competence.</p>
            <p>They should explain to you how the price has been reduced.</p>
            <p>E147. Your main provider must thoroughly assess the apprentice’s existing knowledge, skills and
              behaviours against those required to achieve occupational competence.</p>
            <p>Where applicable, they will include in their appraisal any knowledge, skills and behaviours gained from
              the following:</p>
            <ul>
              <li>work experience, particularly where the apprentice is an existing employee</li>
              <li>prior education or training and associated qualifications in a related sector subject area</li>
            </ul>
            <p>or</p>
            <ul>
              <li>any previous apprenticeship undertaken</li>
            </ul>
            <h2>Employer co-investment</h2>
            <p>E148. Where the monthly cost of apprenticeship training cannot be fully met by funds from your
              apprenticeship service account (because there are insufficient funds), you must co-invest 10% of the
              outstanding balance for that month.</p>
            <p>E149. If you do not pay the apprenticeship levy, you must also co-invest 10% of the cost of
              apprenticeship training.</p>
            <p>The government will pay the remaining 90% up to the funding band maximum. Where the funding band maximum
              is exceeded, you must pay all the additional costs.</p>
            <p>E150. Main providers will need to invoice you separately for any employer co-investment, including any
              VAT.</p>
            <p>E151. You may agree a schedule of co-investment payments with the main provider which does not match
              payments made by us each month but this should ensure that your contributions are at least equal to the
              required 10% every three months when main providers report your contributions.</p>
            <p>E152. Main providers will need to show to us that they have received your co-investment payments to
              justify the government’s contribution.</p>
            <p>If they cannot do that then we may withhold payments.</p>
            <p>Where you are required to pay co-investment, this must be a transfer of funding visible in the main
              provider’s financial systems.</p>
            <p>This will typically be in the form of a main provider invoice and corresponding employer payment.</p>
            <p>E153. You must not seek or accept any refund, in total or in part, of your co-investment contribution.</p>
            <p>E154. The only exceptions to employer co-investment are:</p>
            <ul>
              <li>English and maths, to achieve the required government standard (see paragraphs E98 to E118)</li>
              <li>where you qualify for extra support for small employers (see paragraph E94 to E97)</li>
              <li>for any learning support for the apprentice (see paragraphs E63 to E64)</li>
              <li>for any additional payments and disadvantage funding (see paragraphs E83 to E90)</li>
              <li>where you deliver to your own staff as an employer-provider</li>
            </ul>
            <h2>When payments are made</h2>
            <p>E155. We will pay the main provider 80% of the negotiated price up to the maximum value of the funding
              band, in equal monthly instalments according to the planned duration of the apprenticeship regardless of
              how training is scheduled over the duration of the apprenticeship.</p>
            <p>The deductions from your apprenticeship service account will mirror these payments where funds are
              available.</p>
            <p>E156. We will pay the remaining balance of the negotiated price, up to the maximum value of the funding
              band, to the main provider when the apprentice has undertaken all the activity relevant to the
              apprenticeship, including:</p>
            <ul>
              <li>all mandatory elements of the framework</li>
            </ul>
            <p>or</p>
            <ul>
              <li>completing all elements of the end-point assessment for standards</li>
            </ul>
            <p>E157. The deductions from your apprenticeship service account will mirror these payments where funds are
              available.</p>
            <h2>Funds in your apprenticeship service account</h2>
            <p>E158. You must only add PAYE schemes for you or your connected companies or charities (according to
              HMRC’s definition) to your apprenticeship service account.</p>
            <p>E159. Public bodies cannot usually be connected for apprenticeship levy purposes.</p>
            <p>If you are setting up an apprenticeship service account for a public body, you should only add the PAYE
              scheme or schemes for one employer, that is, a government department, local authority or non-ministerial
              department.</p>
            <p>E160. There are some exceptions where public bodies are considered to be corporate bodies, companies or
              charities.</p>
            <p>If your organisation is connected as defined by HMRC employment allowance connection rules and shares
              one apprenticeship levy allowance, then you could set up an account with another connected employer.</p>
            <p>E161. We will monitor accounts to check that PAYE schemes are properly used.</p>
            <p>If we have any questions, we may ask you to provide evidence that the employers sharing an
              apprenticeship service account are connected.</p>
            <p>E162. You must:</p>
            <ul>
              <li>remove PAYE schemes from your apprenticeship service account that are no longer operated by the
                employer associated with the account (or leaves the group of connected companies)</li>
              <li>ensure the PAYE scheme for the apprentice’s employer is associated with the same apprenticeship
                service account which records the apprenticeship for them</li>
              <li>only register with the apprenticeship service for the purpose of accessing funds where you have a
                realistic expectation of paying the levy in that financial year</li>
              <li>manage users associated with your account including:</li>
              <li>removing users who are not authorised to act on your behalf</li>
              <li>control who can add users</li>
            </ul>
            <p>E163. Where your apprenticeship service account is used to fund training and assessment, you are
              responsible for recording the required details of the apprenticeship in your account.</p>
            <p>You can give the main provider permission to enter this information on your behalf but you will need to
              authorise the apprentice details so we can use your apprenticeship service funds to pay for that
              apprentice’s apprenticeship.</p>
            <p>E164. Only you can confirm the spending of funds from your apprenticeship service account.</p>
            <p>You must not delegate this function to the main provider and they must not take on this responsibility.</p>
            <p>E165. You must not allow any third party to authorise payments through your apprenticeship service
              account.</p>
            <p>E166. To be funded from your apprenticeship service account, the data entered into the apprenticeship
              service account must correspond with the information submitted by the main provider to us each month
              through the ILR.</p>
            <p>Payments to your chosen main provider will only be made if these details match.</p>
            <p>E167. If we withhold payments to the main provider because there is not a match, we will reconcile the
              payments due to the main provider when the data matches and make the corresponding changes to your
              apprenticeship service account.</p>
            <p>E168. You must not ask for, or demand, a fee from a main provider or an intermediary for access to funds
              in your apprenticeship service account.</p>
            <p>E169. As a result of retrospective changes to the amount of apprenticeship levy declared to HMRC, the
              balance in your apprenticeship service account could go up or down.</p>
            <p>If an adjustment reduces your balance to a negative value which persists, the ESFA may ask you to pay
              the ESFA this value, discounted by the co-investment rate in place when the apprenticeship started.</p>
            <p>We will provide you with details of this payment including the value due and when to make a payment.</p>
            <p>E170. If your organisation is subject to structural changes, including mergers and acquisitions, you
              must contact us.</p>
            <h2>Qualifying days for funding</h2>
            <p>E171. To qualify for apprenticeship funding the apprentice must be in learning for a minimum of 42 days
              between the learning start date and learning planned end-date.</p>
            <p>E172. Where funding is paid for an apprentice who does not subsequently meet the qualifying period, we
              will recover the funding from the main provider.</p>
            <p>These funds will be returned to your apprenticeship service account.</p>
            <h2>State aid</h2>
            <p>E173. Funds received by main providers from your apprenticeship service account (including government
              top-ups to funds), government-employer co-investment and additional payments, do not fall within the
              scope of state aid control from 1 August 2018 to 31 July 2019.</p>
            <p>E174. The waiving of the employer contribution for small employers is subject to state aid regulations.</p>
            <p>E175. Transfers of funds are subject to state aid regulations.</p>
            <p>For any transfer you receive, 10% of the transferred funds will count towards your de minimis state aid
              limit.</p>
            <p>E176. You must complete a state aid declaration for funding you receive.</p>
            <p>You must give this to the main provider to keep in the evidence pack.</p>
            <p>If you have any concerns about exceeding your state aid limit, please contact your main provider for
              further guidance.</p>
            <h2>Apprenticeships funded by transfer of levy funds</h2>
            <h2>Introduction for all employers</h2>
            <p>E177. Levy-paying employers are now able to transfer up to 10% of their levy funds, which were declared
              for the previous tax year, to other employers, including apprenticeship training agencies (ATAs).</p>
            <p>The 10% allowance will be calculated from the total amount of levy declared during the previous tax
              year, with the
              English percentage applied, plus the 10% government top-up payment.</p>
            <p>This allowance is recalculated every tax year and any unused allowance will not be carried forward.</p>
            <p>E178. Employers receiving transferred funds will only be able to use them to pay for training and
              assessment for apprenticeship standards, for new apprenticeship starts from 1 May 2018.</p>
            <p>Employers will not be able to use transferred funds to pay for training and assessment for
              apprenticeship frameworks or apprentices that started before 1 May 2018.</p>
            <p>E179. A transfer of funds will not take place where the receiving employer is eligible for full
              government funding, because they have fewer than 50 employees and the apprentice is:</p>
            <ul>
              <li>16 to18 years old</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>an eligible 19 to 24 year old</li>
            </ul>
            <h2>Rules for sending employers</h2>
            <p>E180. A sending employer is a levy-paying employer who wishes to transfer levy funds in their
              apprenticeship service account to another employer to support their delivery of an apprenticeship
              standard starting from 1 May 2018.</p>
            <p>These funds can only be used for the cost of apprenticeship training and assessment.</p>
            <p>E181. We will calculate the transfer allowance around the start of each tax year (the calculation is
              based on the period 12 levy figure declared to HMRC).</p>
            <p>The 10% transfer allowance is calculated on declared levy multiplied by the English percentage, along
              with the 10% automatic top up from government.</p>
            <p>E182. If you are part of an account with connected organisations your 10% transfer allowance will be
              calculated from the total levy declared by all organisations included within the account at the time of
              the calculation.</p>
            <p>You will not have an individual transfer account.</p>
            <p>E183. Provided you do not exceed the 10% transfer cap, you are able to transfer funds to any number of
              employers.</p>
            <p>E184. To send a transfer you must re-sign the ESFA employer agreement which has been updated to include
              transfers.</p>
            <p>E185. You must agree with the receiving employer which apprenticeship standard their chosen apprentice
              will be undertaking and the price that they have agreed with their chosen main provider and end-point
              assessment organisation.</p>
            <p>You will need to confirm these details through the apprenticeship service and ensure you do not exceed
              your 10% transfer cap.</p>
            <p>E186. By agreeing to fund an apprenticeship with a transfer, you are committing to fund the
              apprenticeship over its entire duration until completion.</p>
            <p>You will need to ensure that you will have enough transfer allowance to cover these costs over the
              relevant number of years.</p>
            <p>You will not be able to stop payments once you have approved the apprenticeship on the apprenticeship
              service and transfer payments will be deducted from your levy account first, prior to your own
              apprenticeships.</p>
            <p>E187. The transfer amount should cover 100% of the eligible training and assessment costs, up to the
              funding band maximum, of the apprenticeship standard.</p>
            <p>This does not include English and maths training up to and including level 2, which is funded
              separately.</p>
            <p>E188. You cannot jointly fund an apprenticeship with another levy-paying employer.</p>
            <p>E189. A transfer of funds will not take place where the receiving employer is eligible for full
              government funding, because they have fewer than 50 employees and the apprentice is:</p>
            <ul>
              <li>16 to18 years old</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>an eligible 19 to 24 year old</li>
            </ul>
            <p>The eligibility criteria are detailed in the extra support for small employers section (paragraphs E94
              to E97).</p>
            <p>E190. You must not impose conditions on the transfer, such as choosing the receiving employer’s main
              provider or end-point assessment organisation for them.</p>
            <p>E191. You must not seek or accept any incentives or inducements or any other payments not authorised by
              us in exchange for sending a transfer.</p>
            <p>E192. If you are a main provider who is also a levy-paying employer, you must not deliver training to
              apprentices you are funding through a transfer.</p>
            <p>This includes where you are acting as a main provider or a subcontractor.</p>
            <p>E193. The funds that you transfer will retain their initial date of expiry; the date of transfer will
              not affect this.</p>
            <p>E194. As a sending employer, you will not be able to receive any transferred funds from another
              levy-paying employer, while you are funding a transfer.</p>
            <h2>Rules for receiving employers</h2>
            <p>E195. A receiving employer is any (levy-paying or non-levy paying) employer who receives a transfer of
              funds from a levy-paying employer.</p>
            <p>E196. You cannot use a transfer to fund an apprenticeship if you are eligible for full government
              funding because you have fewer than 50 employees and your apprentice is:</p>
            <ul>
              <li>16 to18 years old</li>
            </ul>
            <p>Or</p>
            <ul>
              <li>an eligible 19 to 24 year old</li>
            </ul>
            <p>The eligibility criteria are detailed in the extra support for small employers section (paragraphs E94
              to E97).</p>
            <p>E197. Where a transfer of funds does not take place and the apprenticeship is 100% funded by government,
              you must not enter these apprenticeships on your apprenticeship service account.</p>
            <p>E198. For the purposes of apprenticeships funded by a transfer, the receiving employer is treated as a
              levy-paying employer.</p>
            <p>E199. To receive a transfer you must sign the ESFA employer agreement and ensure apprenticeships funded
              by a transfer follow the rules in this document.</p>
            <p>E200. The transfer amount you receive should cover 100% of the eligible training and assessment costs,
              up to the funding band maximum, of the apprenticeship standard.</p>
            <p>This does not include English and maths training up to and including level 2, which is funded
              separately.</p>
            <p>E201. You will need to set up an apprenticeship service account, if you do not already have one.</p>
            <p>You will need to enter details of the apprenticeship that the transferred funds relate to.</p>
            <p>If you are not a levy-paying employer then you can only use this account for apprentices funded through
              transferred funds - if any apprentices, which are not funded through transfers, are entered then all
              payments will be suspended and you will be notified.</p>
            <p>Once you have rectified your data the suspension of payments will be lifted.</p>
            <p>E202. If you already have an apprenticeship service account, you may use this to receive a transfer.</p>
            <p>E203. Apprenticeships that are not being funded through either a transfer, or your own levy funds from
              your apprenticeship service account, must be delivered by a main provider who has a contract with us.</p>
            <p>These apprenticeships must:</p>
            <ul>
              <li>be funded by government-employer co-investment</li>
              <li>not be entered on your apprenticeship service account</li>
            </ul>
            <p>E204. The rules on what apprenticeship funding can be spent on are set out in the eligible costs section
              at paragraph E77.</p>
            <p>E205. Before entering the details on your apprenticeship service account, you must:</p>
            <ul>
              <li>agree with the sending employer and the main provider which apprenticeship standard your apprentice
                will be undertaking</li>
              <li>confirm the price that you have negotiated with your main provider. All parties will need to approve
                these details through the apprenticeship service</li>
            </ul>
            <p>E206. If you are a levy-paying employer, you must not transfer funds to other employers while you are in
              receipt of transferred funds.</p>
            <p>E207. You must not provide any incentives or inducements or any other payments not authorised by us in
              return for receiving a transfer.</p>
            <h2>If the total cost cannot be covered by the transfer</h2>
            <p>E208. If you do not pay the levy or have exhausted the levy funds in your apprenticeship service
              account, and at any point the ‘sending’ employer has insufficient funds to cover the cost of your
              apprenticeship training you must pay co-investment to your main provider for the remainder.</p>
            <p>E209. If you are a levy-paying employer, if at any point the ‘sending’ employer has insufficient funds
              to cover the cost of your apprenticeship training and you have sufficient levy funds available then these
              funds will automatically be used before you enter co-investment.</p>
            <p>E210. If the total negotiated price of the apprenticeship exceeds the funding band maximum, you must pay
              all of the additional costs.</p>
            <h2>Monitoring</h2>
            <p>E211. We will monitor transfer activity to ensure apprenticeship funding is used appropriately, and may
              take action were you do not meet the terms and conditions of using apprenticeship funding.</p>
            <p>These terms and conditions are set out in these funding rules and the ESFA employer agreement.</p>
            <h2>Changes in circumstances</h2>
            <p>E212. If any circumstances change that affect any agreement made between you and the main provider, you
              must revise existing agreements or create new agreements. This includes:</p>
            <ul>
              <li>changes to price</li>
              <li>changes to the apprentice’s eligibility</li>
              <li>any updates required to your apprenticeship service account</li>
              <li>changes to the apprentice’s contract or working pattern</li>
              <li>changes to the apprenticeship duration</li>
              <li>changes to the main provider or subcontractor</li>
              <li>breaks in learning</li>
            </ul>
            <p>E213. The apprentice may take a break in learning where they plan to return to the same apprenticeship
              programme and this is agreed with you.</p>
            <p>This could include medical treatment, parental leave or leave for other personal reasons.</p>
            <p>Annual leave, public holidays and short-term absences (up to 4 weeks) must not be recorded as breaks in
              learning.</p>
            <p>The main provider should record the break in learning on the ILR and re-plan the delivery of any
              remaining training and/or assessment following a break, if required.</p>
            <p>You should revise the apprenticeship agreement if required.</p>
            <p>E214. We will stop making payments from funds in your apprenticeship service account or
              government-employer co-investment if an apprentice has a break in learning.</p>
            <p>You (through your apprenticeship service account) or your main provider must inform us if an apprentice
              takes a break in learning.</p>
            <p>E215. If an apprentice is on a break in learning when an additional payment is due, the payment will be
              delayed until the apprentice resumes their apprenticeship and has reached an overall total of 90 or 365
              days in learning.</p>
            <p>E216. We will monitor take-up of additional payments and unusual patterns of activity to identify any
              potential fraud or gaming.</p>
            <h2>Where training or assessment stops</h2>
            <p>E217. Where a change of circumstance means that training and/or assessment is no longer being delivered,
              no further funds from your apprenticeship service account, government-employer co-investment or
              additional payments will be made.</p>
            <p>E218. In these circumstances, you must agree with the main provider the cost of the training and, where
              applicable, the end-point assessment delivered to date.</p>
            <p>The main provider must ensure that you have paid any mandatory co-investment due for any training or
              end-point assessment already delivered.</p>
            <p>E219. You may alert us through your apprenticeship service account at any time, if training and/or
              assessment is no longer being delivered.</p>
            <p>If the apprentice is made redundant, you must stop payments in your apprenticeship service account.</p>
            <p>E220. When a change of circumstance results in over-payment of funds from your apprenticeship service
              account or government-employer co-investment, any over-payment must be repaid by the main provider to us.</p>
            <p>We will then credit the appropriate funds to your apprenticeship service account.</p>
            <p>The main provider must follow the arrangements set out in their agreement with you for any over-payment
              by you.</p>
            <p>E221. You must agree with the main provider any reimbursement of your co-investment made for learning
              paid for, but not undertaken, or learning delivered, but not yet paid up to the employee’s leave date, or
              the date of their break in learning, as needed.</p>
            <p>E222. If any change of circumstances is not included in this section, you should seek advice from us
              about what action you should take. Please email our Business Operations Service Desk at <a href="mailto:SDE.servicedesk@education.gov.uk">SDE.servicedesk@education.gov.uk</a></p>
            <h2>Summary of action following a change in circumstances</h2>
            <p>Actions to take when there is a change in price where the employer negotiates a revised training or
              assessment cost, or assessment cost is added after the start of the programme.</p>
            <p>E223. Both the employer and main provider must:</p>
            <ul>
              <li>agree a new price</li>
              <li>confirm the new price on the apprenticeship service. If funded by a transfer, both the sending and
                receiving employers will need to agree the new apprenticeship in the apprenticeship service</li>
              <li>revise agreements and/or the commitment statement as required</li>
            </ul>
            <p>E224. The main provider must update the price on the ILR.</p>
            <h3>Actions to take where there is a break in learning where the apprentice requires a break in their
              apprenticeship due to illness, maternity, or other personal reasons</h3>
            <p>E225. The employer must:</p>
            <ul>
              <li>notify the main provider that the apprentice will be absent for a period of time</li>
              <li>stop payments through their apprenticeship service account</li>
              <li>reactivate the apprenticeship in their apprenticeship service account when the apprentice returns to
                learning</li>
              <li>extend the practical period of the apprenticeship agreement as required</li>
            </ul>
            <p>E226. The main provider must also:</p>
            <ul>
              <li>record the break and restart dates in the ILR</li>
              <li>re-plan the delivery and agree a revised price, if required, with the employer when the apprentice
                resumes learning. This must be entered on the ILR. If a different price had been entered previously on
                the employer’s
                apprenticeship service account, the revised price must also be entered here, on or before the new start
                date</li>
            </ul>
            <h3>Effect on funding</h3>
            <p>Funding from an employer’s apprenticeship service account or government-employer co-investment stops
              until apprentice resumes their apprenticeship.</p>
            <p>Funding is capped across both period of learning so that overall earnings do not exceed the funding band
              maximum.</p>
            <p>Funding will recommence based on the new start date in the ILR.</p>
            <p>All additional payments stop until apprentice resumes their apprenticeship.</p>
            <p>Any additional payments already made are retained.</p>
            <p>After applying the funding band limit, we will hold 20% of the new total price back as the completion
              payment and deduct any funding already received.</p>
            <p>The remainder will be spread equally over the remaining planned duration.</p>
            <p>Additional payments are unaffected.</p>
            <h3>Actions to take where the apprentice withdraws from the apprenticeship, where the apprentice is no
              longer employed by the employer and has withdrawn from their programme (not redundancy) or the apprentice
              chooses to withdraw prior to completion but remains with the same employer</h3>
            <p>The employer must:</p>
            <ul>
              <li>notify the main provider that the apprentice has left</li>
              <li>stop payments through their apprenticeship service account. This includes where the apprenticeship is
                funded by a transfer</li>
            </ul>
            <h3>Effect on funding</h3>
            <p>Funding from an employer’s apprenticeship service account or government-employer co-investment stops.</p>
            <p>The employer co-investment should be reconciled to the date of withdrawal and a balancing payment may be
              made by us.</p>
            <p>All additional payments stop until the apprentice resumes their apprenticeship.</p>
            <p>Any additional payments already made are retained.</p>
            <h3>Action to take where the apprentice starts a new role with the same employer and</h3>
            <p>requires a different apprenticeship programme and the main provider remains the same</p>
            <p>E228. Both the employer and main provider must:</p>
            <ul>
              <li>agree a new price for training and assessment for the new apprenticeship, taking into account
                relevant learning from the first apprenticeship. If funded by a transfer, both the sending and
                receiving employers will need to agree the new apprenticeship in the apprenticeship service</li>
              <li>enter the details of the new programme, price and effective date on the apprenticeship service</li>
            </ul>
            <h3>Effect on funding</h3>
            <p>Funding from an employer’s apprenticeship service account or government-employer co-investment stops.</p>
            <p>Any employer co-investment should be reconciled to the date of withdrawal and a balancing payment may be
              made by us.</p>
            <p>Funding from an employer’s apprenticeship service account or government co-investment for the second
              programme is made for the new programme.</p>
            <p>Each programme price is capped separately.</p>
            <p>Additional payments are received once for each apprenticeship.</p>
            <h3>Action to take where the employer selects a different main provider where the apprenticeship remains
              the same</h3>
            <p>E229. Both the employer and new main provider must:</p>
            <ul>
              <li>negotiate a new price, as set out in these funding rules. If funded by a transfer, both the sending
                and receiving employers will need to agree the new apprenticeship in the apprenticeship service</li>
              <li>update the apprenticeship service with the new price, new main provider and effective date</li>
            </ul>
            <h3>Effect on funding</h3>
            <p>Funding from an employer’s apprenticeship service account or government-employe co-investment to the
              first main provider stops.</p>
            <p>Payments due to the first main provider are reconciled.</p>
            <p>Funding from an employer’s apprenticeship service account or government co-investment for the second
              programme is made to the new main provider.</p>
            <p>The funding band cap and minimum duration will apply to the total cost across both main providers.</p>
            <p>The employer continues to receive additional payments.</p>
            <p>The original main provider retains any additional payments already made.</p>
            <p>Any remaining main provider additional payments not paid to the original main provider can be paid to
              the new main provider.</p>
            <p>The number of days in learning with the first main provider are added to the days in learning with the
              new main provider to calculate when payments are due.</p>
            <h3>Action to take where the apprentice is made redundant with more than 6 months of apprenticeship
              remaining</h3>
            <p>E230. The employer must stop payments from their apprenticeship service account,
              including where the apprenticeship is funded by a transfer.</p>
            <p>E231. The main provider must:</p>
            <ul>
              <li>support the apprentice to find a new job (within 12 weeks)</li>
              <li>retain evidence of when the apprentice was made redundant, and report the change in employment status
                to us</li>
              <li>refer to the scenario within the Apprenticeship Funding Rules for Providers for action to take with
                the new employer, where a new employer is found</li>
            </ul>
            <h3>Effect on funding</h3>
            <p>Funding from the first employer’s apprenticeship service account stops. Any employer co-investment due
              from the first employer should be reconciled to the date of redundancy and any differences in employer
              co-investment received to those due should be repaid to the employer or main provider.</p>
            <p>The apprentice is funded through 100% government co-investment for up to 12 weeks.</p>
            <p>Employer additional payments stop. Main provider additional payments remain unchanged.</p>
            <h3>Action to take where apprentice is made redundant with less than 6 months of apprenticeship remaining</h3>
            <p>E232. The employer must stop payments from their apprenticeship service account, including where the
              apprenticeship is funded by a transfer.</p>
            <p>E233. The main provider must:</p>
            <ul>
              <li>support the apprentice to find a new job</li>
              <li>retain evidence of when the apprentice was made redundant, and report the change in employment status
                to us</li>
              <li>refer to the scenario within the Apprenticeship Funding Rules for Providers for action to take with
                the new employer, where a new employer is found</li>
            </ul>
            <h3>Effect on funding</h3>
            <p>Funding from the first employer’s apprenticeship service account stops.</p>
            <p>Any employer co-investment due from the first employer should be reconciled to the date of redundancy
              and
              any differences in employer co-investment received to those due should be repaid to the employer or main
              provider.</p>
            <p>The apprentice is funded through 100% government co-investment for up to 12 weeks.</p>
            <p>Employer additional payments stop. Main provider additional payments remain unchanged.</p>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}