{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">Employers and apprenticeships: things to check</li>
  </ol>

  <div class="manual-body" id="content">
    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Employers and apprenticeships: things to check</h1>
      <p class="summary">This document is a combination of rules and guidance in order to help you manage your
        apprenticeship in partnership with your chosen main provider. This summary checklist is a guide to the steps
        you must take to ensure you are meeting the apprenticeship funding rules.</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2 id="check-1">Do I have a genuine job for this apprentice?</h2>
            <p>By genuine we mean that:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>the apprentice must have a contract of service with you, or an apprenticeship training
                  agency, which is long enough for them to complete the apprenticeship successfully
                  (including, for standards the end-point assessment). Exceptions to this can be found in
                  paragraph E15</p>
              </li>
              <li>
                <p>the cost of the apprentice’s wages must be met by you</p>
              </li>
              <li>
                <p>the apprentice must have a job role (or roles) with you that provides the opportunity for them to
                  gain the knowledge, skills and behaviours needed to achieve their apprenticeship</p>
              </li>
              <li>
                <p>the apprentice must have appropriate support and supervision on the job, by you, to
                  carry out their job role</p>
              </li>
            </ul>

            <h2 id="check-2">Have I checked the eligibility of the apprentice?</h2>
            <p>The relationship between you and the main provider is important throughout the apprenticeship. Your main
              provider should offer you the option of using the recruit an apprentice service for all new recruits into
              your business.</p>
            <p>You and your main provider must agree a price for the total cost of each apprenticeship, including the
              training costs and any subcontracted training. The price for apprenticeship standards must include the
              cost of the end-point assessment which you must agree with an end-point assessment organisation.</p>

            <h2 id="check-3">Have I checked the duration of the apprenticeship and that prior learning has</h2>
            <p>been considered?</p>
            <p>You must make sure the apprenticeship training will last for at least one year. The framework or
              standard specification or assessment plan may require this to be longer to support the delivery of the
              full apprenticeship content.</p>
            <p>The main provider must account for the apprentice’s prior learning and because this can reduce the
              content and length of the apprenticeship it may also reduce the price you negotiate with them. Funds must
              not be used to pay for skills already attained by the apprentice.</p>

            <h2 id="check-4">Have I got an apprenticeship agreement with the apprentice?</h2>
            <p>An apprenticeship agreement must be signed at the start of the apprenticeship. It is used to confirm
              individual employment arrangements between the apprentice and yourself and is a legal requirement.</p>

            <h2 id="check-5">Have I got a commitment statement?</h2>
            <p>You must have a commitment statement, signed by you, the apprentice and the main provider. This is
              sometimes known as an individual learning plan and sets out the plan for the agreed training.</p>

            <h2 id="check-6">Have I recorded the apprenticeship?</h2>
            <p>If you are a levy payer and have an apprenticeship service account you must record the apprenticeship
              details. You can ask the main provider to do this for you.</p>

            <h2 id="check-7">Have I ensured my apprentice is on the correct wage?</h2>
            <p>Apprentices must be an employee on the first day of their apprenticeship and as a minimum at least be
              paid a wage consistent with the law for the time they are in work, in off-the-job training and studying
              English and maths (if appropriate).</p>

            <h2 id="check-8">Have I checked on the progress of my apprentice?</h2>
            <p>You must make sure the apprentice is taking part in learning throughout the apprenticeship and has
              regular progress reviews that involve you and the provider.</p>

            <h2 id="check-9">Do I have evidence?</h2>
            <p>You must provide evidence to the main provider of the apprentice’s average weekly hours and any changes
              to working patterns.</p>
            <p>You must also have evidence needed for any additional payments made to you because of the apprentice’s
              characteristics (for example, their age). You must give the main provider evidence of the apprentice’s
              eligibility at the start of their apprenticeship.</p>


          </div>

        </div>
      </div>
    </article>
  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}