{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">Who can be funded?</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Who can be funded?</h1>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">

            <h2 id="who-1">Who can be funded?</h2>
            <p>E54. You can only use funds in your apprenticeship service account, or government-
              employer co-investment, for those who are eligible. You must give the main
              provider evidence of the individual’s eligibility.</p>
            <p>E55. To use funds in your apprenticeship service account or government-employer
              co-investment, the individual must:</p>
            <ul>
              <li>
                <p>start their apprenticeship after the last Friday in June of the academic year in which they have
                  their 16th birthday</p>
              </li>
              <li>
                <p>be able to complete the apprenticeship within the time they have available. If you know an
                  individual is unable to complete the apprenticeship in the time they have available, they must not be
                  funded</p>
              </li>
              <li>
                <p>not be undertaking another apprenticeship or be in receipt of any other DfE funding during their
                  apprenticeship programme; this includes another apprenticeship or any other DfE funded FE/HE
                  programme. Individuals on a sandwich placement as part of a degree programme must not undertake any
                  part of an apprenticeship during this placement</p>
              </li>
              <li>
                <p>not be asked to contribute financially to the cost of training, on- programme or end-point
                  assessment. This includes where the individual has completed the programme successfully or left the
                  programme early. Costs include any co-investment or additional training and assessment costs, above
                  the funding band, that you have paid directly to the main provider where this is part of the agreed
                  apprenticeship</p>
              </li>
              <li>
                <p>not use a student loan to pay for their apprenticeship. Where an individual transfers to an
                  apprenticeship from a full-time further education or higher education course, and that course has
                  been funded by a student loan, the loan must be terminated</p>
              </li>
              <li>
                <p>spend at least 50% of their working hours in England over the duration of the apprenticeship. You
                  must make separate arrangements with the relevant devolved administration if you are planning to
                  deliver apprenticeships to individuals who spend more than 50% of their working hours in a devolved
                  administration over the duration of their
                  apprenticeship, including time spent on off-the-job training. Refer to Annex A (paragraph E255) for
                  exceptions to this rule</p>
              </li>
              <li>
                <p>have the right to work in England</p>
              </li>
              <li>
                <p>have an eligible residency status (information can be found in the residency eligibility section in
                  Annex A)</p>
              </li>
            </ul>
            <p>E56. You can only use funds from your apprenticeship service account or employer-government
              co-investment for apprentices employed by you or a connected company or charity as defined by HMRC. You
              must provide evidence of employment to the main provider. This also applies where the apprentice is
              funded by a transfer of funds from another employer.</p>
            <p>E57. We will fund an apprentice to undertake an apprenticeship at a higher level than a qualification
              they already hold, including a previous apprenticeship.</p>
            <p>E58. We will fund an apprentice to undertake an apprenticeship at the same or lower level than a
              qualification they already hold, if the apprenticeship will allow the individual to acquire substantive
              new skills and you can evidence that the content of the training is materially different from any prior
              qualification or a previous apprenticeship.</p>
            <p>E59. The age of the apprentice on the day they start their apprenticeship will be used for all age-based
              eligibility criteria for that apprenticeship.</p>
            <p>E60. An apprentice’s eligibility will not change during the apprenticeship, unless their employment
              status also changes.</p>
            <p>E61. If an apprentice is made redundant, we will continue to fund their training even if they cannot
              find another employer. Apprentices who are made redundant within six months of their final day will be
              funded to completion.</p>
            <p>We will also fund apprentices’ training for 12 weeks where they are made redundant more than six months
              from their final day, while they seek a further apprenticeship agreement (see paragraph E15.2).</p>


          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}