---
title: Home
layout: default
permalink: /
---

<div class="app-masthead">
    <div class="govuk-width-container app-site-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl app-masthead__title">Design your service using GOV.UK styles,
                    components and&nbsp;patterns</h1>
                <p class="app-masthead__description">Use this design system to make your service consistent
                    with all Digital Apprenticeship Services. Learn from the research and experience of other service teams and avoid
                    repeating work that’s already been done.</p>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container app-site-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l govuk-!-font-weight-bold">Styles</h2>
                <p class="govuk-body">Make your service look like GOV.UK with guides for applying layout,
                    typography, colour and&nbsp;images.</p>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <a href="styles" class="govuk-link govuk-!-font-weight-bold">Browse styles</a></p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l">Components</h2>
                <p class="govuk-body">Save time with reusable, accessible components for forms, navigation,
                    panels, tables and&nbsp;more.</p>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <a href="components" class="govuk-link govuk-!-font-weight-bold">Browse components</a></p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l">Patterns</h2>
                <p class="govuk-body">Help users complete common tasks like entering names and addresses,
                    filling in forms and creating accounts.</p>
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="patterns" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
            </div>
        </div>
    </div>
</div>

