{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">Contracting and subcontracting</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Contracting and subcontracting</h1>
      <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dignissimos earum pariatur
        sint delectus necessitatibus ad quo, possimus maxime quae deserunt? Nostrum voluptate libero totam illo iste
        mollitia expedita et?</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Main providers directly delivering training or on-programme assessment</h2>
            <p>E130. Funding for all elements of each apprenticeship will be routed through a single main provider that
              you have chosen. This includes funding for English and maths.</p>
            <p>E131. You must ensure that the main provider that you contract with directly delivers some of the
              apprenticeship training and/or on-programme assessment associated with your apprenticeship programme.</p>
            <p>By apprenticeship programme, we mean the apprentices that are being trained for you by your chosen main
              provider.</p>
            <p>The volume of training and/or on-programme assessment that the main provider directly delivers for you
              must have some substance and must not be a token amount to satisfy this rule.</p>
            <p>It must not be limited to a brief input at the start of your apprenticeship programme or involve
              delivery to just a few of a large number of apprentices.</p>
            <p>You can find further information in the document Using Subcontractors in the Delivery of
              Apprenticeships.</p>
            <p>E132. Where you ask them to use delivery subcontractors they must satisfy one of the
              following three criteria:</p>
            <ul>
              <li>
                <p>they are on the published Register of Apprenticeship Training Providers and have applied by the main
                  or supporting provider application routes</p>
              </li>
              <li>
                <p>they are you or one of your connected companies or charities as defined by HMRC and are on the
                  published Register of Apprenticeship Training Providers, having applied through the employer-provider
                  application route</p>
              </li>
              <li>
                <p>they are not on the published Register of Apprenticeship Training Providers but will deliver less
                  than £100,000 of apprenticeship training and on-programme assessment under contract across all main
                  providers and employer-providers between 1 April and 31 March each year</p>
              </li>
            </ul>
            <p>E133. We will notify you if the training provider is removed from the Register of Apprenticeship
              Training Providers.</p>
            <p>We will stop payments to the main provider three months from the date of this notification unless the
              main provider has successfully entered the register. You must give the main provider three months’ notice
              to terminate the contract with them.</p>
            <p>E134. Where you are the delivery subcontractor, you must only report actual costs of delivery.</p>
            <h2>Your written agreement with the main provider</h2>
            <p>E135. You must agree with a main provider where delivery subcontractors are used and you must have a
              written agreement in place with the main provider setting out the following for the delivery of your
              apprenticeship programme:</p>
            <ul>
              <li>the apprenticeship training and/or on-programme assessment that they will directly deliver</li>
              <li>the amount of funding they will retain for their direct delivery</li>
              <li>the apprenticeship training and/or on-programme assessment that each delivery subcontractor will
                contribute to your apprenticeship programme</li>
              <li>the amount of funding the main provider will pay each delivery subcontractor for their contribution</li>
              <li>the amount of funding the main provider will retain to manage and monitor each delivery subcontractor</li>
              <li>the support the main provider will provide each delivery subcontractor in exchange for the amount of
                funding they will retain</li>
              <li>the monitoring they will undertake to ensure the quality of the apprentice training and/or
                on-programme assessment they have contracted their delivery subcontractors to carry out</li>
              <li>any actual or perceived conflict of interest between them and any delivery subcontractors</li>
            </ul>
            <h2>Special conditions for all instances where the employer is the delivery subcontractor</h2>
            <p>E136. Where the employer is the delivery subcontractor the main provider must only pay you for actual
              costs of delivery. Employers must not profit from apprenticeship delivery to their own employees.</p>
            <h2>Disputes and issue resolution between the employer and main provider</h2>
            <p>E137. The main provider is responsible for resolving issues and disputes between you and their delivery
              subcontractors. Main providers and assessment organisations must provide you and your apprentices with
              their written complaints and dispute resolution procedure, policy and process. The first contact point
              for this must be included in the written agreement and in the commitment statement.</p>
            <p>E138. Agreements entered into between you and the main provider are legal agreements and dispute
              resolution should be in accordance with the terms of the written agreement and ultimately would be
              enforceable through the courts.</p>
            <p>E139. You and your apprentices must be made aware by the main provider that you can contact the
              apprenticeship helpline regarding apprenticeship concerns, complaints and enquiries. The contact number
              and website must also be included in the written agreement and in the apprentice’s commitment statement.</p>
            <p>E140. If you are unable to resolve your complaint with the main provider you may make a complaint in
              accordance with the ESFA’s procedure for dealing with complaints about training providers.</p>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}