{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">Glossary</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">Glossary</h1>
      <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dignissimos earum pariatur
        sint delectus necessitatibus ad quo, possimus maxime quae deserunt? Nostrum voluptate libero totam illo iste
        mollitia expedita et?</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Account</h2>
            <p>An employer’s account or apprenticeship service account is part of the apprenticeship service that will
              allow employers to view the funds that they have available to direct us to pay for their chosen
              apprenticeship training and assessment in England.</p>
            <h2>Apprentice</h2>
            <p>An apprentice is an individual who receives apprenticeship training and, where applicable, end-point
              assessment through an apprenticeship framework or standard funded by us.</p>
            <h2>Apprenticeship</h2>
            <p>An apprenticeship is a job with an accompanying skills development programme.</p>
            <p>This includes the training and (where required) end-point assessment for an employee as part of a job
              with an accompanying skills development programme.</p>
            <p>The full definitions of (i) an English apprenticeship (frameworks) and (ii) an approved English
              apprenticeship (standards) can be found in Part 1 of the Apprenticeships, Skills, Children and Learning
              Act 2009.</p>
            <h2>Apprenticeship agreement</h2>
            <p>An apprenticeship agreement is between an employer and an apprentice, either in accordance with the
              Apprenticeships, Skills, Children and Learning Act 2009 sections 32 to 36 (for frameworks) or section A1
              (for standards – an approved English apprenticeship agreement).</p>
            <h2>Apprenticeship service</h2>
            <p>The digital interface to services designed to support the uptake of apprenticeships.</p>
            <p>The service is aimed primarily at employers who engage with main providers and apprenticeship assessment
              organisations to deliver and facilitate the apprenticeship programme.</p>
            <p>It allows employers to choose, and pay for, the apprenticeship training that they want and will support
              the uptake of apprenticeships.</p>
            <p>The service contains information coming from a range of different sources, including main providers.</p>
            <h2>Apprenticeship service account</h2>
            <p>The area on the apprenticeship service where employers can manage their funding and apprentices, view
              their account balance and plan their spending.</p>
            <h2>Apprenticeship training agency (ATA)</h2>
            <p>An organisation whose main business is employing apprentices who are made available to employers for a
              fee.</p>
            <h2>Apprenticeship levy</h2>
            <p>The apprenticeship levy is a levy on UK employers to fund new apprenticeships in England. The levy is
              charged at a rate of 0.5% of an employer’s pay bill. Each employer will receive an allowance of £15,000
              to offset against their
              levy payment.</p>
            <h2>Break in learning</h2>
            <p>This is a break in training where an individual is not continuing with their apprenticeship but has told
              the employer beforehand that they intend to resume their apprenticeship in the future.</p>
            <h2>Commitment statement</h2>
            <p>A statement held by the main provider, the apprentice and their employer.</p>
            <p>The commitment statement sets out how the apprentice will be supported to successful achievement of the
              apprenticeship.</p>
            <p>It must be signed by the apprentice, their employer and the main provider, and all three parties must
              retain a current signed and dated version.</p>
            <h2>Contract for service</h2>
            <p>A contract between a contractor and a client.</p>
            <h2>Contract of service</h2>
            <p>A contract between an employee and employer.</p>
            <h2>Delivery subcontractor</h2>
            <p>Delivery subcontractors are any organisation contracted through a main provider or employer-provider to
              deliver apprenticeship off-the-job training, English or maths or planned on-programme assessment.</p>
            <p>This excludes end-point assessment organisations; end-poin assessment organisations are not delivery
              subcontractors.</p>
            <p>It also excludes subcontractors you use for different services, including help with marketing or data
              management, as well as those who deliver training to an apprentice that is in addition to the
              apprenticeship and not funded through this route.</p>
            <h2>Distance learning</h2>
            <p>Learning delivered remotely (not face-to-face).</p>
            <p>This could include, but is not limited to, e-learning and webinars.</p>
            <h2>Earnings adjustment statement (EAS)</h2>
            <p>The earnings adjustment statement is how main providers claim funding that cannot be claimed through the
              individualised learner record.</p>
            <h2>Employed</h2>
            <p>An individual who has a contract of service. This does not include individuals who are self-employed.</p>
            <h2>Employer</h2>
            <p>We use the term ‘employer’ to mean an organisation that has a contract of service and an apprenticeship
              agreement with an apprentice.</p>
            <p>This can include an apprenticeship training agency (ATA).</p>
            <p>This may also include a company or charity whose PAYE scheme the employer has connected to their
              apprenticeship service account in accordance with HMRC’s definition of connected companies and charities.</p>
            <p>All references to an ‘employer’ are in relation to the whole organisation and not individual sites or
              locations, groups, and companies linked by directors.</p>
            <h2>Employer-provider</h2>
            <p>Any organisation who delivers some, or all, of the ‘off-the-job’ training element of an apprenticeship
              to their own staff and holds a contract with us through which we directly route funds from their
              apprenticeship service account or government-employer co-investment.</p>
            <p>The employer-provider will have overall responsibility for the training and on-programme assessment
              conducted by themselves, their delivery subcontractors and will have a contractual relationship for the
              end-point assessment conducted by an end-point assessment organisation.</p>
            <p>The payment for the end-point assessment is through the employer-provider.</p>
            <h2>End-point assessment organisation</h2>
            <p>End-point assessment organisation are organisations on the Register of End-Point Assessment
              Organisations.</p>
            <p>End-point assessment organisations are selected by the employer.</p>
            <p>You and the end-point assessment organisation will need a form of contract in writing in order for them
              to be paid for delivering the end-point assessment as part of the agreed apprenticeship programme.</p>
            <h2>Evidence pack</h2>
            <p>A collection of documents and information brought together to form a single point of reference relating
              to the learning that is taking place.</p>
            <p>This provides the evidence to prove that the apprentice exists and is eligible for funding, and for the
              learning to be provided.</p>
            <h2>Exceptional learning support (ELS)</h2>
            <p>Exceptional learning support is when the needs of the apprentice are over £19,000 in a single year.</p>
            <h2>Final day</h2>
            <p>The date entered onto the ILR when the apprentice is expected to complete the practical period of their
              apprenticeship.</p>
            <p>This is the end of the training period and does not include end-point assessment (for standards).</p>
            <h2>Framework</h2>
            <p>The term framework (sometimes referred to as apprenticeship framework) covers the apprenticeship
              frameworks which are available for delivery.</p>
            <p>The legislation relating to frameworks (English apprenticeships) has been repealed but saved until
              frameworks have been phased out (Deregulation Act 2015 (Commencement No. 1 and Transitional Saving
              Provisions) Order
              2015).</p>
            <h2>Functional skills</h2>
            <p>Applied practical skills in English, maths and ICT that provide the individual with the essential
              knowledge, skills and understanding to enable them to operate effectively and independently in life and
              work.</p>
            <h2>Funding agreement</h2>
            <p>Throughout this document the term ‘funding agreement’ is used to include:</p>
            <ul>
              <li>the apprenticeship levy provider funding agreement</li>
              <li>the contract for services between the employer and main provider</li>
              <li>the contract for services – apprenticeships (between the ESFA and main providers delivering
                apprenticeships to non-levy-paying employers)</li>
            </ul>
            <h2>Gateway requirements</h2>
            <p>These are requirements set out in the assessment plan that must be met by the apprentice prior to
              undertaking end-point assessment of the apprenticeship standard.</p>
            <p>They will include the completion of English and maths qualifications (where applicable) and completion
              of any on-programme mandatory qualifications (where applicable) along with satisfactory evidence (as
              determined by the employer, in consultation with the main provider) that the apprentice has achieved the
              necessary knowledge, skills and behaviours set out in the standard.</p>
            <h2>Government-employer co-investment</h2>
            <p>Government-employer co-investment is funding that is not paid for from an employer’s apprenticeship
              service account (because the employer does not pay the levy or has insufficient levy funds in their
              apprenticeship service account).</p>
            <p>Employers will need to make a mandatory co-investment with the government.</p>
            <h2>Higher and degree apprenticeships</h2>
            <p>An apprenticeship where the main learning is at level 4 or above (including higher education
              qualifications).</p>
            <h2>Hub</h2>
            <p>The hub provides online services including the return of your ILR and completed EAS.</p>
            <p>You can also search all learning aims, components of qualifications, apprenticeship frameworks and
              standards along with their validity and funding details.</p>
            <h2>Immigration permission</h2>
            <p>The permissions, or otherwise, granted by the government of the United Kingdom for an individual to
              reside here.</p>
            <h2>Individualised learner record (ILR)</h2>
            <p>The primary data collection requested from training providers for further education and work-based
              learning in England.</p>
            <p>The data is used widely, most notably by the government, to monitor policy implementation and the
              performance of the sector.</p>
            <p>It is also used by organisations that allocate funding for further education.</p>
            <h2>Integrated standard</h2>
            <p>An integrated standard is where the end-point assessment is incorporated into the main learning aim
              (usually a degree or other full higher education qualification).</p>
            <p>In these cases, there is no need for an additional independent assessment.</p>
            <h2>Learning</h2>
            <p>The term learning in this document, when used, is interchangeable with training.</p>
            <h2>Levy-paying employer</h2>
            <p>An employer with an annual pay bill of more than £3 million.</p>
            <h2>Licence to practise</h2>
            <p>Where it is a legal (or statutory) requirement for all practitioners to obtain a licence which confirms
              the licence holder meets prescribed standards of competence, including situations in which it is unlawful
              to carry out a specified range of activities for pay without first having obtained a licence.</p>
            <h2>Main provider</h2>
            <p>Any organisation holding a contract with us through which we directly route funds from an employer’s
              apprenticeship service account or government-employer co-investment.</p>
            <p>The main provider will have the overall responsibility for the training and on-programme assessment
              conducted by themselves and their delivery subcontractors, and have a contractual relationship on behalf
              of the employer for the end-point assessment conducted by an end-point assessment organisation.</p>
            <p>The payment for the end-point assessment organisation is through the main provider.</p>
            <h2>Mentoring</h2>
            <p>To include in off-the-job training, mentoring must impart new learning to the apprentice directly linked
              to the achievement of the apprenticeship by a more senior or experienced member of staff.</p>
            <p>This does not include general line management.</p>
            <p>The apprentice must not be doing productive work.</p>
            <h2>Ordinarily resident</h2>
            <p>For funding purposes, a person who normally lives in the country, is allowed to live there by law, and
              return there after temporary trips outside the country.</p>
            <p>Temporary absences from a country due to the learner or a relevant family member working or travelling
              abroad would be discounted when considering ordinary residency.</p>
            <h2>Personal learning record (PLR)</h2>
            <p>The personal learning record (PLR) allows individual apprentices access to their past and current
              achievement records.</p>
            <p>These can be shared with schools, colleges, further education training providers, universities or
              employers when making an application to further their education, training and employment.</p>
            <h2>Practical period</h2>
            <p>The period for which the employer and apprentice agree that the apprentice will work and receive
              training under their approved English apprenticeship agreement.</p>
            <p>It does not include end-point assessment (for standards).</p>
            <h2>Register of Apprenticeship Training Providers</h2>
            <p>From May 2017, levied employers have been able to choose a main provider from a new register, the
              Register of Apprenticeship Training Providers (RoATP).</p>
            <p>The register will encourage diversity and competition in the training provider market, supporting
              quality and employer choice.</p>
            <p>To be added to the register, organisations must pass tests on due diligence, financial health, and tests
              on quality, capacity and capability.</p>
            <h2>Register of End-Point Assessment Organisations</h2>
            <p>A Register of End-Point Assessment Organisations from which an employer can select an organisation (to
              be contracted by a main provider) to deliver the end-point assessment as part of the employer’s agreed
              apprenticeship programme.</p>
            <h2>Self-directed distance learning</h2>
            <p>This is where the apprentice is working alone with on-line material.</p>
            <p>The material is not delivered in real time and there is no interactive support.</p>
            <h2>Standard</h2>
            <p>We use the terms ‘standard’ and ‘apprenticeship standard’ to cover the apprenticeship standards which
              have been approved and published by the Institute for Apprenticeships.</p>
            <p>Apprentices can only be enrolled against an apprenticeship standard once it is identified as ‘approved
              for delivery’ on the Institute for Apprenticeships website.</p>
            <p>The Deregulation Act 2015, the Enterprise Act 2016 and the Technical and Further Education Act 2017
              inserted the statutory provisions relating to standards (approved English apprenticeships), and the
              Institute for Apprenticeships and its functions, into ASCLA</p>
            <h2>Start of learning</h2>
            <p>The date on which learning begins. We do not consider enrolment, induction, diagnostic assessment or
              prior assessment to be part of learning.</p>
            <h2>Subcontractor</h2>
            <p>A legal entity that has a contractual relationship with a main provider to deliver apprenticeship
              training funded by us.</p>
            <h2>Training</h2>
            <p>We use the term training to mean the delivery of training and on-programme assessment by a main provider
              or any organisation contracted to a main provider for this purpose.</p>
            <h2>Training provider</h2>
            <p>The term training provider refers to any organisation on the Register of Apprenticeship Training
              Providers and appointed by an employer and/or holding a current funding agreement with us or contracted
              through a main provider for the delivery of training and on-programme assessment, as part of the
              employer’s agreed apprenticeship programme.</p>
            <p>This includes companies, charities, bodies, colleges, universities, sole traders, and other types of
              legal entity, including those who are in the same group as, or are associated with, the main provider.</p>
            <p>This excludes individuals who are self-employed or supplied by an employment agency and who are working
              under the main provider’s direction and control, in the same way as an employee.</p>
            <h2>Unique learner number</h2>
            <p>A 10-digit number used to match a learner’s achievement to their personal learning record (PLR).</p>
            <h2>Written agreement</h2>
            <p>The main provider must have a written agreement in place with the assessment organisation and make
              payment to them for conducting the end-point assessment.
              The written agreement must set out the arrangements for end-point assessment including arrangements for
              any re-takes and the transaction of payments.</p>
            <h2>Zero-hour contracts</h2>
            <p>Contracts which do not specify a set number of hours for the employee.</p>
            <p>If you have any enquiries regarding this publication or require an alternative format, please contact us
              <a href="mailto:SDE.servicedesk@education.gov.uk">SDE.servicedesk@education.gov.uk</a></p>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}