{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Manual
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and
              Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="/guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li><a href="../index.html">Contents</a></li>

    <li class="last-child">What can be funded?</li>
  </ol>

  <div class="manual-body" id="content">

    <article aria-labelledby="section-title">
      <h1 id="section-title" class="section-title">What can be funded?</h1>
      <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dignissimos earum pariatur
        sint delectus necessitatibus ad quo, possimus maxime quae deserunt? Nostrum voluptate libero totam illo iste
        mollitia expedita et?</p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">

          <div class="gem-c-govspeak govuk-govspeak ">
            <h2>Eligible costs</h2>
            <p>E74. The apprenticeship must be eligible for funds in your apprenticeship service account or
              government-employer co-investment before the individual starts. The hub contains details of all eligible
              apprenticeships. Apprentices can only be enrolled against an apprenticeship standard once it is
              identified as ‘approved for delivery’ on the Institute for Apprenticeships website.</p>
            <p>E75. Funds from your apprenticeship service account, government-employer co-investment or the additional
              funds paid for 16 to 18 year olds on frameworks must only be used for eligible costs directly related to
              the individual apprenticeship. These funds must only be used to pay for training and assessment,
              including end-point assessment, to complete an apprenticeship that is eligible for funding up to the
              limit of the funding band.</p>
            <p>E76. For organisations that have been accepted onto the Register of End-Point Assessment Organisations,
              eligible costs are set out in the Conditions of Acceptance document.</p>
            <p>E77. For main providers and the delivery of training and on-programme assessment, eligible costs are
              limited to the following:</p>
            <ol>
              <li>
                <p>off-the-job training through a main provider, or evidenced costs for employer-provider delivery.
                  This could include some or all of the training aspects of a licence to practise or non-mandatory
                  qualification. In both cases there must be a clear overlap between this training and the knowledge,
                  skills and behaviours needed for the apprenticeship standard</p>
              </li>
              <li>
                <p>registration, examination and certification costs associated with mandatory qualifications,
                  excluding any licence to practise (see paragraph E81.8)</p>
              </li>
              <li>
                <p>regular planned on-programme assessments (progress reviews) to discuss progress to date against the
                  commitment statement and the immediate next steps required</p>
              </li>
              <li>
                <p>self-directed distance learning (where it forms only part of the learning experience), interactive
                  online learning (virtual classrooms) or blended learning relating to the off-the-job training element
                  of an apprenticeship (see paragraph E81.6)</p>
              </li>
              <li>
                <p>materials (non-capital items) used in the delivery of the apprenticeship framework or standard. By
                  materials (non-capital items), we mean the equipment or supplies necessary to enable a particular
                  learning activity to happen. These items would not normally have a lifespan beyond the individual
                  apprenticeship being funded</p>
              </li>
              <li>
                <p>any administration directly linked to training and assessment, including end-point assessment. This
                  includes costs relating to the ongoing development of existing teaching materials, lesson planning,
                  the processing of the ILR and quality assurance</p>
              </li>
              <li>
                <p>time spent by employees/managers supporting or mentoring apprentices; this must be directly linked
                  to the apprenticeship training and assessment, including end-point assessment, and be in addition to
                  generic line management responsibilities</p>
              </li>
              <li>
                <p>additional learning and/or the cost to resit an exam linked to a mandatory qualification</p>
              </li>
              <li>
                <p>additional learning required to retake an end-point assessment</p>
              </li>
              <li>
                <p>accommodation costs for training delivered through residential modules where the residential
                  training is a mandatory requirement for all apprentices. By mandatory, we mean that there is a
                  specific requirement in the apprenticeship standard which would apply equally to any apprentice,
                  regardless of their location, employer or main provider (including subcontractors). Any costs for
                  residential modules must represent value for money</p>
              </li>
              <li>
                <p>costs of an apprentice taking part in a skills competition if you and the main provider have agreed
                  that participation in the competition directly contributes to helping that individual achieve the
                  apprenticeship standard</p>
              </li>
            </ol>
            <p>E78. The costs of taking part in any of the above activities may be included in the total negotiated
              price of training and end-point assessment, agreed between you and the main provider, and you and the
              end-point assessment organisation.</p>
            <p>You and the main provider agree the price of the training. You and the end-point assessment organisation
              agree the price of the end-point assessment.</p>
            <p>E79. If the total negotiated price exceeds the maximum of the funding band, then you must pay in full
              the difference between the band maximum and the total negotiated price.</p>
            <p>E80. Any of the eligible costs outlined in paragraph E77 can be bought in from a third party, including
              the apprentice’s employer, and we will fund them.</p>
            <p>Where you are the third party then only actual costs will be funded and these must be recorded.</p>
            <p>Where the eligible cost is for the delivery of apprenticeship training and/or on-programme assessment
              from a third party the subcontracting rules in paragraphs E130 to E140 must be followed.</p>
            <p>Funds from an employer’s apprenticeship service account or government co-investment must not be used to
              fund other services from a third party.</p>
          </div>

        </div>
      </div>
    </article>

  </div>

  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>

{% endblock %}