{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% set _thisManualType = myData.manuals[myData.manual].type %}
{% set _thisManual = myData.manuals[myData.manual].content %}
{% set section = {} %}
{% for _section in _thisManual.sections %}
    {% if myData.manualpage == _section.id %}
        {% set section = _section %}
    {% endif %}
{% endfor %}

{% set _rulePrefix = "P" %}
{% if _thisManualType == "employer" %}
    {% set _rulePrefix = "E" %}
{% endif %}

{% set _filterState = myData.updatesFilterOn %}

{% block pageStyles %}
<style>

    /* hiding parts */
    .hide-non-updated .part-non-updated,
    .hide-non-updated .subpart-non-updated,
    .hide-non-updated .subsubpart-non-updated {
        display: none;
    }

    /* showing updates */
    .updates,
    .updates-2 {
        display: none;
    }
    .show-updates .updates {
        display: block;
    }
    .updates.call-to-action,
    .updates .call-to-action {
        margin: 0;
    }

    /* Always on version */
    .updates-2 .govuk-inset-text {
        /* margin-top: 15px; */
    }
    .show-updates-2 .updates-2 {
        display: block;
    }

</style>
{% endblock %}


{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block {% if myData.updatesFilter == 'alwayson' or myData.updatesFilter == 'alwaysonnotags' %}show-updates-2{% endif %}">
    
    {% if myData.header == "altered" %}
        {% include "../includes/manual-header-2.html" %}
    {% else %}
        {% set _manualHeaderTitle = _thisManual.title|safe %}
        {% include "../includes/manual-header.html" %}
    {% endif %}
      
    <ol class="breadcrumb-trail">
        <li><a href="manual-home?manual={{myData.manual}}&updatesFilterOn=false">Contents</a></li>
        <li class="last-child">{{section.title|safe}}{% if section.range %} ({{section.range|safe}}){% endif %}</li>
    </ol>
      
    <article aria-labelledby="manual-title" id="content">
        <div class="manual-body">
            {% if myData.manualpage == "feedback" %}
            <article aria-labelledby="section-title">
                <h1 id="section-title" class="section-title section-title-with-summary">
                    Contact us
                </h1>
                <p class="summary">
                    How to get help, support and send feedback.
                </p>
                <div class="gem-c-govspeak govuk-govspeak">
                    <div class="call-to-action">
                        <p class="govuk-body"><a href="https://www.smartsurvey.co.uk/s/2CJEQ/">Complete our survey</a> to help us make the funding rules clearer.</p>
                    </div>
                    
                    <h3 class="govuk-heading-m">Training providers</h3>
                    <p class="govuk-body">For help and support you can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>email us at <a href="mailto:SDE.servicedesk@education.gov.uk">SDE.servicedesk@education.gov.uk </a> </li>
                        <li>phone us on 0370 267 0001</li>
                        <li>contact your provider management advisor </li>
                    </ul>
                    <h3 class="govuk-heading-m">Employers</h3>
                    <p class="govuk-body">For help and support, phone us on 0800 015 0600.</p>
                </div>
            {% elif myData.manualpage == "updates" %}
            <article aria-labelledby="section-title">
                <h1 id="section-title" class="section-title section-title-with-summary">
                    Updates since 1 August 2018
                </h1>
                <p class="summary">
                    See a list of all updates that we have made to the rules since 1 August 2018.
                </p>

                <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
                    <div class="collapsible-subsections">
                        <div class="gem-c-govspeak govuk-govspeak parts-container">

                            <h2 id="{{subsection.id}}" class="">
                                What is an apprenticeship?
                            </h2>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><span style="font-weight:bold">EP60.2</span> – Clarification: updated to reflect that some apprenticeship standards have multiple pathways.  Where an apprentice changes their pathway there must be evidence that the total amount of time spent on the apprenticeship meeting the minimum duration requirement.
                                </li>
                            </ul>

                            <h2 id="{{subsection.id}}" class="">
                                Who can be funded?
                            </h2>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><span style="font-weight:bold">EP131.3</span> – Clarification: Updated to reflect that in the case of redundant apprentices the provider can act as the proxy employer.
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            {% else %}
            <article aria-labelledby="section-title">
                <h1 id="section-title" class="section-title {% if section.summary %}section-title-with-summary{% endif %}">
                    {{section.title|safe}}{% if section.range %} ({{section.range|safe}}){% endif %}
                </h1>
                {% if section.summary %}
                <p class="summary">
                    {{section.summary|safe}}
                </p>
                {% endif %}

                <!-- FILTER -->

                {% set _sectionHasUpdates = false %}
                {% if section["updates-section"] %}
                    {% set _sectionHasUpdates = true %}
                {% endif %}
                {% for subsection in section.subsections %}
                    {% if subsection.updates %}
                        {% set _sectionHasUpdates = true %}
                    {% endif %}
                    {% for part in subsection.parts %}
                        {% if part.updates %}
                            {% set _sectionHasUpdates = true %}
                        {% endif %}
                        {% for subpart in part.subparts %}
                            {% if subpart.updates %}
                                {% set _sectionHasUpdates = true %}
                            {% endif %}
                            {% for subsubpart in subpart.subsubparts %}
                                {% if subsubpart.updates %}
                                    {% set _sectionHasUpdates = true %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                <!-- NEW -->
                <!-- <p>_sectionHasUpdates = {{_sectionHasUpdates}}</p>
                <p>myData.updatesFilter = {{myData.updatesFilter}}</p> -->

                {% if _sectionHasUpdates and myData.updatesFilter == "true" %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds" >
                    <!-- <div class="govuk-form-group"> -->
                        <fieldset class="govuk-fieldset" >
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item" >
                                    <input class="govuk-checkboxes__input" id="version-1" name="filter" {% if _filterState == 'true' %}checked{% endif %} type="checkbox" value="version1">
                                    <label class="govuk-label govuk-checkboxes__label" for="version-1">
                                    Show only content updated in {{_thisManual.version|safe|lower}}
                                    </label>
                                </div>
                                <div class="filtered-message call-to-action" style="margin-bottom:0">
                                    <p class="govuk-body">You are viewing only a selection of the content.</p>
                                    <p class="govuk-body govuk-!-font-weight-bold"><a href="#" class="clear-filter govuk-link govuk-link--no-visited-state">Remove filter</a> to see all.</p>
                                </div>
                            </div>
                        </fieldset>
                    <!-- </div> -->
                    </div>
                </div>
                {% endif %}

                <!-- SECTION updates -->
                {% if section["updates-section"] %}
                    <!-- CHECKBOX VERSION -->
                    <div class="updates govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" >
                            <div class=" updates call-to-action" style="margin-top:1em">
                                {% for update in section["updates-section"] %}
                                    <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                        {{update.type or "edited"}} in 2018
                                    </strong>
                                    {% if update.content %}
                                    <br><br><p class="govuk-body">{{update.content|trim|safe}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- ALWAYS ON VERSION -->
                    <!-- <div class="updates-2 govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" >
                            <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                {{update.type or "updated"}} in {{_thisManual.version|safe|lower}}
                            </strong>
                            <div class="govuk-inset-text" style="margin-top:1em">
                                {% for update in section["updates-section"] %}
                                    {% if update.content %}
                                    <p class="govuk-body">{{update.content|trim|safe}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div> -->
                {% endif %}

                <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
                    <div class="collapsible-subsections">
                        <div class="gem-c-govspeak govuk-govspeak parts-container">

                            <div class="call-to-action">
                                <p><a rel="external" href="https://www.smartsurvey.co.uk/s/2CJEQ/">Complete our survey</a> to help us make the funding rules clearer.</p>
                            </div>

                            {% for subsection in section.subsections %}

                                <!-- Classes for if section contains updates -->
                                {% set _subsectionClasses = "section-contains-no-updates" %}
                                {% if subsection.updates %}
                                    {% set _subsectionClasses = "" %}
                                {% endif %}
                                {% for part in subsection.parts %}
                                    {% if part.updates %}
                                        {% set _subsectionClasses = "" %}
                                    {% endif %}
                                    {% for subpart in part.subparts %}
                                        {% if subpart.updates %}
                                            {% set _subsectionClasses = "" %}
                                        {% endif %}
                                        {% for subsubpart in subpart.subsubparts %}
                                            {% if subsubpart.updates %}
                                                {% set _subsectionClasses = "" %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}

                                <!-- Sub section heading -->
                                <h2 id="{{subsection.id}}" class="{{_subsectionClasses}}">
                                    {% if subsection.type != "main" %}
                                        {{subsection.title|safe}}
                                    {% else %}
                                        {{section.title|safe}}
                                    {% endif %}
                                </h2>

                                <!-- subsection level updates -->
                                {% if subsection.updates %}

                                    <!-- CHECKBOX VERSION -->
                                    <!-- removed -->

                                    <!-- ALWAYS ON VERSION -->
                                    <div class="updates-2">
                                        <div class="call-to-action">
                                            <!-- <p class="govuk-body"><strong class="govuk-tag">Updated</strong></p> -->
                                            <h3 class="govuk-heading-s">Latest updates:</h3>
                                            <ul class="govuk-list govuk-list--bullet">
                                            {% for update in subsection.updates %}
                                                <li class="govuk-body">
                                                    {% if update.rule %}<span class="govuk-!-font-weight-bold">{{update.rule|safe}}</span> - {% endif %}
                                                    {% if update.content %}
                                                    {{update.content|trim|safe}}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
            
                                <!-- Parts e.g. 19 -->
                                {% for part in subsection.parts %}

                                    <!-- Classes for part updates-->
                                    {% set _partClasses = "part-non-updated" %}

                                    <!-- Commented out -->
                                    {# {% if subsection.updates %}
                                        {% set _partClasses = "" %}
                                    {% endif %} #}

                                    {% if part.updates %}
                                        {% set _partClasses = "" %}
                                    {% endif %}
                                    {% for subpart in part.subparts %}
                                        {% if subpart.updates %}
                                            {% set _partClasses = "" %}
                                        {% endif %}
                                        {% for subsubpart in subpart.subsubparts %}
                                            {% if subsubpart.updates %}
                                                {% set _partClasses = "" %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}


                                    <div class=" part {{_partClasses}} " id="{{part.id|safe | replace('.', '-')}}">

                                    {% if section.id == "glossary" %}
                                        <h3 class="govuk-heading-s">{{part.title|safe}}</h3>
                                        <p class="govuk-body">{{part.content|safe|trim}}</p>
                                    {% else %}
                                        {% if part.type == "header" %}
                                            <h3 class="govuk-heading-m">{{part.content|safe|trim}}</h3>
                                        {% elif part.type == "flow" %}
                                            {% if subsection.id == "support-english-maths-training" %}
                                                <!-- Flow chart SVG -->
                                                {% if myData.svgflow == "true" %}
                                                    {% include "../includes/english-maths-flow-3-fixed.html" %}
                                                {% endif %}
                                                <!-- Flow chart PNG -->
                                                {% if myData.pngflow == "true" %}
                                                    <h3 class="govuk-heading-m">Find out what English and maths training your apprentice should do</h3>
                                                    <img class="flow-chart" style="width: auto; height: auto; max-width: 100%;margin-bottom: 30px" alt=”” aria-hidden=”true” src="/public/images/english-maths-flow-5.png">
                                                {% endif %}
                                                <!-- Text decision tree -->
                                                {% if myData.textflow == "true" %}
                                                    {% include "../includes/english-maths-text-flow-2.html" %}
                                                {% endif %}
                                            {% endif %}
                                        {% elif part.type == "block" %}
                                            <h3 class="govuk-heading-s">{{part.title|safe}}</h3>
                                            <p class="govuk-body">
                                                {{part.content|safe|trim}}
                                            </p>
                                        {% elif part.type == "table1" %}
                                            <!-- TODO render table from page 61 here -->
                                        {% elif part.type == "intro" %}
                                            <div class="call-to-action">
                                                <p class="govuk-body">{{part.content|safe|trim}}</p>
                                                <!-- CLOSE TAG FURTHER DOWN AFTER SUBPARTS -->
                                        {% elif part.type == "additional" %}
                                            <details class="govuk-details">
                                                <summary class="govuk-details__summary">
                                                    <span class="govuk-details__summary-text">
                                                    {{part.title|safe|trim}}
                                                    </span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                    {{part.content|safe|trim}}
                                                <!-- CLOSE TAGS FURTHER DOWN AFTER SUBPARTS -->
                                        {% else %}
                                            <h3 class="govuk-heading-s">{{_rulePrefix}}{{part.id|safe}}</h3> 

                                            {% if part.updates %}
                                                <!-- CHECKBOX VERSION -->
                                                <div class="updates call-to-action">
                                                    {% for update in part.updates %}
                                                        <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                                            {{update.type or "edited"}} in 2018
                                                        </strong>
                                                        {% if update.content %}
                                                        <br><br><p class="govuk-body">{{update.content|trim|safe}}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <!-- ALWAYS ON VERSION -->
                                                <!-- <div class="updates-2">
                                                    <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                                        {{update.type or "updated"}} in {{_thisManual.version|safe|lower}}
                                                    </strong>
                                                    <div class="govuk-inset-text">
                                                        {% for update in part.updates %}
                                                            {% if update.content %}
                                                            <p class="govuk-body">{{update.content|trim|safe}}</p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div> -->
                                            {% endif %}

                                            <p class="govuk-body">{{part.content|safe|trim}}</span></p>

                                        {% endif %}
                                    {% endif %}
                                    
                                    <!-- Sub Parts e.g. 19.1 -->
                                    {% if part.subparts %}
                                        <!-- <div style="margin-left: 20px"> -->
                                        <div>
                                            <ul class='govuk-list govuk-list--bullet'>
                                    {% endif %}

                                    {% for subpart in part.subparts %}

                                        {% set _subPartClasses = "subpart-non-updated" %}
                                        {# {% if subsection.updates %}
                                            {% set _subPartClasses = "" %}
                                        {% endif %} #}
                                        {% if part.updates %}
                                            {% set _subPartClasses = "" %}
                                        {% endif %}
                                        {% if subpart.updates %}
                                            {% set _subPartClasses = "" %}
                                        {% endif %}
                                        {% for subsubpart in subpart.subsubparts %}
                                            {% if subsubpart.updates %}
                                                {% set _subPartClasses = "" %}
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <div class=" subpart {{_subPartClasses}}" id="{{subpart.id|safe | replace('.', '-')}}" >
                                        
                                            {% if subpart.type == "list" %}
                                                <!-- LIST ARRAY -->
                                                {% for listitem in subpart.content %}
                                                <li>{{listitem|safe|trim}}</li>
                                                {% endfor %}
                                            {% else %}
                                                <li>
                                                    <!-- <h3 class="govuk-heading-s">{{_rulePrefix}}{{subpart.id|safe}}</h3> -->
                                                    
                                                    <!-- UPDATES -->
                                                    {% if subpart.updates %}
                                                        <!-- CHECKBOX VERSION -->
                                                        <div class="updates call-to-action">
                                                            <!-- <div class="govuk-inset-text" style="padding-top: 0"> -->
                                                            {% for update in subpart.updates %}
                                                                <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                                                    {{update.type or "edited"}} in 2018
                                                                </strong>
                                                                {% if update.content %}
                                                                <br><br><p class="govuk-body">{{update.content|trim|safe}}</p>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <!-- ALWAYS ON VERSION -->
                                                        <!-- <div class="updates-2">
                                                            <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                                                {{update.type or "updated"}} in {{_thisManual.version|safe|lower}}
                                                            </strong>
                                                            <div class="govuk-inset-text">
                                                                {% for update in subpart.updates %}
                                                                    {% if update.content %}
                                                                    <p class="govuk-body">{{update.content|trim|safe}}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div> -->
                                                    {% endif %}

                                                    <p class="govuk-body"><span style="font-weight:bold">{{_rulePrefix}}{{subpart.id|safe}}</span> - {{subpart.content|safe|trim}}</span></p>
                                                </li>
                                            {% endif %}

                                                <!-- Sub Sub Parts e.g. 19.1.1 -->
                                                {% if subpart.subsubparts %}
                                                    <!-- <div style="margin-left: 40px"> -->
                                                    <div style="margin-left: 20px">
                                                        <ul class='govuk-list govuk-list--bullet'>
                                                {% endif %}
                                                        {% for subsubpart in subpart.subsubparts %}
                                                        
                                                        {% set _subsubPartClasses = "subsubpart-non-updated" %}
                                                        {# {% if subsection.updates %}
                                                            {% set _subsubPartClasses = "" %}
                                                        {% endif %} #}
                                                        {% if part.updates or subpart.updates %}
                                                            {% set _subsubPartClasses = "" %}
                                                        {% endif %}
                                                        {% if subsubpart.updates %}
                                                            {% set _subsubPartClasses = "" %}
                                                        {% endif %}

                                                        <div class=" subsubpart {{_subsubPartClasses}} " id="{{subsubpart.id|safe | replace('.', '-')}}">
                                                            {% if subsubpart.type == "list" %}
                                                                <!-- LIST ARRAY -->
                                                                {% for listitem in subsubpart.content %}
                                                                <li>{{listitem|safe|trim}}</li>
                                                                {% endfor %}
                                                            {% else %}
                                                                <li>
                                                                    <!-- <h3 class="govuk-heading-s">{{_rulePrefix}}{{subsubpart.id|safe}}</h3> -->
                                                                    <p class="govuk-body"><span style="font-weight:bold">{{_rulePrefix}}{{subsubpart.id|safe}}</span> - {{subsubpart.content|safe|trim}}</span></p>
                                                                </li>
                                                            {% endif %}
                                                        </div>
                                                        {% endfor %}
                                                {% if subpart.subsubparts %}
                                                    </ul>
                                                </div>
                                                {% endif %}

                                        </div>

                                    {% endfor %}

                                    {% if part.subparts %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if part.type == "intro" %}
                                    </div>
                                    {% elif part.type == "additional" %}
                                        </div>
                                    </details>
                                    {% endif %}
            
                                </div>
                                {% endfor %}
            
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <!-- Footnotes -->
                {% if section.footnotes|length > 0 %}
                <div class="govuk-!-margin-top-9">
                    <p class="govuk-body-s">Footnotes</p>
                    <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    {% for footnote in section.footnotes %}
                        <li><sup class="">{{footnote.id|safe}}</sup> {{footnote.content|safe|trim}}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}


            </article>
            {% endif %}
        </div>
    </article>
            
    <div class="print-page">
        <a onclick="window.print();return false;" href="#print">Print this page</a>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
$(document).ready(function(){
    if({{myData.updatesFilter == "true"}}){
        var _checkFilters = $("input[name='filter']")
        var _rulesContainer = $("#manuals-frontend")
        var _filteredMessage = $(".filtered-message").hide()
        var _clearFilter = $(".clear-filter")
        var _showUpdates = $(".show-updates")
        var _openAll = $(".js-collection-controls").children().first()
        var _sectionsWithNoUpdates = $(".section-contains-no-updates")
        var _breadcrumbLink = $(".breadcrumb-trail a")

        _showUpdates.click(function (e){
            _checkFilters.each(function( index ) {
                $(this).prop('checked', true).attr('checked', 'checked');
            })
            _checkFilters.trigger("change")
            e.preventDefault();
        })

        _clearFilter.click(function (e){
            _checkFilters.each(function( index ) {
                $(this).prop("checked", false).attr("checked", false).removeAttr("checked")
            })
            _checkFilters.trigger("change")
            e.preventDefault();
        })

        toggleFilter()
        _checkFilters.change(function(){
            toggleFilter()
        });

        function toggleFilter(){
            var _filtered = false
            _rulesContainer.removeClass("show-updates")
            _rulesContainer.removeClass("hide-non-updated")
            _checkFilters.each(function( index ) {
                var _thisCheck = this,
                    _checked = _thisCheck.checked,
                    _thisID = _thisCheck.id
                _rulesContainer.removeClass("show-part-"+_thisID)
                    
                if(_checked){
                    _openAll.trigger("click")
                    _rulesContainer.addClass("show-part-"+_thisID)
                    _filtered = true
                    _filteredMessage.show()
                    _showUpdates.hide()
                    // hide sections
                    _sectionsWithNoUpdates.parent().hide()
                } else {
                    _showUpdates.show()
                    _filteredMessage.hide()
                    // show sections
                    _sectionsWithNoUpdates.parent().show()
                }

            });
            // update breadcrumb link
            var _breadcrumbHREF = _breadcrumbLink.attr('href'),
                _newHREF = _breadcrumbHREF
            if(_breadcrumbHREF.indexOf('updatesFilterOn=false') != -1){
                _newHREF = _breadcrumbHREF.replace("updatesFilterOn=false", "updatesFilterOn="+_filtered);
            } else if(_breadcrumbHREF.indexOf('updatesFilterOn=true') != -1){
                _newHREF = _breadcrumbHREF.replace("updatesFilterOn=true", "updatesFilterOn="+_filtered);
            }
            _breadcrumbLink.attr('href',_newHREF)
            
            if(_filtered == true) {
                _rulesContainer.addClass("show-updates")
                _rulesContainer.addClass("hide-non-updated")
            }
        }
    }

});
</script>
{% endblock %}