{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% set _thisManualType = myData.manuals[myData.manual].type %}
{% set _thisManual = myData.manuals[myData.manual].content %}

{% set _userType = "training providers" %}
{% if _thisManualType == "employer" %}
    {% set _userType = "employers" %}
{% elif _thisManualType == "employerprovider" %}
    {% set _userType = "employer-providers" %}
{% endif %}

{% set _filterState = myData.updatesFilterOn %}

{% block pageStyles %}
<style>
    /* hiding parts */
    .hide-non-updated .section-contains-no-updates {
        display: none;
    }
    /* showing updates */
    .updates,
    .update-tag {
        display: none;
        margin-top: 5px;
    }
    .show-updates .updates {
        display: block;
    }
    .show-updates .update-tag {
        display: inline-block;
    }

    /* always on */
    /* .updates-list { 
        display: none;
    }
    .show-updates-2 .updates-list {
        display: block;
    } */
    .show-updates-2 .update-tag {
        display: inline-block;
    }

</style>
{% endblock %}

{% block content %}

<div id="manuals-frontend" class="manuals-frontend-body inner-block {% if myData.updatesFilter == 'alwayson' %}show-updates-2{% endif %}">
    

    {% if myData.header == "altered" %}
        {% include "../includes/manual-header-2.html" %}
    {% else %}
        {% set _manualHeaderTitle = _thisManual.title|safe  %}
        {% include "../includes/manual-header.html" %}
    {% endif %}

    {% set _pdfURL = "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/733050/1819_Provider_Rules_v1.0.pdf" %}
    {% if _thisManualType == "employer" %}
        {% set _pdfURL = "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/733034/1819_Employer_Rules_v1.0.pdf" %}
    {% elif _thisManualType == "employerprovider" %}
        {% set _pdfURL = "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/733056/1819_Employer-Provider_Rules_v1.0.pdf" %}
    {% endif %}
      
    <ol class="breadcrumb-trail">
        <li class="no-separator">Contents</li>
    </ol>
      
    <article aria-labelledby="manual-title" id="content">
        <div class="manual-body">

            <p class="summary">
                {% if _userType == "employers" %}
                    These apprenticeship funding rules and guidance apply to {{_userType}}.
                {% else %}
                    These apprenticeship funding rules apply to {{_userType}}.
                {% endif %}
            </p>

            <div class="call-to-action">
                <p class="govuk-body govuk-!-font-weight-bold">These are the latest rules (1 August 2018 to 31 July 2019)</span></p><br>
                <p class="govuk-body">If the apprenticeship started before 1 August 2018, <a href="rules-years" class="govuk-link govuk-link--no-visited-state">view the funding rules for previous years</a>.</p>
            </div>
            
            <!-- <div class="govuk-inset-text">
                <a href="rules-years" class="govuk-link govuk-link--no-visited-state">View the rules in alternative formats (including PDF)</a> which you can download, print and view offline.
            </div> -->

            <p class="govuk-body"><a href="rules-years" class="govuk-link govuk-link--no-visited-state">View the funding rules in PDF format</a>.</p>

            <p class="govuk-body"><a href="https://www.gov.uk/email-signup/?topic=/education/apprenticeships-funding" class="govuk-link govuk-link--no-visited-state">Sign up for email alerts</a> for changes to the apprenticeships funding topic page.</p>

            <!-- <div class="call-to-action"> -->
                    <!-- <p class="govuk-body"><a rel="external" href="https://www.smartsurvey.co.uk/s/2CJEQ/" class="govuk-link govuk-link--no-visited-state">Complete our survey</a> to help us make the funding rules clearer.</p> -->
                <!-- </div> -->

            {% set _manualHasUpdates = false %}
            {% for section in _thisManual.sections %}
                {% if section["updates-section"] %}
                    {% set _sectionHasUpdates = true %}
                {% endif %}
                {% for subsection in section.subsections %}

                {% if myData.updatesFilter == 'alwayson' %}
                    {% if subsection.updates %}
                        {% set _manualHasUpdates = true %}
                    {% endif %}
                {% endif %}

                    {% for part in subsection.parts %}
                        {% if part.updates %}
                            {% set _manualHasUpdates = true %}
                        {% endif %}
                        {% for subpart in part.subparts %}
                            {% if subpart.updates %}
                                {% set _manualHasUpdates = true %}
                            {% endif %}
                            {% for subsubpart in subpart.subsubparts %}
                                {% if subsubpart.updates %}
                                    {% set _manualHasUpdates = true %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            <!-- ALWAYS ON VERSION -->
            <!-- <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    Sections that were updated for this version
                    </span>
                </summary>
                <div class="govuk-details__text">
                    [list of chapters here]
                </div>
            </details> -->

            <!-- Updates Filter Checkbox -->
            {% if _manualHasUpdates and myData.updatesFilter == "true" %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds" >
                    <!-- <div class="govuk-form-group"> -->
                        <form method="GET" action="manual-home">
                            <fieldset class="govuk-fieldset" >
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item" >
                                        <input class="govuk-checkboxes__input" id="version-1" {% if _filterState == 'true' %}checked{% endif %} name="filter" type="checkbox" value="version1">
                                        <label class="govuk-label govuk-checkboxes__label" for="version-1">
                                        Show only sections with content updates in 2018
                                        </label>
                                    </div>
                                    <div class="filtered-message call-to-action" style="margin-bottom:0">
                                        <p class="govuk-body govuk-!-font-weight-bol">You are viewing only a selection of the contents.</p>
                                        <p class="govuk-body govuk-!-font-weight-bold"><a href="#" class="clear-filter govuk-link govuk-link--no-visited-state">Remove filter</a> to see all.</p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <!-- <div class="updates call-to-action" style="margin-bottom: 0">
                            <strong class="govuk-tag" style="margin-right: 5px; background: #005ea5">
                                Edited in 2018
                            </strong>
                            <br><br><p class="govuk-body">These sections have had updates in 2018.</p>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>
            {% endif %}

            <ol class="section-list">
                {% if myData.updatesChapter == "true" %}
                <li class="section-contains-no-updates">
                    <a class="" href="manual-page?manual={{myData.manual}}&manualpage=updates&updatesFilterOn=false">
                        <span class="subsection-title-text">Updates since 1 August 2018</span>
                        <span class="subsection-summary">
                            See a list of all updates that we have made to the rules since 1 August 2018.
                        </span>
                    </a>
                </li>
                {% endif %}
                {% for section in _thisManual.sections %}

                    {% set _sectionClasses = "section-contains-no-updates" %}
                    {% set _sectionHasUpdates = false %}
                    {% if section["updates-section"] %}
                        {% set _sectionClasses = "" %}
                        {% set _sectionHasUpdates = true %}
                    {% endif %}
                    {% for subsection in section.subsections %}

                    {% if myData.updatesFilter == 'alwayson' %}
                        {% if subsection.updates %}
                            {% set _sectionClasses = "" %}
                            {% set _sectionHasUpdates = true %}
                        {% endif %}
                    {% endif %}

                        {% for part in subsection.parts %}
                            {% if part.updates %}
                                {% set _sectionClasses = "" %}
                                {% set _sectionHasUpdates = true %}
                            {% endif %}
                            {% for subpart in part.subparts %}
                                {% if subpart.updates %}
                                    {% set _sectionClasses = "" %}
                                    {% set _sectionHasUpdates = true %}
                                {% endif %}
                                {% for subsubpart in subpart.subsubparts %}
                                    {% if subsubpart.updates %}
                                        {% set _sectionClasses = "" %}
                                        {% set _sectionHasUpdates = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                <li class=" {{_sectionClasses}} ">
                    <a class="" href="manual-page?manual={{myData.manual}}&manualpage={{section.id}}&updatesFilterOn=false">
                        <span class="subsection-title-text">{{section.title|safe}}{% if section.range %} ({{section.range|safe}}){% endif %}</span>
                        {% if section.summary %}
                        <span class="subsection-summary">
                            {{section.summary|safe}}
                        </span>
                        {% endif %}

                        {% if _sectionHasUpdates %}
                        <strong class="update-tag govuk-tag" >
                            Updated
                        </strong>
                        {% endif %}

                    </a>
                </li>
                {% endfor %}
                <li class="section-contains-no-updates">
                    <a class="" href="manual-page?manual={{myData.manual}}&manualpage=feedback&updatesFilterOn=false">
                        <span class="subsection-title-text">Contact us</span>
                        <span class="subsection-summary">
                                How to get help, support and send feedback. 
                        </span>
                    </a>
                </li>
            </ol>
            
        </div>
    </article>
            
    <div class="print-page">
        <a onclick="window.print();return false;" href="#">Print this page</a>
    </div>

</div>

{% endblock %}

{% block pageScripts %}
<script>
$(document).ready(function(){
    if({{myData.updatesFilter == "true"}}){
        var _checkFilters = $("input[name='filter']")
        var _rulesContainer = $("#manuals-frontend")
        var _filteredMessage = $(".filtered-message").hide()
        var _clearFilter = $(".clear-filter")
        // var _showUpdates = $(".show-updates")
        var _openAll = $(".js-collection-controls").children().first()
        var _sectionsWithNoUpdates = $(".section-contains-no-updates")
        var _sectionLinks = $(".section-list a")

        _clearFilter.click(function (e){
            _checkFilters.each(function( index ) {
                $(this).prop("checked", false).attr("checked", false).removeAttr("checked")
            })
            _checkFilters.trigger("change")
            e.preventDefault();
        })

        // on load
        toggleFilter()
        // on change
        _checkFilters.change(function(){
            toggleFilter()
        });

        function toggleFilter(){
            var _filtered = false
            _rulesContainer.removeClass("show-updates")
            _rulesContainer.removeClass("hide-non-updated")
            _checkFilters.each(function( index ) {
                var _thisCheck = this,
                    _checked = _thisCheck.checked,
                    _thisID = _thisCheck.id
                _rulesContainer.removeClass("show-part-"+_thisID)
                    
                if(_checked){
                    _openAll.trigger("click")
                    _rulesContainer.addClass("show-part-"+_thisID)
                    _filtered = true
                    _filteredMessage.show()
                    // _showUpdates.hide()
                    // hide sections
                    // _sectionsWithNoUpdates.parent().hide()
                } else {
                    // _showUpdates.show()
                    _filteredMessage.hide()
                    // show sections
                    // _sectionsWithNoUpdates.parent().show()
                }

            });
            // update query string
            _sectionLinks.each(function( index ) {
                var _thisLink = $(this),
                    _thisHREF = _thisLink.attr('href'),
                    _newHREF = _thisHREF
                if(_thisHREF.indexOf('updatesFilterOn=false') != -1){
                    _newHREF = _thisHREF.replace("updatesFilterOn=false", "updatesFilterOn="+_filtered);
                } else if(_thisHREF.indexOf('updatesFilterOn=true') != -1){
                    _newHREF = _thisHREF.replace("updatesFilterOn=true", "updatesFilterOn="+_filtered);
                }
                _thisLink.attr('href',_newHREF)
            })

            if(_filtered == true) {
                _rulesContainer.addClass("show-updates")
                _rulesContainer.addClass("hide-non-updated")
            }
        }
    }
});
</script>
{% endblock %}