
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Manual
{% endblock %}

{% block content %}

  <div id="manuals-frontend" class="manuals-frontend-body inner-block">
  <div class="gem-c-contextual-breadcrumbs">
    <!-- Rendering step by step nav breadcrumbs because there's 1 step by step -->
    <div class="gem-c-step-nav-header" data-module="track-click">
      <span class="gem-c-step-nav-header__part-of">Part of</span>
      <a href="#" class="gem-c-step-nav-header__title">
        Funding rules for employers
      </a>
    </div>
  </div>


  <header aria-labelledby="manual-title" class="">

    <div class="primary">

      <h1 id="manual-title">Apprenticeship funding rules for employers August 2018 to July 2019</h1>
      <div class="gem-c-metadata" data-module="gem-toggle">
        <dl data-module="track-click">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and Skills Funding Agency</a>

          </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
          <dd class="gem-c-metadata__definition"><time datetime="2015-10-01"> 1 October 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            <time datetime="2018-10-01">1 October 2018</time>, <a href="#">see all
              updates</a>

          </dd>
        </dl>
      </div>


      <div class="in-manual-search">
        <form action="/search">
          <label for="search-box">Search this manual</label>
          <input type="hidden" name="filter_manual[]" value="guidance/employer-funding">
          <input id="search-box" class="in-manual-search-box" type="text" name="q">
          <button type="submit">search</button>
        </form>
      </div>
    </div>
    <div class="secondary">
      <div class="secondary-inner">
        <p>
          <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
        </p>
      </div>
    </div>
  </header>

  <ol class="breadcrumb-trail">
    <li class="no-separator">Contents</li>

  </ol>

  <article aria-labelledby="manual-title" id="content">
    <div class="manual-body">
      <p class="summary">Apprenticeship funding rules for employers August 2018 to July 2019</p>

      <div class="gem-c-govspeak govuk-govspeak ">
        <div role="note" aria-label="Information" class="application-notice info-notice">
          <p>Guidance for all employers participating in the new apprenticeship programme from 1 August 2018</p>
        </div>

      </div>

      <ol class="section-list">
        <li>
          <a class="" href="guidance/introduction">
            <span class="subsection-title-text">Introduction and purpose of the document</span>
            <span class="subsection-summary">Introduction and purpose of the document.</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/things-to-check">
            <span class="subsection-title-text">Employers and apprenticeships: things to check</span>
            <span class="subsection-summary">Employers and apprenticeships: things to check.</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/what-is-an-apprenticeship">
            <span class="subsection-title-text">What is an apprenticeship?</span>
            <span class="subsection-summary">What is an apprenticeship?</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/who-can-be-funded">
            <span class="subsection-title-text">Who can be funded? </span>
            <span class="subsection-summary">Who can be funded?</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/individuals">
            <span class="subsection-title-text">Individuals who are not eligible for funding</span>
            <span class="subsection-summary">Individuals who are not eligible for funding.</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/what-can-be-funded">
            <span class="subsection-title-text">What can be funded?</span>
            <span class="subsection-summary">What can be funded?</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/ineligible-costs">
            <span class="subsection-title-text">Inelegible costs </span>
            <span class="subsection-summary">Inelegible costs.</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/contracting">
            <span class="subsection-title-text">Contracting and subcontracting</span>
            <span class="subsection-summary">Contracting and subcontracting.</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/paying-for">
            <span class="subsection-title-text">Paying for an apprenticeship</span>
            <span class="subsection-summary">Paying for an apprenticeship.</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/eligibility">
            <span class="subsection-title-text">Eligibility criteria (who we fund)</span>
            <span class="subsection-summary">Eligibility criteria (who we fund).</span>
          </a>
        </li>
        <li>
          <a class="" href="guidance/glossary">
            <span class="subsection-title-text">Glossary</span>
            <span class="subsection-summary">Glossary.</span>
          </a>
        </li>
      </ol>
    </div>
  </article>


  <div class="print-page">
    <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>
</div>



{# 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      The GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <p>
      This kit lets you rapidly create HTML prototypes of GOV.UK services.
    </p>

    <p>
      It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
    </p>

    <h2 class="govuk-heading-m">About this page</h2>

    <p>We recommend you add links to your prototype to this page, rather than delete it.
      You'll find this page in the kit at '/app/views/index.html'.</p>

    <p>You can change the service name by editing the file '/app/config.js'.</p>

    <h2 class="govuk-heading-m">Examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
      <li>
        <a href="https://design-system.service.gov.uk">
          GOV.UK Design System
        </a>
      </li>
    </ul>
  </div>
</div>
#}

{% endblock %}
