// govuk_frontend_toolkit helpers
// @import "typography";
// @import "measurements";
// @import "colours";
// @import "shims";
// @import "css3";
// @import "grid_layout";

// @import "reset";
// @import 'govuk_publishing_components/all_components';

// some colours used below
$manual-search-button-colour: #0b0c0c;
$manual-search-button-border-colour: #222;

main {
  display: block;
}

header .gem-c-metadata {
  color: govuk-colour("white");
}

.manuals-frontend-body {
  padding-bottom: $govuk-gutter;

  header {
    background: govuk-colour("blue");

    &.hmrc {
      background: govuk-colour-organisations("hm-revenue-customs");
    }

    padding: $govuk-gutter;
    color: govuk-colour("white");
    margin: 0;
    @include govuk-font($size: 16);
    @include govuk-clearfix;

    @include govuk-media-query($from: mobile) {
      padding: $govuk-gutter;
    }

    @include govuk-media-query($from: tablet) {
      .primary,
      .secondary {
        float: left;
      }

      .primary {
        width: 66.6%;
      }

      .secondary {
        width: 33.3%;

        .secondary-inner {
          padding-left: $govuk-gutter;
        }
      }
    }

    .manual-type {
      @extend %govuk-heading-m;
    }

    h1 {
      @include govuk-font($size: 36);
      font-weight: bold;
      padding: 0 0 $govuk-gutter-half 0;

      @include govuk-media-query($from: tablet) {
        padding: 0 0 $govuk-gutter 0;
      }
    }

    a {
      color: govuk-colour("white");
    }

    .in-manual-search {
      position: relative;
      margin: $govuk-gutter 0 $govuk-gutter-half;

      label {
        padding-bottom: 5px;
        display: inline-block;
      }

      .in-manual-search-box {
        // Disable scss-lint complaining about declaring width twice since
        // this is for browsers that don't understand calc
        // scss-lint:disable DuplicateProperty
        width: 86%;
        width: calc(100% - 47px);
        // scss-lint:enable DuplicateProperty
        border: none;
        padding: 7px;
        height: 20px;

        &.focus,
        &:focus {
          position: relative;
          z-index: 1;
        }

        @include govuk-media-query($from: mobile) {
          padding: 9px 7px;
          height: 16px;
        }
      }

      button {
        width: 34px;
        height: 34px;
        border: 1px solid $manual-search-button-colour;
        border-width: 0 0 0 1px;
        border-left-color: $manual-search-button-border-colour;
        overflow: hidden;
        text-indent: -5000px;
        cursor: pointer;
        color: govuk-colour("white");
        background: $manual-search-button-colour url("/public/images/search-button.png") no-repeat 0 50%;
        position: absolute;

        border-radius: 0;
        @include govuk-device-pixel-ratio() {
          background-size: 52.5px 35px;
          background-position: 100% 50%;
        }
      }
    }

  }

  .breadcrumb-trail {
    @include govuk-font($size: 16);
    margin: 10px 0 0 0;
    padding: 0 0 10px;
    border-bottom: 1px solid $govuk-border-colour;

    strong {
      font-weight: bold;
    }

    li {
      background-image: url("/public/images/separator.png");
      background-position: 100% 20%;
      background-repeat: no-repeat;
      display: inline;
      list-style: none;
      margin-left: 0;
      margin-right: 5px;
      padding: 0 15px 0 0;

      @include govuk-media-query($from: tablet) {
        background-position: 100% 45%;
      }

      @include govuk-device-pixel-ratio() {
        background-image: url("/public/images/separator-2x.png");
        background-size: 6px 11px;
      }

      &:first-child {
        margin-left: 0;
      }

      &.last-child {
        background-image: none;
        color: $govuk-text-colour;
      }

      &.no-separator {
        background-image: none;
      }

      a {
        color: $govuk-text-colour;
      }
    }
  }

  .section-list {
    margin-top: $govuk-gutter;

    @include govuk-media-query($from: tablet) {
      margin-top: $govuk-gutter * 2;
    }

    li {
      @include govuk-font($size: 19);
      list-style: none;
      cursor: pointer;
      border-top: 1px solid $govuk-border-colour;

      &:hover {
        background-color: govuk-colour("grey-4");
      }

      &:last-child {
        border-bottom: 1px solid $govuk-border-colour;
      }

      a {
        text-decoration: none;
        display: block;
        padding: $govuk-gutter / 3 $govuk-gutter / 3 $govuk-gutter / 3 0;

        @include govuk-media-query($from: tablet) {
          padding-right: 33.3%;
        }

        .subsection-title-text {
          color: $govuk-link-colour;
          font-weight: bold;
          display: block;
        }

        .subsection-summary {
          color: $govuk-text-colour;
          display: block;
        }
      }
    }
  }

  .manual-body {
    margin: $govuk-gutter-half 0 $govuk-gutter * 3;

    @include govuk-media-query($from: tablet) {
      margin-top: $govuk-gutter;
    }

    .section-title {
      @extend %govuk-heading-m;
      font-weight: bold;
    }

    .summary {
      @include govuk-font($size: 24);
      margin-bottom: $govuk-gutter-half;

      @include govuk-media-query($from: tablet) {
        max-width: 66.6%;
        margin-bottom: $govuk-gutter;
      }
    }

    .body-content-wrapper {
      @include govuk-media-query($from: tablet) {
        width: 66.6%;
      }
    }

    .footnotes {
      border-top: 0;
      padding-top: 0;
    }
  }

  .updates-list {
    @include govuk-font($size: 19);
    dd {
      margin-bottom: 1em;
    }
  }

  .collapsible-subsections {
    @include govuk-media-query($from: tablet) {
      .call-to-action p {
        margin: 0;
      }
    }
  }
.call-to-action {
    margin: 2em 0;
    background-color: #dee0e2;
    padding: 2em
}

.call-to-action:first-child {
    margin-top: 0
}

.call-to-action p:last-child, .call-to-action ul:last-child,
.call-to-action ol:last-child {
    margin-bottom: 0
}

  .collapsible-subsections .js-subsection-title {
    @include govuk-font($size: 19, $weight: bold);
    display: block;
    border-top: 1px solid $govuk-border-colour;
    padding: $govuk-gutter / 3 $govuk-gutter $govuk-gutter / 3 0;
    margin: $govuk-gutter 0;
    position: relative;

    a {
      text-decoration: none;
    }
  }

  .subsection-collection {
    margin-top: $govuk-gutter-half;

    @include govuk-media-query($from: tablet) {
      margin-top: $govuk-gutter;
    }

    .js-title-controls-wrap {
      @include govuk-clearfix;

      .section-title {
        @extend %govuk-heading-m;
        @include govuk-media-query($from: tablet) {
          float: left;
          width: 75%;
        }
      }

      .js-collection-controls {
        display: block;
        margin-left: -5px;
        margin-bottom: $govuk-gutter-half;

        @include govuk-media-query($from: tablet) {
          margin: 0 0 $govuk-gutter -5px;
          float: right;
          display: inline-block;
        }

        a {
          @include govuk-font($size: 16);
          padding: 0  5px 0 5px;
          display: inline-block;

          // We're nesting quite deep here...
          // scss-lint:disable NestingDepth
          &.disabled {
            color: $govuk-secondary-text-colour;
            text-decoration: none;
            cursor: default;
          }
          // scss-lint:enable NestingDepth
        }
      }
    }
  }

  .js-openable {
    border-top: 1px solid $govuk-border-colour;
    padding-bottom: $govuk-gutter;

    @include govuk-media-query($from: tablet) {
      padding-bottom: $govuk-gutter * 2;
    }

    .js-subsection-title {
      cursor: pointer;
      margin: 0;
      border: none;

      // @include ie-lte(7) {
      //   zoom: 1;
      // }

      .js-toggle {
        height: 25px;
        width: 25px;
        display: block;
        background: url("/public/images/arrows_sprite.png") no-repeat;
        position: absolute;
        right: 0;
        top: $govuk-gutter / 3;

        @include govuk-device-pixel-ratio() {
          background-image: url("/public/images/arrows_sprite-2x.png");
          background-size: 32px 50px;
        }
      }
    }

    .js-subsection-body {
      margin-top: $govuk-gutter-half;

      @include govuk-media-query($from: tablet) {
        margin-top: $govuk-gutter;
      }
    }

    @include govuk-media-query($media-type: screen) {
      .js-enabled &.closed {
        padding: 0;

        .js-toggle {
          background: url("/public/images/arrows_sprite.png") no-repeat 0 -32px;

          @include govuk-device-pixel-ratio() {
            background-image: url("/public/images/arrows_sprite-2x.png");
            background-size: 32px 50px;
          }
        }

        .js-subsection-body {
          position: absolute;
          left: -9999px;
          width: 100px;
          height: 1px;
          overflow: hidden;
        }
      }
    }
  }

  .hmrc.section-list {
    margin-top: $govuk-gutter;
    padding-bottom: $govuk-gutter;

    a {
      padding-right: 0;
    }

    @include govuk-media-query($from: tablet) {
      .title-wrap {
        display: table-row;

        div {
          display: table-cell;
        }
      }
    }
  }

  .subsection-id {
    min-width: 135px;
    color: $govuk-secondary-text-colour;
    padding-right: $govuk-gutter-half;
  }

  .print-page {
    display: none;

    .js-enabled & {
      display: block;
    }
  }

}

.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}



div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark {
  border: none;
  margin: 0;
  padding: 0
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,small,strike,sub,sup,tt,var,b,u,i,center,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal
}

.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}


.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}


.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-govspeak ol,.gem-c-govspeak ul,.gem-c-govspeak p {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 15px
}
.gem-c-govspeak ol,.gem-c-govspeak ul {
  padding-left: 20px
}

@media (min-width: 641px) {
  .gem-c-govspeak ol,.gem-c-govspeak ul,.gem-c-govspeak p {
      font-size:19px;
      line-height: 1.3157894737
  }
}

@media (min-width: 641px) {
  .gem-c-govspeak ol,.gem-c-govspeak ul,.gem-c-govspeak p {
      margin-top:20px;
      margin-bottom: 20px
  }
}


.gem-c-govspeak h2 {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 20px;
  line-height: 1.1111111111;
  margin-top: 30px
}

@media (min-width: 641px) {
  .gem-c-govspeak h2 {
      font-size:27px;
      line-height: 1.1111111111
  }
}


@media (min-width: 769px) {
  .gem-c-govspeak h2 {
      margin-top:45px
  }
}

.gem-c-govspeak h2:first-child,.gem-c-govspeak h3:first-child,.gem-c-govspeak h4:first-child,.gem-c-govspeak p:first-child {
  margin-top: 0
}

.gem-c-govspeak a {
  text-decoration: underline
}


.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-metadata {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-bottom: 15px
}

@media (min-width: 641px) {
  .gem-c-metadata {
      font-size:16px;
      line-height: 1.25
  }
}

@media (min-width: 641px) {
  .gem-c-metadata {
      margin-bottom:45px
  }
}


.gem-c-metadata__term {
  margin-top: 0.5em;
  line-height: normal
}

@media (min-width: 641px) {
  .gem-c-metadata__term {
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      clear: left;
      width: 30%;
      max-width: 11em;
      padding-right: 10px;
      margin-top: 0
  }
}

.gem-c-metadata__definition {
  line-height: normal
}

@media (min-width: 641px) {
  .gem-c-metadata__definition {
      float:left;
      width: 70%
  }
}

.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-feedback__grid-row:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.manuals-frontend-body header:after,.manuals-frontend-body .subsection-collection .js-title-controls-wrap:after {
  content: "";
  display: block;
  clear: both
}


.gem-c-step-nav-header {
  position: relative;
  padding: 10px;
  background: #f8f8f8;
  border-top: solid 1px #bfc1c3;
  border-bottom: solid 1px #bfc1c3
}

@media (min-width: 641px) {
  .gem-c-step-nav-header {
      padding:15px
  }
}

.gem-c-step-nav-header__part-of {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  display: block;
  padding-bottom: 0.2em
}



@media (min-width: 641px) {
  .gem-c-step-nav-header__part-of {
      font-size:16px;
      line-height: 1.25
  }
}

.gem-c-step-nav-header__title {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2
}

@media (min-width: 641px) {
  .gem-c-step-nav-header__title {
      font-size:24px;
      line-height: 1.25
  }
}

.gem-c-govspeak .info-notice {
  border-left: 1em solid #dee0e2;
  padding: 1em 0 1em 1em;
  margin: 2em 0;
}

.gem-c-govspeak .info-notice p:last-child, .gem-c-govspeak .info-notice ul:last-child, .gem-c-govspeak .info-notice ol:last-child {
  margin-bottom: 0;
}



// MANUAL-FRONT-BODY goes here



/** Search results **/
.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

#wrapper {
  max-width: 960px;
  margin: 0 15px
}

@media (min-width: 641px) {
  #wrapper {
      margin:0 30px
  }
}

@media (min-width: 1020px) {
  #wrapper {
      margin:0 auto
  }
}


.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark {
  border: none;
  margin: 0;
  padding: 0
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,small,strike,strong,sub,sup,tt,var,b,u,i,center,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal
}


.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

#wrapper {
  max-width: 960px;
  margin: 0 15px
}

@media (min-width: 641px) {
  #wrapper {
      margin:0 30px
  }
}

@media (min-width: 1020px) {
  #wrapper {
      margin:0 auto
  }
}


.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}


.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

#wrapper {
  max-width: 960px;
  margin: 0 15px
}

@media (min-width: 641px) {
  #wrapper {
      margin:0 30px
  }
}

@media (min-width: 1020px) {
  #wrapper {
      margin:0 auto
  }
}


.gem-c-feedback {
  max-width: 960px;
  margin: 0 auto
}

.gem-c-feedback .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap
}

.gem-c-feedback--top-margin {
  margin-top: 30px
}

@media (min-width: 641px) {
  .gem-c-feedback--top-margin {
      margin-top:60px
  }
}

.gem-c-feedback__js-show,.gem-c-feedback__form,.gem-c-feedback__prompt-success,.gem-c-feedback__js-prompt-questions,.gem-c-feedback__error-summary {
  display: none
}

.js-enabled .gem-c-feedback__js-show,.js-enabled .gem-c-feedback__form,.js-enabled .gem-c-feedback__prompt-success,.js-enabled .gem-c-feedback__js-prompt-questions,.js-enabled .gem-c-feedback__error-summary {
  display: block
}

.js-enabled .gem-c-feedback__js-show.js-hidden,.js-enabled .gem-c-feedback__form.js-hidden,.js-enabled .gem-c-feedback__prompt-success.js-hidden,.js-enabled .gem-c-feedback__js-prompt-questions.js-hidden,.js-enabled .gem-c-feedback__error-summary.js-hidden {
  display: none
}


.gem-c-feedback__prompt {
  background-color: #005ea5;
  color: #fff;
  padding: 10px 15px 0;
  outline: 0
}

.gem-c-feedback__prompt-question,.gem-c-feedback__prompt-success {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  display: inline-block;
  margin: 0
}

@media (min-width: 641px) {
  .gem-c-feedback__prompt-question,.gem-c-feedback__prompt-success {
      font-size:19px;
      line-height: 1.3157894737
  }
}


@media (min-width: 641px) {
  .gem-c-feedback__prompt-question,.gem-c-feedback__prompt-success {
      font-family:"nta", Arial, sans-serif;
      font-weight: 700;
      text-transform: none;
      font-size: 14px;
      line-height: 1.1428571429;
      float: left
  }
}

@media (min-width: 641px) and (min-width: 641px) {
  .gem-c-feedback__prompt-question,.gem-c-feedback__prompt-success {
      font-size:16px;
      line-height: 1.25
  }
}

.gem-c-feedback__prompt-link {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-left: 15px
}


@media (min-width: 641px) {
  .gem-c-feedback__prompt-link {
      font-size:19px;
      line-height: 1.3157894737
  }
}

@media (min-width: 641px) {
  .gem-c-feedback__prompt-link {
      font-family:"nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 14px;
      line-height: 1.1428571429;
      float: left;
      margin-left: 10px
  }
}

@media (min-width: 641px) and (min-width: 641px) {
  .gem-c-feedback__prompt-link {
      font-size:16px;
      line-height: 1.25
  }
}

.gem-c-feedback__prompt-link:link,.gem-c-feedback__prompt-link:visited {
  color: #fff
}


.gem-c-feedback__prompt-link--wrong {
  display: block;
  clear: both;
  margin-top: 15px;
  margin-left: 0
}

@media (min-width: 641px) {
  .gem-c-feedback__prompt-link--wrong {
      float:right;
      clear: none;
      margin-top: 0;
      margin-left: 10px
  }
}

.gem-c-feedback__form {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 10px solid #005ea5
}

@media (min-width: 641px) {
  .gem-c-feedback__form {
      padding:30px 0
  }
}


.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

#wrapper {
  max-width: 960px;
  margin: 0 15px
}

@media (min-width: 641px) {
  #wrapper {
      margin:0 30px
  }
}

@media (min-width: 1020px) {
  #wrapper {
      margin:0 auto
  }
}


.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

.gem-c-feedback__grid-row:after,#finder-frontend header:after,#finder-frontend .filtering:after,.gem-c-breadcrumbs ol:after,.gem-c-feedback__prompt:after,.gem-c-govspeak .attachment:after,.gem-c-govspeak .contact:after,.gem-c-image-card:after,.gem-c-metadata:after,.gem-c-translation-nav__list:after,.search #results:after {
  content: "";
  display: block;
  clear: both
}

#wrapper {
  max-width: 960px;
  margin: 0 15px
}

@media (min-width: 641px) {
  #wrapper {
      margin:0 30px
  }
}

@media (min-width: 1020px) {
  #wrapper {
      margin:0 auto
  }
}


.gem-c-search {
  position: relative;
  margin-bottom: 30px
}

.gem-c-search__label {
  display: block
}

.gem-c-search__label h1 {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 40px;
  margin: 0
}

@media (min-width: 641px) {
  .gem-c-search__label h1 {
      font-size:19px;
      line-height: 40px
  }
}

.gem-c-search__input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.75;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px;
  margin: 0.5em 0;
  width: 100%;
  height: 40px;
  border: 0;
  background: #fff;
  border-radius: 0
}

@media (min-width: 641px) {
  .gem-c-search__input[type="search"] {
      font-size:19px;
      line-height: 1.4736842105
  }
}


.gem-c-search__submit {
  padding: 6px;
  border: 0;
  cursor: pointer;
  border-radius: 0
}


.js-enabled .gem-c-search__label {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 40px;
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 1;
  color: #6f777b
}

@media (min-width: 641px) {
  .js-enabled .gem-c-search__label {
      font-size:19px;
      line-height: 40px
  }
}

.gem-c-search__item-wrapper {
  display: table;
  width: 100%;
  background: #fff
}

.gem-c-search__item {
  position: relative;
  display: table-cell;
  vertical-align: top
}

.gem-c-search__input[type="search"] {
  margin: 0
}

.gem-c-search__input[type="search"]:focus,.gem-c-search__input[type="search"].focus {
  z-index: 2
}

.gem-c-search__submit-wrapper {
  width: 1%
}

.gem-c-search__submit {
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(https://assets.publishing.service.gov.uk/finder-frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden
}


.gem-c-search--on-white .gem-c-search__label {
  color: #0b0c0c
}

.gem-c-search--on-white .gem-c-search__input[type="search"] {
  border: solid 1px #bfc1c3
}

.gem-c-search--on-white .gem-c-search__submit {
  background-color: #2b8cc4;
  color: #fff
}


.gem-c-search--on-white .gem-c-search__input[type="search"] {
  border-right: 0
}

.js-enabled .gem-c-search--on-white .gem-c-search__label {
  color: #6f777b
}

.gem-c-search--large .gem-c-search__label {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 50px
}

@media (min-width: 641px) {
  .gem-c-search--large .gem-c-search__label {
      font-size:19px;
      line-height: 50px
  }
}

.gem-c-search--large .gem-c-search__input[type="search"] {
  height: 50px
}

.gem-c-search--large .gem-c-search__submit {
  width: 50px;
  height: 50px;
  background-position: 8px 50%
}


.gem-c-search--separate-label .gem-c-search__label {
  position: relative;
  left: auto
}


.search {
  padding-bottom: 30px
}

@media (min-width: 641px) {
  .search {
      padding-bottom:60px
  }
}

.search h1 {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 10px
}

@media (min-width: 641px) {
  .search h1 {
      font-size:24px;
      line-height: 1.25
  }
}

.search strong {
  font-weight: 600
}

.search .search-header {
  position: relative;
  margin: 0;
  padding: 30px 0 15px;
  overflow: visible
}

@media (min-width: 641px) {
  .search .search-header {
      padding:45px 0 30px;
      width: 66.666%
  }
}

.search .search-header h1 {
  color: #0b0c0c
}

@media (min-width: 641px) {
  .search #results {
      margin:0 -15px
  }
}

@media (min-width: 641px) {
  .search #results .inner-block {
      padding:0 15px
  }
}

.results-block {
  font-family: "nta", Arial, sans-serif;
}

@media (min-width: 641px) {
  .search #results .results-block {
      float:left;
      width: 66.6666666667%
  }
}

.search #results .results-block mark {
  background-color: transparent;
  color: inherit;
  font-weight: bold
}

.search #results .results-block .result-count {
  padding: 0
}

@media (min-width: 641px) {
  .search #results .results-block .scoped-result-count {
      font-size:21px
  }
}

.search #results .results-block .scoped-result-count a {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  padding-top: 8px;
  padding-bottom: 7px
}

@media (min-width: 641px) {
  .search #results .results-block .scoped-result-count a {
      font-size:16px;
      line-height: 1.25
  }
}

@media (min-width: 641px) {
  .search #results .results-block .scoped-result-count a {
      padding-top:5px;
      padding-bottom: 5px
  }
}

.search #results .results-block .results-list {
  padding: 30px 0;
  list-style: none;
  margin: 0
}


.search #results .results-block .results-list li {
  max-width: 32.5em;
  margin: 0;
  padding: 0 0 15px
}

@media (min-width: 641px) {
  .search #results .results-block .results-list li {
      padding:0 0 25px
  }
}


.search #results .results-block .results-list li.descoped-results {
  border-left: 4px solid #005ea5;
  padding: 15px 0 0 15px;
  margin-bottom: 30px
}

.search #results .results-block .results-list li.descoped-results .descope-message {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429
}

@media (min-width: 641px) {
  .search #results .results-block .results-list li.descoped-results .descope-message {
      font-size:16px;
      line-height: 1.25
  }
}

.search #results .results-block .results-list li.descoped-results ol {
  padding: 15px 0 0
}

.search #results .results-block .results-list h3 {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 2px
}

@media (min-width: 641px) {
  .search #results .results-block .results-list h3 {
      font-size:24px;
      line-height: 1.25
  }
}

.search #results .results-block .results-list h3 a {
  font-weight: bold;
  text-decoration: none
}

.search #results .results-block .results-list h3 a:visited mark {
  color: #4c2c92
}

.search #results .results-block .results-list h3 a:hover,.search #results .results-block .results-list h3 a:focus,.search #results .results-block .results-list h3 a:hover mark,.search #results .results-block .results-list h3 a:focus mark {
  color: #005ea5;
  text-decoration: underline
}

.search #results .results-block .results-list p {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  margin: 0;
  padding: 0
}

@media (min-width: 641px) {
  .search #results .results-block .results-list p {
      font-size:16px;
      line-height: 1.25
  }
}


.search #results .results-block .results-list li {
  max-width: 32.5em;
  margin: 0;
  padding: 0 0 15px
}

@media (min-width: 641px) {
  .search #results .results-block .results-list li {
      padding:0 0 25px
  }
}

.visuallyhidden{
  display:none;
}