{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">User Centered Funding Rules (UCFR) - Prototype</h1>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
            <li>
                <a href="/5-0/manual-setup" class="govuk-link govuk-link--no-visited-state">V-5-0</a>
            </li>
            <li>
                <a href="/4-0/manual-setup" class="govuk-link govuk-link--no-visited-state">V-4-0</a>
            </li>
            <li>
                <a href="/3-0/manual-setup" class="govuk-link govuk-link--no-visited-state">V-3-0</a> (tested: 10-21/12/2018)
            </li>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <li>
                <a href="/prototypes/round-2/index" class="govuk-link govuk-link--no-visited-state">V-2-0</a> (tested: 13-22/11/2018)
            </li>
            <li>
                <a href="/prototypes/round-1/index" class="govuk-link govuk-link--no-visited-state">V-1-0</a> (tested: 22-29/10/2018)
            </li>
        </ul>
    </div>
</div>

{% endblock %}